{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="margin-top: 5rem;">
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="text-center card-body">
                    <img src="{% if object.avatar %}{{ object.avatar.url }}{% else %} {% endif %}"
                         alt="{{ object.user.first_name }} {{ object.user.last_name }}"
                         class="img-fluid rounded-circle mb-2" width="128" height="128">
                    <div class="card-header">
                        <div class="mb-0 card-title h5">{{ object.user.username }}</div>
                    </div>
                    <div class="mb-0 card-title h5">{{ object.full_name }}</div>
                    <div class="text-muted mb-2">{{ object.company }}</div>
                    <div>
                        <button type="button" class="me-1 btn btn-primary btn-sm">Follow</button>
                        <button type="button" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                            </svg>
                            Message
                        </button>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="card-title h5">Interests</div>
                    {% if object.user.interests %}
                        {% for category in object.user.interests.set %}
                            <span class="me-2 my-1 badge bg-primary">{{ category }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <div class="card-title h5">Profile info</div>
                    <h6 class="card-subtitle mb-2 text-muted">Website:</h6>
                    <p>{{ object.website }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Phone:</h6>
                    <p>{{ object.phone }}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Description:</h6>
                    {% if object.description %}
                        <p>{{ object.description }}</p>
                    {% else %}
                        <p>{% lorem %}</p>
                    {% endif %}
                    <hr class="my-2">
                    {% if user.pk == object.user.pk %}
                        <a href="{% url 'update-profile' user.pk %}" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                            </svg>
                            Update my Profile
                        </a>
                        <a href="{% url 'create-address' %}" class="btn btn-primary btn-sm">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-house-add" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                            </svg>
                            Create new address
                        </a>
                        <hr class="my-2">
                        <h5 class="card-title">
                            My addresses
                        </h5>
                        <p><small>The address allows you to search for offers within a certain radius from it.</small>
                        </p>
                        <div class="list-group">
                            {% for address in object.user.addresses.all %}
                                <a href="{% url 'address-detail' address.pk %}" class="list-group-item list-group-item-">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-house-add" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                    {{ address.address_name }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <h3>Profile offers</h3>
            {% include 'include/offer_table.html' %}
        </div>
    </div>
{% endblock %}