{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="account-details">
        <div class="container">
            <div class="account-details-block personal-info">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/personal-info-icon.svg' %}" alt="">
                        Personal information
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="" class="toggler-arrow">
                </div>
                <div class="block-content">
                    <form method="post">
                        <div class="input-wrapper">
                            <label for="email">Email Address</label>
                            <input type="email" name="email" value="jenn@gmail.com">
                        </div>
                        <div class="input-wrapper">
                            <label for="first_name">First name</label>
                            <input type="text" name="first_name" value="Jenny">
                        </div>
                        <div class="input-wrapper">
                            <label for="phone">Phone number</label>
                            <input type="tel" name="phone" value="(505) 555-0125">
                        </div>
                        <div class="input-wrapper">
                            <label for="last_name">Last name</label>
                            <input type="text" name="last_name" value="Wilson">
                        </div>
                        <button></button>
                    </form>
                </div>
            </div>
            <div class="account-details-block billing-address">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/personal-info-icon.svg' %}" alt="">
                        Billing Address
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="" class="toggler-arrow">
                </div>
            </div>
            <div class="account-details-block change-password">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/change-pass-icon.svg' %}" alt="">
                        Change password
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="" class="toggler-arrow">
                </div>
            </div>
            <div class="account-details-block orders">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/personal-info-icon.svg' %}" alt="">
                        Orders
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="" class="toggler-arrow">
                </div>
            </div>
        </div>
    </section>


    <div class="container">
        <div id="profileBlock" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <h3>Tabs menu</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">My info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">My billing address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My orders</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'password_change' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning m-2" type="submit">change password</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-danger m-2" type="submit">logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div id="profileInfo">
                        <h3>Profile Info</h3>
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <th>Card name</th>
                                <td>{{ object.profile.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ object.profile.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="billingAddress">
                        <h3>Billing Address</h3>
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <th>Phone</th>
                                <td>{{ object.profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="col">City</th>
                                <td>{{ object.profile.address_city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>{{ object.profile.address_country }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 1</th>
                                <td>{{ object.profile.address_line1 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 2</th>
                                <td>{{ object.profile.address_line2 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Postal code</th>
                                <td>{{ object.profile.address_postal_code }}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ object.profile.address_state }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'address-update' %}" class="btn btn-warning">Update</a>
                    </div>
                    <div id="shippingAddress">
                        <h3>Shipping Address</h3>
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <th scope="col">City</th>
                                <td>{{ object.profile.shipping_address_city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>{{ object.profile.shipping_address_country }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 1</th>
                                <td>{{ object.profile.shipping_address_line1 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 2</th>
                                <td>{{ object.profile.shipping_address_line2 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Postal code</th>
                                <td>{{ object.profile.shipping_address_postal_code }}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ object.profile.shipping_address_state }}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ object.profile.shipping_phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ object.profile.shipping_name }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'shipping-address-update' %}" class="btn btn-warning">Update</a>
                    </div>
                    <div id="myOrders">
                        <h3>My orders</h3>
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date & Time</th>
                                <th scope="col">Total price</th>
                                <th scope="col">Status</th>
                                <th scope="col">File</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if object.product_set.all %}
                                {% for product in object.product_set.all %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.created_at|date }}</td>
                                        <td>{{ product.full_name }}</td>
                                        <td>{{ product.date_of_start }} | {{ product.time_of_start }}</td>
                                        <td>{{ product.total_price }}</td>
                                        <td>{{ product.status }}</td>
                                        <td>
                                            {% if product.status == 'Payment' %}<a href="#" class="btn btn-success">Get PDF file</a>
                                            {% else %}Not allowed
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}