{% extends 'base.html' %}
{% load static %}

{% load compress %}
{% load sass_tags %}

{% block title %}
    My Profile
{% endblock %}
{% block title_suffix %}
    | One Day Tours Portugal
{% endblock title_suffix %}

{% block extended_css %}
    {% compress css %}
    <link href="{% sass_src 'custom_css/account.scss' %}" rel="stylesheet" type="text/css"/>
    {% endcompress %}
{% endblock %}

{% block content %}
    <section class="account-details">
        <div class="container">
            <div class="account-details-block personal-info open">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        
                        <img src="{% if object.profile.avatar %}{{ object.profile.avatar.url }}{% else %}{% static 'icons/personal-info-icon.svg' %}
                                  {% endif %}" alt="profile avatar image">
                        Personal information
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="arrow" class="toggler-arrow">
                </div>
                <div class="info-wrapper">
                    <div class="block-content">
                        <div class="input-wrapper">
                            <p class="label">Email Address</p>
                            <p class="info-text">{{ object.email }}</p>
                        </div>
                        <div class="input-wrapper">
                            <p class="label">Full Name</p>
                            <p class="info-text">{{ object.name }}</p>
                        </div>
                        <div class="input-wrapper">
                            <p class="label">Phone Number</p>
                            <p class="info-text">{{ object.phone }}</p>
                        </div>
                        <div class="avatar-wrapper">
                            {% if object.profile.avatar %}
                                <img src="{{ object.avatar.url }}" alt="Avatar" width="100" height="100">
                            {% else %}
                                <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar" width="100" height="100">
                            {% endif %}
                        </div>
                        <div class="btn-wrapper">
                            <a class="edit-profile-btn" href="{% url 'profile-info-update' %}">Edit</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="account-details-block billing-address">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/personal-info-icon.svg' %}" alt="personal info icon">
                        Billing Address
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="arrow icon" class="toggler-arrow">
                </div>
                <div class="info-wrapper">
                    <div class="block-content">
                        <div class="input-wrapper">
                            <p class="label">Address 1</p>
                            <p class="info-text">{{ object.address_line1 }}</p>
                        </div>
                        <div class="input-wrapper">
                            <p class="label">Postcode/Zip code</p>
                            <p class="info-text">{{ object.address_postal_code }}</p>
                        </div>
                        <div class="input-wrapper">
                            <p class="label">Address 2</p>
                            <p class="info-text">{{ object.address_line2 }}</p>
                        </div>
                        <div class="input-wrapper">
                            <p class="label">Country</p>
                            <p class="info-text">{{ object.address_country }}</p>
                        </div>
                        <div class="btn-wrapper">
                            <a class="edit-profile-btn" href="{% url 'address-update' %}">Edit</a>
                        </div>
                        
                    
                </div>
                
                </div>
            </div>
            <div class="account-details-block change-password">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/change-pass-icon.svg' %}" alt="change password icon">
                        Change password
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="arrow icon" class="toggler-arrow">
                </div>
                <div class="info-wrapper">
                    <form method="post" action="{% url 'password_change' %}">
                        {% csrf_token %}
                        <button class="change-password-btn" type="submit">change password</button>
                    </form>
                </div>
            </div>
            <div class="account-details-block orders">
                <div class="title-wrapper">
                    <h5 class="account-details-title">
                        <img src="{% static 'icons/personal-info-icon.svg' %}" alt="personal info icon">
                        Orders
                    </h5>
                    <img src="{% static 'icons/toggler-arrow-icon.svg' %}" alt="arrow icon" class="toggler-arrow">
                </div>
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th scope="col" class="table-header-title date">Booking Date</th>
                        <th scope="col" class="table-header-title Name">Name</th>
                        <th scope="col" class="table-header-title start-date">Start Date & Time</th>
                        <th scope="col" class="table-header-title price">Total price</th>
                        <th scope="col" class="table-header-title status">Status</th>
                        <th scope="col" class="table-header-title status">PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object.user.product_set.all %}
                        {% for product in object.user.product_set.all %}
                            <tr>
                                <td>{{ product.created_at|date }}</td>
                                <td>{{ product.full_name }}</td>
                                <td>{{ product.date_of_start }} | {{ product.time_of_start }}</td>
                                <td>€{{ product.total_price }}</td>
                                <td>{{ product.status }}</td>
                                <td>
                                    {% if product.status == 'Payment' %}
                                    <a href="{% url 'generate-pdf' product.random_order_number %}" class="btn btn-type-2">
                                        download pdf
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="logout-wrapper">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-logout" type="submit">
                        <img src="{% static 'icons/logout-icon.svg' %}" alt="logout icon">
                        log out
                    </button>
                </form>
            </div>
        </div>
    </section>


    <script>
        let accountDetailsBlocks = document.querySelectorAll('.account-details-block');
        accountDetailsBlocks.forEach((block) => {
            let titleArrow = block.querySelector('.toggler-arrow');
            block.addEventListener('click', (e) => {
                if (block.classList.contains('open')) {
                return;
            }
            accountDetailsBlocks.forEach((otherBlock) => {
                if (otherBlock !== block && otherBlock.classList.contains('open')) {
                    otherBlock.classList.remove('open');
                }
            });
            block.classList.add('open');
            })
        })
    </script>

    <!-- <div class="container">
        <div id="profileBlock" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <h3>Tabs menu</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">My info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">My billing address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My orders</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'password_change' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning m-2" type="submit">change password</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="btn btn-danger m-2" type="submit">logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div id="profileInfo">
                        <h3>Profile Info</h3>
                        {% if review.profile.avatar %}
                            <img src="{{ review.profile.avatar.url }}" alt="Avatar" width="100" height="100">
                        {% else %}
                            <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar" width="100" height="100">
                        {% endif %}
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <th>Card name</th>
                                <td>{{ object.profile.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ object.profile.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{ object.profile.phone }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'profile-info-update' %}" class="btn btn-warning">Update</a>
                    </div>
                    <div id="billingAddress">
                        <h3>Billing Address</h3>
                        <table class="table table-responsive">
                            <tbody>
                            <tr>
                                <th scope="col">City</th>
                                <td>{{ object.profile.address_city }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Country</th>
                                <td>{{ object.profile.address_country }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 1</th>
                                <td>{{ object.profile.address_line1 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address Line 2</th>
                                <td>{{ object.profile.address_line2 }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Postal code</th>
                                <td>{{ object.profile.address_postal_code }}</td>
                            </tr>
                            <tr>
                                <th scope="row">State</th>
                                <td>{{ object.profile.address_state }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'address-update' %}" class="btn btn-warning">Update</a>
                    </div>

                    <div id="myOrders">
                        <h3>My orders</h3>
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Product ID</th>
                                <th scope="col">Booking Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Start Date & Time</th>
                                <th scope="col">Total price</th>
                                <th scope="col">Status</th>
                                <th scope="col">File</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if object.product_set.all %}
                                {% for product in object.product_set.all %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.created_at|date }}</td>
                                        <td>{{ product.full_name }}</td>
                                        <td>{{ product.date_of_start }} | {{ product.time_of_start }}</td>
                                        <td>{{ product.total_price }}</td>
                                        <td>{{ product.status }}</td>
                                        <td>
                                            {% if product.status == 'Payment' %}<a href="#" class="btn btn-success">Get PDF file</a>
                                            {% else %}Not allowed
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{% endblock %}