{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                <div class="card" style="margin-top: 40px; margin-bottom: 40px; position: relative; width: 90%;">
                    <div class="card-body">
                        <h5 class="card-title">Login Form</h5>
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" value="Login">
                            <input type="hidden" name="next" value="{{ next }}">
                        </form>
                        {# Assumes you set up the password_reset view in your URLconf #}
                        <p style="margin-top: 20px; position: relative;"><a href="{% url 'password_reset' %}">Lost
                            password?</a></p>
                        <p>Don't have account?</p>
                        <p style="margin-top: 20px; position: relative;"><a href="{% url 'signup' %}" class="btn btn-warning"> Register free a new here.</a></p>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2"></div>
        </div>
    </div>
{% endblock %}