{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_suffix %}
    SignUp
{% endblock title_suffix %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-lg-2"></div>
            <div class="col-md-auto">
                        <form method="post" action="{% url 'signup' %}" style="margin: 2rem;">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-primary" type="submit" value="Register">
                        </form>
            </div>
            <div class="col col-lg-2"></div>
        </div>
    </div>
{% endblock %}