{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="destination-list-hero">
        <div class="container">
            <h1 class="destination-list-hero-title">
                Destinations <span>with</span>
                <img src="{% static 'icons/main-logo.svg' %}" alt="Destination logo">
            </h1>
        </div>
    </section>

    <section class="destinations-list">
        <div class="container">
            <ul class="destinations">
                {% if object_list %}
                    {% for object in object_list %}
                        <li class="destinations-list-item">
                            <div class="list-item-img-wrapper">
                                <img src="{% if object.parent_destination.card_image %}
                                    {{ object.parent_destination.card_image.url }}
                                    {% else %}{% endif %}" alt="Card image for {{ object.name }}">
                            </div>
                            <div class="destination-list-content-wrapper">
                                <h4>
                                    {{ object.name }}
                                </h4>
                                <ul class="main-info-list">
                                    <li>40 minutes</li>
                                    <li>Small group</li>
                                    <li>Small group</li>
                                    <li>Small group</li>
                                </ul>
                                <p class="destination-list-item-text">
                                    {{ object.short_introduction_text }}
                                </p>
                                <a href="{% url 'destination-detail'  lang=object.language.code.lower slug=object.slug %}"
                                   class="destination-link-btn">
                                    see more
                                    <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            
        <br>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if is_paginated %}
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </nav>
            <hr>
            <div class="pagination-block">
                <button class="pagination-btn prev disabled">
                    <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                    <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                </button>
                <ul class="pagination-list">
                    <li class="pagination-list-item active">1</li>
                    <li class="pagination-list-item">2</li>
                    <li class="pagination-list-item">3</li>
                </ul>
                <button class="pagination-btn next">
                    <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                    <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                </button>
            </div>
        </div>
    </section>


    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
{% endblock %}
