{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ object.page_title }}
{% endblock %}
{% block title_suffix %}
    | One Day Tours Portugal
{% endblock title_suffix %}

{% block meta_tags %}
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
{% endblock meta_tags %}

{% block content %}

    <section class="destination-hero">
        <div class="destination-banner">
            <img src="{% if object.parent_destination.banner %}{{ object.parent_destination.banner.url }}{% else %}{% endif %}"
                 alt="{{ object.parent_destination.banner.name }}">
        </div>
        <div class="destination-container container">

            <h1 class="destination-hero-title text-color-second" style="z-index: 2;">
                {{ object.display_main_title }}
                <img src="{% static 'icons/main-logo.svg' %}" alt="" style="z-index: 2;">
            </h1>
            <p class="destination-hero-subtitle body-text-b2">
                {{ object.main_subtitle }}
            </p>
        </div>
    </section>
    <section class="what-to-see">
        <div class="container">
            <h2 class="what-to-see-title">
                {{ object.display_introduction_title }}
            </h2>
            <p class="what-to-see-subtitle body-text-b2">
                {{ object.introduction_subtitle }}
            </p>
            {{ object.display_introduction_text }}

        </div>
    </section>
    <section class="experience">
        <div class="container">
            <h2 class="experience-title">
                Discover Portugal
            </h2>
            <p class="experience-subtitle body-text-b1">
                Explore the diversity of Portugal through new experiences of culture, cuisine and historical treasures
            </p>
            <div class="experience-cards-wrapper">
                {% if object.recommended_experiences.all %}
                    {% for experience in object.recommended_experiences.all %}
                        <div class="experience-card">
                            <a target="_blank" href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}" class="">
                                <img src="{{ experience.parent_experience.card_image.url }}" alt="card image for {{ experience.name }}" class="experience-card-img">
                            </a>
                            
                            <p class="experience-card-title body-text-b3">{{ experience.name }}</p>
                            <p class="experience-card-text body-text-b4">{{ experience.short_description }}</p>
                            <a target="_blank" href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}" class="experience-card-link">
                                book now
                                <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <a href="{% url 'experience-list' lang=object.language.code.lower %}" class="experience-link-more btn-type-2">
                see more experiences
            </a>
        </div>
    </section>
    <section class="all-about">
        <div class="container">
            <h2 class="all-about-title">
                {{ object.all_about_title }} {{ object.name }}
            </h2>
            <div class="all-about-cards-wrapper">
                <div class="all-about-card">
                    <div class="card-img-wrapper">
                        <img src="{% static 'images/about-img1.png' %}" alt="all about image">
                    </div>
                    <div class="card-text-content-wrapper">
                        <h5 class="card-title">
                            {{ object.when_to_visit_title }}
                        </h5>

                        {{ object.display_when_to_visit_text }}

                    </div>
                </div>
                <div class="all-about-card">
                    <div class="card-img-wrapper">
                        <img src="{% static 'images/about-img2.png' %}" alt="all about image">
                    </div>
                    <div class="card-text-content-wrapper">
                        <h5 class="card-title">
                            {{ object.getting_around_title }}
                        </h5>

                        {{ object.display_getting_around_text }}

                    </div>
                </div>
                <div class="all-about-card">
                    <div class="card-img-wrapper">
                        <img src="{% static 'images/about-img3.png' %}" alt="all about image">
                    </div>
                    <div class="card-text-content-wrapper">
                        <h5 class="card-title">
                            {{ object.travel_tips_title }}
                        </h5>
                        {{ object.display_travel_tips_text }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top-attractions">
        <div class="container">
            <h2 class="top-attractions-title">
                {{ object.top_attractions_title }}
            </h2>
            <p class="top-attractions-subtitle body-text-b2">
                {{ object.top_attractions_subtitle }}
            </p>
            <div class="swiper-attractions">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    {% if object.top_attractions.all %}
                        {% for attraction in object.top_attractions.all %}
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <img src="{{ attraction.parent_attraction.card_image.url }}" alt="card image for {{ attraction.name }}"
                                     class="attraction-image">
                                <a href="{% url 'attraction-detail' lang=attraction.language.code.lower slug=attraction.slug %}">
                                    {{ attraction.name }}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
            <a href="{% url 'attraction-list' lang=object.language.code.lower %}" class="btn-type-2 top-attractions-link">
                see more attractions
            </a>
        </div>
    </section>
    <section class="also-interested">
        <div class="container">
            <h2 class="also-interested-title">
                {{ object.recommendations_title }}
            </h2>
            <p class="also-interested-subtitle body-text-b2">
                {{ object.recommendations_subtitle }}
            </p>
            <div class="swiper-also-interested">
                <div class="swiper-wrapper also-interested-cards-wrapper">
                    {% if object.be_interested_destinations.all %}
                        {% for destination in object.be_interested_destinations.all %}
                            <div class="also-interested-card swiper-slide">
                                <img src="{{ destination.parent_destination.card_image.url }}" alt="card image for {{ destination.name }}"
                                     class="also-interested-img">
                                <a href="{% url 'destination-detail' lang=destination.language.code.lower slug=destination.slug %}">
                                    <p class="body-text-b2 also-interested-card-title">{{ destination.name }}</p>
                                </a>
                                <p class="body-text-b3 also-interested-card-text">{{ destination.short_introduction_text }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="also-interested-more-info-wrapper">
                <h5 class="also-interested-more-info-title">
                    {{ object.recommendations_slogan }}
                </h5>
                <a href="{% url 'destination-list' lang=object.language.code.lower %}" class="btn-type-2 also-interested-info-link">
                    see more
                </a>
            </div>
        </div>
    </section>
    <section class="faq">
        <div class="container">
            <h2 class="faq-title">
                {{ object.faq_title }}
            </h2>
            <p class="faq-subtitle">
                {{ object.faq_subtitle }}
            </p>
            {% if object.faqdestination_set.all %}
                {% for record in object.faqdestination_set.all %}
                    <div class="faq-block">
                        <p class="faq-question">{{ record.question }}</p>
                        <div>{{ record.display_answer }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No FAQ yet written...</p>
            {% endif %}
        </div>
    </section>

    <script>

        const swiperTopAttraction = new Swiper(".swiper-attractions", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 14,
                    slidesPerView: 1.4,
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    centeredSlides: true,
                    loop: true,
                },
                767: {
                    slidesPerView: 2,
                    spaceBetween: 24,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },

        });


    </script>
    <script>
        console.log(window.innerWidth)
        if (window.innerWidth < 768) {

            const swiperAlsoInterested = new Swiper(".swiper-also-interested", {
                slidesPerView: 1.4,
                speed: 1000,
                spaceBetween: 14,
                centeredSlides: true,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        }
    </script>
    <script>
        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language 
        const currentLanguage = `{{ current_language }}`  // from response extra_context

    </script>
    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock %}
