{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- TODO add translate block for header -->
        <h1>Destinations List</h1>
        {% if object_list %}
            {% for object in object_list %}
                <div class="card mb-3" style="max-width: 90%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ object.parent_destination.card_image.url }}" class="img-fluid rounded-start" alt="Card image for {{ object.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ object.name }}</h5>
                                <p class="card-text">{{ object.short_introduction_text }}</p>
                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small>
                                </p>
                                <p><a href="{% url 'destination-detail'  lang=object.language.code.lower slug=object.slug %}">
                                    SEE MORE ...
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Pagination block -->

    </div>
    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
{% endblock %}
