<!-- custom_delete.html -->
{% extends "base.html" %}
{% load static %}
{% block content %}


    <div class="edit-cart-item-wrapper">
        <div class="container">
            <h2 class="edit-cart-item-title">
                Edit page
            </h2>
            <p class="name-tour-subtitle">
                Назва туру
            </p>
            <h3 class="name-tour-title">
                Experience name long-long-long  long-long-long  long-long-long    
            </h3>
            <div class="booking-form-wrapper">
                <form id="editBookingForm" method="post">
                    {% csrf_token %}
                    <div class="right-col">
                        <p class="body-text-b3-sb calendar-selection-title">Назва Date</p>
                        <div class="calendar">
                            <div class="month-controls">
                                <button id="prevMonth" type="button">
                                    <img src="{% static 'icons/calendar-month-arrow.svg' %}" alt="">
                                    <img class="icon-disabled" src="{% static 'icons/calendar-month-arrow-disabled.svg' %}" alt="">
                                </button>
                                <span id="currentMonth"></span>
                                <button id="nextMonth" type="button">
                                    <img src="{% static 'icons/calendar-month-arrow.svg' %}" alt="">
                                </button>
                            </div>
                            <div class="day-labels">
                                <span>Sun</span>
                                <span>Mon</span>
                                <span>Tue</span>
                                <span>Wed</span>
                                <span>Thu</span>
                                <span>Fri</span>
                                <span>Sat</span>
                            </div>
                            <div class="calendar-grid" id="calendarGrid"></div>
                        </div>
                    </div>
                    
                    <div class="left-col">
                        <p class="body-text-b3-sb time-selection-title">Choose time</p>
                        <div class="time-selection">
                            <div class="input-wrapper">
                                <input type="radio" id="time1" name="time" value="9:00">
                                <label for="time1">9:00</label>
                            </div>
                            <div class="input-wrapper">
                                <input type="radio" id="time2" name="time" value="12:00">
                                <label for="time2">12:00</label>
                            </div>
                            <div class="input-wrapper">
                                <input type="radio" id="time3" name="time" value="15:00">
                                <label for="time3">15:00</label>
                            </div>
                            <div class="input-wrapper">
                                <input type="radio" id="time4" name="time" value="18:00">
                                <label for="time4">18:00</label>
                            </div>
                    
                        </div>
                    
                        <div class="ticket-selection">
                            <p class="body-text-b3-sb ticket-selection-title">People</p>
                            <div class="ticket-type">
                                <p class="ticket-type-title">Adults</p>
                                <button class="decrement" type="button">
                                    <img src="{% static 'icons/decrement-icon.svg' %}" alt="decrement">
                                </button>
                                <input type="text" class="ticket-count" value="0" readonly id="adultTicketCount">
                                <button class="increment" type="button">
                                    <img src="{% static 'icons/increment-icon.svg' %}" alt="increment">
                                </button>
                                <p class="total-price" id="adultTotalPrice">$0</p> <!-- Added ID -->
                            </div>
                            <div class="ticket-type">
                                <p class="ticket-type-title">Children</p>
                                <button class="decrement" type="button">
                                    <img src="{% static 'icons/decrement-icon.svg' %}" alt="decrement">
                                </button>
                                <input type="text" class="ticket-count" value="0" readonly id="childTicketCount">
                                <button class="increment" type="button">
                                    <img src="{% static 'icons/increment-icon.svg' %}" alt="increment">
                                </button>
                                <p class="total-price" id="childTotalPrice">$0</p> <!-- Added ID -->
                            </div>
                        </div>
                    
                        <p class="body-text-b3-sb language-selection-title">Choose language</p>
                        <div class="language-selection">
                            <div class="input-wrapper" id="lang_PT" >
                                <input type="radio" id="lang1" name="language" value="PT">
                                <label for="lang1">
                                    <img src="{% static 'icons/pt-flag.svg' %}" alt="pt flag">
                                </label>
                            </div>
                            <div class="input-wrapper" id="lang_FR" >
                                <input type="radio" id="lang2" name="language" value="FR">
                                <label for="lang2">
                                    <img src="{% static 'icons/fr-flag.svg' %}" alt="fr flag">
                                </label>
                            </div>
                            <div class="input-wrapper" id="lang_ES" >
                                <input type="radio" id="lang3" name="language" value="ES">
                                <label for="lang3">
                                    <img src="{% static 'icons/es-flag.svg' %}" alt="es flag">
                                </label>
                            </div>
                            <div class="input-wrapper" id="lang_EN" >
                                <input type="radio" id="lang4" name="language" value="EN">
                                <label for="lang4">
                                    <img src="{% static 'icons/fr-flag.svg' %}" alt="en flag">
                                </label>
                            </div>
                        </div>
                        <div class="btns-wrapper">
                            <button type="button" class="btn btn-secondary" id="cancel-btn">Cancel</button>
                            <button type="submit" class="btn btn-danger" id="submitBtn">Save</button>
                        </div>
                        
                        
                    </div>
                    
                </form>
            </div> 
        </div>
        
        
    </div>
    <p>Here object data: </p>
    <p>{{ object }} </p>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            
        </form>
    </div>

    <script>
        document.getElementById("cancel-btn").onclick = function () {
            history.go(-1); // Go back one page in history
        };
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const prevMonthBtn = document.getElementById('prevMonth');
        const nextMonthBtn = document.getElementById('nextMonth');
        const currentMonthDisplay = document.getElementById('currentMonth');
        const calendarGrid = document.getElementById('calendarGrid');
        const ticketCounts = document.querySelectorAll('.ticket-count');
        const totalPriceDisplays = document.querySelectorAll('.total-price');
        const submitBtn = document.getElementById('submitBtn');
        let selectedDate = null;
        let currentDate = new Date();
        
        renderCalendar(currentDate);

        prevMonthBtn.addEventListener('click', function() {
            currentDate.setMonth(currentDate.getMonth() - 1);
            renderCalendar(currentDate);
        });

        nextMonthBtn.addEventListener('click', function() {
            currentDate.setMonth(currentDate.getMonth() + 1);
            renderCalendar(currentDate);
        });

        calendarGrid.addEventListener('click', function(event) {
            if (event.target.classList.contains('inactive')) return;
            const selectedDay = event.target.dataset.date;
            selectedDate = new Date(selectedDay);
            updateSelectedDate(selectedDate);
        });

        function renderCalendar(date) {
            calendarGrid.innerHTML = '';
            currentMonthDisplay.textContent = getMonthYearString(date);

            const today = new Date();
            if (date.getMonth() === today.getMonth() && date.getFullYear() === today.getFullYear()) {
                prevMonthBtn.disabled = true;
            } else {
                prevMonthBtn.disabled = false;
            }

            const firstDayOfMonth = new Date(date.getFullYear(), date.getMonth(), 1);
            const lastDayOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0);
            const startingDay = firstDayOfMonth.getDay();
            const totalDays = lastDayOfMonth.getDate();


            for (let i = 0; i < startingDay; i++) {
            const prevMonthDay = new Date(date.getFullYear(), date.getMonth(), -startingDay + i + 1);
            createCalendarDay(prevMonthDay, true);
            }

            for (let i = 1; i <= totalDays; i++) {
            const currentDay = new Date(date.getFullYear(), date.getMonth(), i);
            createCalendarDay(currentDay);
            }

            const tourPrice = 100;
            calendarGrid.querySelectorAll('.calendar-day').forEach(day => {
                const priceElement = document.createElement('span');
                priceElement.textContent = `$${tourPrice}`;
                day.appendChild(priceElement);
            });
        }

        function createCalendarDay(date, inactive = false) {
            const dayElement = document.createElement('div');
            dayElement.classList.add('calendar-day');
            if (inactive) {
                dayElement.classList.add('inactive');
            } else {
                // Создаем дату без учета часового пояса
                const isoDate = new Date(Date.UTC(date.getFullYear(), date.getMonth(), date.getDate())).toISOString();
                dayElement.dataset.date = isoDate;
            }
            dayElement.textContent = date.getDate();
            calendarGrid.appendChild(dayElement);
        }

        function getMonthYearString(date) {
            const monthNames = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            const month = monthNames[date.getMonth()];
            const year = date.getFullYear();
            return `${month} ${year}`;
        }

        calendarGrid.addEventListener('click', function(event) {
            if (event.target.classList.contains('inactive')) return;
            const selectedDay = event.target.dataset.date;
            selectedDate = new Date(selectedDay);
            updateSelectedDate(selectedDate);
        });


        // Функция обработки клика по дате
        function handleDateClick(event) {
            const clickedDateElement = event.target;
            const clickedDate = clickedDateElement.dataset.date;
            if (clickedDate) {
                // Удаляем класс у всех дат календаря
                calendarGrid.querySelectorAll('.calendar-day').forEach(day => {
                    day.classList.remove('selected-date');
                });
                // Подсвечиваем выбранную дату
                clickedDateElement.classList.add('selected-date');
            }
        }

        // Добавляем обработчик клика к календарю
        calendarGrid.addEventListener('click', handleDateClick);

        // Определение сегодняшней даты
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0');
        const day = String(today.getDate()).padStart(2, '0');
        const todayString = `${year}-${month}-${day}T00:00:00.000Z`;

        // Находим ячейку календаря для сегодняшней даты
        const todayCell = calendarGrid.querySelector(`[data-date="${todayString}"]`);
       

        // Если нашли ячейку, делаем ее активной
        if (todayCell) {
            todayCell.classList.add('selected-date');
            selectedDate = todayCell;
        }

        // Функция обновления выбранной даты
        function updateSelectedDate(date) {
            const formattedDate = date.toLocaleDateString('default', { weekday: 'long', month: 'long', day: 'numeric' });
            console.log('Выбрана дата:', formattedDate);

            // Дополнительные действия при выборе даты, например, обновление цены тура
            // Под каждой датой в календаре должна быть указана цена тура ($100)
            const tourPrice = 100;
            const priceElement = document.createElement('span');
            priceElement.textContent = `€${tourPrice}`;
            event.target.appendChild(priceElement);
        }

        function updateSelectedDate(date) {
            const formattedDate = date.toLocaleDateString('default', { weekday: 'long', month: 'long', day: 'numeric' });
            ticketCounts.forEach(count => count.value = 0);
            totalPriceDisplays.forEach(display => display.textContent = '$0');
            submitBtn.textContent = `add to cart`;
            selectedDate = date;
        }

        document.querySelectorAll('.increment').forEach(button => {
            button.addEventListener('click', function() {
            const ticketCount = this.previousElementSibling;
            const priceDisplay = this.nextElementSibling.nextElementSibling;
            let count = parseInt(ticketCount.value);
            count++;
            ticketCount.value = count;
            updateTotalPrice();
            });
        });

        document.querySelectorAll('.decrement').forEach(button => {
            button.addEventListener('click', function() {
            const ticketCount = this.nextElementSibling;
            const priceDisplay = this.nextElementSibling.nextElementSibling;
            let count = parseInt(ticketCount.value);
            if (count > 0) {
                count--;
                ticketCount.value = count;
                updateTotalPrice();
            }
            });
        });

        function updateTotalPrice() {
            let totalAdultTickets = 0;
            let totalChildTickets = 0;

            ticketCounts.forEach((count, index) => {
                const ticketType = index % 2 === 0 ? 'adult' : 'child';
                const ticketPrice = ticketType === 'adult' ? 100 : 50; // Цена для взрослых $100, для детей $50
                const ticketTotalPrice = parseInt(count.value) * ticketPrice;

                if (ticketType === 'adult') {
                    totalAdultTickets += ticketTotalPrice;
                } else {
                    totalChildTickets += ticketTotalPrice;
                }
            });

            totalPriceDisplays[0].textContent = `$${totalAdultTickets}`;
            totalPriceDisplays[1].textContent = `$${totalChildTickets}`;

            const totalPrice = totalAdultTickets + totalChildTickets;
            submitBtn.textContent = `${totalPrice} add to cart`;
        }

        submitBtn.addEventListener('click', function() {
            const totalPrice = parseInt(totalPriceDisplays[0].textContent.replace('$', ''));
            // Handle form submission here
        });
        });


        

</script>
{% endblock %}
