{% extends 'base.html' %}
{% load static %}

{% block title_suffix %}
    My Cart
{% endblock title_suffix %}

{% block content %}
    <div class="cart">
        <div class="container">
            <div class="cart-steps-wrapper">
                <ul class="cart-steps">
                    <li class="cart-step-item active">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            1 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            My experiences
                        </p>
                    </li>
                    <li class="cart-step-item">
                        <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            2 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            Billing details
                        </p>
                    </li>
                    <li class="cart-step-item">
                        <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            3 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            Confirmation
                        </p>
                    </li>
                </ul>
            </div>
            {% if object_list %}
                <div class="cart-title-wrapper">
                    <h2 class="cart-title">
                        Please review your order
                    </h2>
                    <p class="cart-title-info">
                       
                        <!-- Add a span element for the common timer -->
                        <strong> <img src="{% static 'icons/cart-info-icon.svg' %}" alt=""> <span id="common-timer" style="margin-right: 1rem;"></span></strong>
                        We've reserved a place in the experience for you. Please review your order and make payment to keep it.
                    </p>
                </div>
                <div class="cart-cards-info">
                    <div class="cart-card-col">
                        <h2 class="cart-cards-title">
                            Order details
                        </h2>
                        {% for object in object_list %}
                            <div class="cart-card" id="cart_card_{{ object.id }}">
                                <p class="card-title-mobile">
                                    {{ object.parent_experience.parent_name }}
                                </p>
                                <div class="img-wrapper">
                                    <p class="card-img-badge">
                                        {{ object.parent_experience.increase_percentage_old_price }}% discount 
                                    </p>
                                    <img src="{{ object.parent_experience.card_image.url }}" class="card-img"
                                         alt="card image preview for {{ object.parent_experience }}">
                                </div>
                                <div class="card-content-wrapper">
                                    <p class="card-title">
                                        {{ object.parent_experience.parent_name }}
                                    </p>
                                    <div class="card-content-inner-wrapper">
                                        <div class="card-col">
                                            <p class="card-col-title">
                                                Date
                                            </p>
                                            <p class="card-col-text date-value">
                                                {{ object.date_of_start }}
                                            </p>
                                            <p class="card-col-title">
                                                Language
                                            </p>
                                            <p class="card-col-text">
                                                {{ object.language }}
                                            </p>
                                        </div>
                                        <div class="card-col">
                                            <p class="card-col-title">
                                                Time
                                            </p>
                                            <p class="card-col-text time-value">
                                                {{ object.time_of_start }}
                                            </p>
                                            {% if object.parent_experience.is_private %}
                                                <p class="card-col-title">
                                                    Adult
                                                </p>
                                                <p class="card-col-text">
                                                    {{ object.adults_count }}
                                                </p>
                                            {% else %}
                                                <p class="card-col-title">
                                                    Adult Price
                                                </p>
                                                <p class="card-col-text">
                                                    {{ object.adults_count }} x €{{ object.adults_price }}
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="card-col">
                                            <p class="card-col-title">
                                                Experience type
                                            </p>
                                            <p class="card-col-text">
                                                {% if object.parent_experience.is_private %}Private{% else %}Group{% endif %}
                                            </p>
                                            {% if object.parent_experience.is_private %}
                                                <p class="card-col-title">
                                                    Children
                                                </p>
                                                <p class="card-col-text">
                                                    {{ object.child_count }}
                                                </p>
                                            {% else %}
                                                <p class="card-col-title">
                                                    Children Price
                                                </p>
                                                <p class="card-col-text">
                                                    {{ object.child_count }} x €{{ object.child_price }}
                                                </p>
                                            {% endif %}

                                        </div>
                                        <div class="card-col">
                                            <p class="card-col-title">
                                                Price
                                            </p>
                                            <p class="card-col-text">
                                                €{{ object.total_price }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="hover-block">
                                        <ul class="hover-block-btns-list">
                                            <li class="hover-block-item">
                                                <a href="{% url 'edit-product' object.pk %}">
                                                    <img src="{% static 'icons/cart-edit-icon.svg' %}" alt="edit">
                                                    <span>Edit</span>
                                                </a>
                                            </li>
                                            <li class="hover-block-item">
                                                <a href="{% url 'delete-product' object.pk %}">
                                                    <img src="{% static 'icons/cart-remove-icon.svg' %}" alt="remove">
                                                    <span>Delete</span>
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                    <div class="risk-free-banner">
                                        <img src="{% static 'icons/risk-free-icon.svg' %}" alt="risk free icon">
                                        <span>
                                            Risk free!
                                        </span>
                                        {% if object.free_cancellation_datetime %}
                                        <p class="risk-free-text">
                                            Free cancellation before  {{ object.free_cancellation_datetime }}
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>


                            </div>
                        {% endfor %}
                    </div>
                    <div class="cart-order-info-col">
                        <div class="order-info-wrapper">
                            <p class="price">
                                Price for {{ object_list|length }} experience(s)
                                <span>
                                €{% if old_price_sum %}{{ old_price_sum }}{% else %}0{% endif %}
                            </span>
                            </p>
                            <p class="price">
                                Processing fees
                                <span>
                                FREE
                            </span>
                            </p>
                            {% if discounted_price_sum %}
                            <div class="price discount">
                                <div class="icon-wrapper">
                                    <img src="{% static 'icons/flash-icon.svg' %}" alt="">
                                    Instant discount - €{{ discounted_price_sum }}
                                </div>
                                
                                <span>
                                 APPLIED
                                </span>
                            </div>
                            {% endif %}
                            <p class="total-price">
                                Total
                                <span>
                                €{% if total_price_sum %}{{ total_price_sum }}{% else %}0{% endif %}
                            </span>
                            </p>
                            <div class="price-match-banner">
                                <img src="{% static 'icons/info-icon.svg' %}" alt="info icon">
                                We price match. Find it for less, and we’ll match it! 
                            </div>
                            <a href="{% url 'payment-form' lang='en' %}" class="order-btn btn-type-1">
                                Checkout
                            </a>
                            <p class="secure-checkout">
                                <img src="{% static 'icons/lock-icon.svg' %}" alt="">
                                Secure Checkout
                            </p>
                        </div>
                        <div class="purchase-includes">
                            <h4 class="purchase-includes-title">
                                Your purchase includes:
                            </h4>
                            <ul>
                                <li>Best price on the market</li>
                                <li>Taxes and Fares</li>
                                <li>Free cancellation</li>
                                <li>Experiences developed by local experts</li>
                                <li>Personal and accident insurance</li>
                                <li>Discount for children</li>
                                <li>Award-winning customer support</li>
                            </ul>
                        </div>
                    </div>

                    <div class="purchase-includes purchase-includes-mobile">
                        <a href="{% url 'payment-form' lang='en' %}" class="order-btn-mobile btn-type-1">
                            Checkout
                        </a>
                        <h4 class="purchase-includes-title">
                            Your purchase includes:
                        </h4>
                        <ul>
                            <li>Best price on the market</li>
                            <li>Taxes and Fares</li>
                            <li>Free cancellation</li>
                            <li>Experiences developed by local experts</li>
                            <li>Personal and accident insurance</li>
                            <li>Discount for children</li>
                            <li>Award-winning customer support</li>

                        </ul>

                    </div>
                </div>


                </div>
            {% endif %}

    </div>
    {% if object_list %}
    {% else %}
        <div class="empty-cart-wrapper">
            <div class="container">
                <h2 class="empty-cart-title">
                    your basket is empty
                </h2>
                <img src="{% static 'images/empty-cart-icon.svg' %}" alt="" class="empty-cart-img">
                <a href="{% url 'experience-list' lang='en' %}" class="btn-type-1 empty-cart-btn">List of experiences</a>
            </div>
        </div>
    {% endif %}
    <!-- For language selector -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>

    <!-- JavaScript script for the timer -->
    <script>
        // Declare timer globally
        let commonTimer;
        let createdAt; // Variable to store the createdAt value
        let deadline; // Variable to store the deadline value
        
        // Function to update the common timer
        function updateCommonTimer() {
            const now = new Date();
            const timeDiff = (deadline - now) / 1000; // Time difference in seconds
            
            const minutes = Math.floor(timeDiff / 60);
            const seconds = Math.floor(timeDiff % 60);
            document.getElementById('common-timer').innerText = `${minutes}MIN ${seconds}SEC.`;
            
            // Check if the deadline has passed
            if (timeDiff <= 0) {
                clearInterval(commonTimer); // Stop the timer
                // Reset the deadline to 30 minutes from now
                deadline = new Date(Date.now() + (30 * 60 * 1000));
                // Restart the timer
                commonTimer = setInterval(updateCommonTimer, 1000);
                // Update the timer immediately
                updateCommonTimer();
            }
        }
        
        // Function to start the common timer with the provided createdAt value
        function startCommonTimer() {
            // Parse the createdAt string into a Date object in UTC
            const [dateStr, timeStr] = createdAt.split(' ');
            const [year, month, day] = dateStr.split('-').map(Number);
            const [hour, minute, second] = timeStr.split(':').map(Number);
            const createdAtDate = new Date(Date.UTC(year, month - 1, day, hour, minute, second));
            
            // Set the deadline to 30 minutes after the createdAt time
            deadline = new Date(createdAtDate.getTime() + (30 * 60 * 1000)); // 30 minutes in milliseconds
            
            // Update the timer every second
            commonTimer = setInterval(updateCommonTimer, 1000);
            
            // Update the timer immediately
            updateCommonTimer();
        }
    
        // Call the function to start the common timer after the DOM has fully loaded
        document.addEventListener("DOMContentLoaded", function () {
            // Get the createdAt value from the template variable
            createdAt = '{{ last_created_at|date:"Y-m-d H:i:s" }}';
            
            if (createdAt) {
                // Start the common timer with the provided createdAt value
                startCommonTimer();
            }
        });
    </script>
{% endblock %}
{% block footer_columns %}{% endblock %}
