{% load static %}
<div class="container">
    <div class="header-top-row">
        <div class="header-left-col">
            <div class="header-logo-wrapper">
                <a href="{% url 'home' %}" class="logo-link" id="home-link">
                    <img src="{% static 'icons/logo_black.svg' %}" alt="Logo">
                </a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">
    
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle body-text-b3" role="button" aria-current="page"
                               data-bs-toggle="dropdown" href="#">Lisbon Things To Do</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <h2 class="mobile-dropdown-title">
                                        <img src="{% static 'images/language-arrow.png' %}" alt="">
                                        Lisbon Things To Do
                                    </h2>
                                    <h3 class="dropdown-title">
                                        <a href="{% url 'experience-list' lang='en' %}">
                                            Top experiences
                                        </a>
                                    </h3>
                                    {% for experience in top_experiences %}
                                        <a class="dropdown-item"
                                           href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}">{{ experience.name }}</a>
                                    {% endfor %}
                                    <a href="{% url 'experience-list' lang='en' %}" class="dropdown-item-link">
                                        see all
                                        <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                                    </a>
                                </li>
                                <li>
    
                                    <h3 class="dropdown-title">
                                        <a href="{% url 'attraction-list' lang='en' %}">
                                            Top Attractions
                                        </a>
                                    </h3>
                                    {% for attraction in top_attractions %}
                                        <a class="dropdown-item"
                                           href="{% url 'attraction-detail' lang=attraction.language.code.lower slug=attraction.slug %}">{{ attraction.name }}</a>
                                    {% endfor %}
                                    <a href="{% url 'attraction-list' lang='en' %}" class="dropdown-item-link">
                                        see all
                                        <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle body-text-b3" role="button" aria-current="page"
                               data-bs-toggle="dropdown" href="#">Out Of Lisbon Things To Do</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <h2 class="mobile-dropdown-title">
                                        <img src="{% static 'images/language-arrow.png' %}" alt="">
                                        Out Of Lisbon Things To Do
                                    </h2>
                                    <h3 class="dropdown-title">
                                        <a href="{% url 'destination-list' lang='en' %}">
                                            Top Destinations
                                        </a>
                                    </h3>
                                    {% for destination in top_destinations %}
                                        <a class="dropdown-item"
                                           href="{% url 'destination-detail' lang=destination.language.code.lower slug=destination.slug %}">{{ destination.name }}</a>
                                    {% endfor %}
                                    <a href="{% url 'destination-list' lang='en' %}" class="dropdown-item-link">
                                        see all
                                        <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                                    </a>
                                </li>
                                <li>
    
                                    <h3 class="dropdown-title">
                                        <a href="{% url 'experience-list' lang='en' %}">
                                            Most Popular Experiences
                                        </a>
                                    </h3>
                                    {% for experience in most_popular_experiences %}
                                    <a class="dropdown-item"
                                       href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}">{{ experience.name }}</a>
                                    {% endfor %}
                                    <a href="{% url 'experience-list' lang='en' %}" class="dropdown-item-link">
                                        see all
                                        <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle body-text-b3" role="button" aria-current="page"
                               data-bs-toggle="dropdown" href="#">Our services</a>
                            <ul class="dropdown-menu small">
                                <li>
                                   
                                    <h2 class="mobile-dropdown-title">
                                        <img src="{% static 'images/language-arrow.png' %}" alt="">
                                        Our services
                                    </h2>
                                    {% if landing_pages %}
                                        {% for landing_page in landing_pages %}
                                        <a class="dropdown-item" href="{% url 'landing-page' lang='en' slug=landing_page.slug %}">{{ landing_page.title }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link body-text-b3" aria-current="page" href="{% url 'blog-list' lang='en' %}">
                                Travel Blog
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="language-phone-wrapper">
                    <div class="contact-phone contact-phone-mobile">
                        <img src="{% static 'icons/phone-icon.svg' %}" alt="">
                        <p class="phone-number body-text-b3">
                            +351 968 380 559
                        </p>
                    </div>
                    <div class="language-switcher-mobile">
                        <div class="default-language" id="mobileDefaultLanguage">
                            <img class="language-icon-en language-icon" src="{% static 'images/en_flag.png' %}" alt="gb">
                            <img class="language-icon-pt language-icon" src="{% static 'images/pt_flag.png' %}" alt="pt">
                            <img class="language-icon-es language-icon" src="{% static 'images/es_flag.png' %}" alt="es">
                            <img class="language-icon-fr language-icon" src="{% static 'images/fr_flag.png' %}" alt="rf">
                            <span class="arrow-icon">
                                <img src="{% static 'icons/header-arrow.svg' %}" alt="">
                            </span>
                        </div>
                        <div class="custom-select-wrapper">
                            <ul id="mobileLanguageOptions">
                                <li data-language="en">
                                    <img src="{% static 'images/en_flag.png' %}" alt="">
                                    English
                                </li>
                                <li data-language="pt">
                                    <img src="{% static 'images/pt_flag.png' %}" alt="">
                                    Português
                                </li>
                                <li data-language="es">
                                    <img src="{% static 'images/es_flag.png' %}" alt="">
                                    Español
                                </li>
                                <li data-language="fr">
                                    <img src="{% static 'images/fr_flag.png' %}" alt="">
                                    Français
                                </li>
                            </ul>
                        </div>
                    </div>
    
                </div>
                <div class="login-btn-wrapper login-btn-wrapper-mobile">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="header-login-btn btn-type-2">
                            Profile
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}" class="header-login-btn btn-type-2">
                            Login
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="header-right-col">
            <div class="mobile-burger-wrapper">
                <img class="burger" src="{% static 'icons/burger-menu.svg' %}" alt="">
                <img class="burger-close hide" src="{% static 'icons/icon-close.svg' %}" alt="">
            </div>
            <!--  User menu -->
            <div class="user-profile" style="margin-right: 2rem;">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}">
                        <img src="{% static 'icons/person.svg' %}" alt="user icon">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <img src="{% static 'icons/person.svg' %}" alt="user icon">
                    </a>
                {% endif %}
            </div>

            <div class="language-switcher">
                <div class="default-language" id="defaultLanguage">
                    <img class="language-icon-en language-icon" src="{% static 'images/en_flag.png' %}" alt="gb">
                    <img class="language-icon-pt language-icon" src="{% static 'images/pt_flag.png' %}" alt="pt">
                    <img class="language-icon-es language-icon" src="{% static 'images/es_flag.png' %}" alt="es">
                    <img class="language-icon-fr language-icon" src="{% static 'images/fr_flag.png' %}" alt="rf">
                    <span class="arrow-icon">
                        <img src="{% static 'icons/header-arrow.svg' %}" alt="">
                    </span>
                </div>
                <div class="custom-select-wrapper">
                    <ul id="languageOptions">
                        <li data-language="en">
                            <img src="{% static 'images/en_flag.png' %}" alt="">
                            English
                        </li>
                        <li data-language="pt">
                            <img src="{% static 'images/pt_flag.png' %}" alt="">
                            Português
                        </li>
                        <li data-language="es">
                            <img src="{% static 'images/es_flag.png' %}" alt="">
                            Español
                        </li>
                        <li data-language="fr">
                            <img src="{% static 'images/fr_flag.png' %}" alt="">
                            Français
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart-wrapper body-text-b3">
                <a href="{% url 'my-cart' lang='en' %}">
                    <img src="{% static 'icons/cart-icon.svg' %}" alt="">
                    {% if number_of_products > 0 %}
                        <span class="items-count rounded-pill">{{ number_of_products }}</span>
                            {% else %}
                        {% endif %}
                    <span>Cart</span>
                    <span class="text-mobile">
                        Checkout now
                    </span>
                </a>
            </div>
            <div class="login-btn-wrapper">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="header-login-btn btn-type-2">
                        Profile
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-login-btn btn-type-2">
                        Login
                    </a>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% if cart_not_empty %}
<div class="turbo-sale-banner">
    <div class="container"> 
        <img src="{% static 'icons/gift-box.svg' %}" alt="gift icon">
        <p>
            Your experience reservation has earned you <span>extra discount</span> from One Day Tours Portugal, use it for your next experiences and book faster!
        </p>
        <a href="{% url 'my-cart' lang='en' %}" class="btn-type-1">
            Checkout cart
        </a>
    </div>
</div>
{% endif %}


    <!-- Home page language -->
    <script>
       //  document.addEventListener('DOMContentLoaded', function () {
       //      let homeLink = document.getElementById('home-link');
       //      let preferredLanguage = navigator.language || navigator.browserLanguage;
       //      let allowedLanguages = ['en', 'es', 'fr', 'pt'];
       //      let defaultLanguage = 'en'; // Default language if none of the preferred languages match

       //      // Check if the preferred language is in the allowed languages list
       //      if (allowedLanguages.includes(preferredLanguage)) {
       //          defaultLanguage = preferredLanguage;
       //      }

       //      // Set the href attribute of the home link with the default language
       //      homeLink.href = '/' + defaultLanguage + '/';
       //  });
    </script>

    <script>
        let languageBtn = document.querySelector('.language-switcher .default-language');
        languageBtn.addEventListener('click', () => {
            languageBtn.classList.toggle('opened')
            
        });
        let languageBtnMobile = document.querySelector('.language-switcher-mobile .default-language');
        languageBtnMobile.addEventListener('click', () => {
            languageBtnMobile.classList.toggle('opened')
            
        });

        let burgerMobileMenuBtn = document.querySelector('.burger');
        let burgerMobileCloseMenuBtn = document.querySelector('.burger-close');
        
        let dropdownMenus = document.querySelectorAll('.dropdown-menu');


        let navbar = document.querySelector('.navbar');
        burgerMobileMenuBtn.addEventListener('click', () => {
            navbar.classList.toggle('opened');
            burgerMobileMenuBtn.classList.toggle('hide')
            burgerMobileCloseMenuBtn.classList.toggle('hide')
            document.documentElement.classList.add('overflow');
            
        })
        burgerMobileCloseMenuBtn.addEventListener('click', () => {
            navbar.classList.toggle('opened');
            burgerMobileCloseMenuBtn.classList.toggle('hide')
            burgerMobileMenuBtn.classList.toggle('hide')
            document.documentElement.classList.remove('overflow');
           
        })

        dropdownMenus.forEach((menu) => {
            let goBackBtn = menu.querySelector('.mobile-dropdown-title img')
            goBackBtn.addEventListener('click', () => {
                menu.classList.toggle('show')
            })
        })
    </script>

