{% load static %}
<div class="upsale-popup-wrapper">
    <div class="popup-inner-wrapper">
        <button type="button" class="close-popup-btn">
            <img src="{% static 'icons/icon-close.svg' %}" alt="green check">
        </button>
        <div class="popup-top-wrapper">
            <div class="left-col">
                <div class="title-wrapper">
                    <img src="{% static 'icons/icon-check-green.svg' %}" alt="green check">
                    <h4 class="popup-title">
                        Done! The experience was successfully added to cart.
                    </h4>

                </div>
                <div class="booked-tour-info-wrapper">
                    <h5 class="tour-name">
                        {{ object.name }}
                    </h5>
                    <ul class="tour-info-list">
                        <li>MM/DD/YYYY</li>
                        <li>11:10 AM</li>
                        <li>2 Adult</li>
                        <li>3 Children</li>
                        <li>English</li>
                    </ul>
                </div>
            </div>
            <div class="right-col">
                <a href="{% url 'my-cart' lang='en' %}" class="link-to-cart btn-type-1">
                    Checkout cart
                </a>
                <a href="{% url 'experience-list' lang='en' %}" class="link-to-cart btn-type-2">
                    continue shopping
                </a>
            </div>
        </div>
        <div class="popup-bottom-wrapper">
            <h2 class="popup-main-title">
                Enjoy your special discount for all additional experiences!
            </h2>
            <p class="popup-subtitle">
                Now private and small group experiences are available to you at a special price
            </p>
            <div class="popup-tour-cards-wrapper">
                <div class="tour-type-card">
                    <img src="{% static 'images/tour-type-img1.png' %}" alt="">
                    <div class="tour-type-title-btn-wrapper">
                        <h4 class="tour-type-title">Small Groups</h4>
                        <a href="#" target="_blank" class="btn-type-3" onclick="addTypeIsGroupAndNavigate(event, '{{ current_language }}')">
                            Learn more
                            <img src="{% static 'icons/btn_arrow_white.svg' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="tour-type-card">
                    <img src="{% static 'images/tour-type-img2.png' %}" alt="">
                    <div class="tour-type-title-btn-wrapper">
                        <h4 class="tour-type-title">Private Experiences</h4>
                        <a href="#" target="_blank" class="btn-type-3" onclick="addTypeIsPrivateAndNavigate(event, '{{ current_language }}')">
                            Learn more
                            <img src="{% static 'icons/btn_arrow_white.svg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addTypeIsGroupAndNavigate(event, lang) {
        event.preventDefault();
        const url = `/${lang}/experiences/?tour_type=group&filter_by=all`;
        window.location.href = url;
    }
    function addTypeIsPrivateAndNavigate(event, lang) {
        event.preventDefault();
        const url = `/${lang}/experiences/?tour_type=private&filter_by=all`;
        window.location.href = url;
    }
</script>
