{% extends "base.html" %}
{% load crispy_forms_field %}
{% load static %}
{% block head %}
    <title>{{ object.page_title }}</title>
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
    <!-- Include jQuery and jQuery UI for datepicker -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Initialize datepicker
            $(".datepicker").datepicker({
                // Add any additional options here
                dateFormat: 'yy-mm-dd',
                // Highlight specific dates
                beforeShowDay: function (date) {
                    const highlightDates = {{ occurrences|safe }};
                    const stringDate = jQuery.datepicker.formatDate('yy-mm-dd', date);
                    return [highlightDates.includes(stringDate), 'highlighted-date'];
                }
            });
        });
    </script>
    <style>
        .ui-state-default, .ui-widget-content .ui-state-default {
            border: 1px solid #c5c5c5;
            background: #F0500B;
            font-weight: bold;
            color: #454545;
        }

        .highlighted-date {
            background-color: #F0500B; /* Define your desired background color */
            font-weight: bold;
        }
    </style>
{% endblock head %}
{% block content %}

    <section class="experience-hero">
    </section>
    <div class="container">
        <!-- FastBookingForm block -->
        <form class="row gx-3 gy-2 align-items-center" method="post" action="">
            {% csrf_token %}
            <div id="div_id_adult" class="col-sm-2">
                <label for="id_adult" class="form-label requiredField">
                    Adult<span class="asteriskField">*</span>
                </label>
                {% crispy_field form.adult  %}
            </div>
            <div id="div_id_children" class="col-sm-2">
                <label for="id_children" class="form-label requiredField">
                    Children<span class="asteriskField">*</span>
                </label>
                {% crispy_field form.children %}
            </div>
            <div id="div_id_date" class="col-sm-4">
                <label for="id_date" class="form-label requiredField">
                    When?<span class="asteriskField">*</span>
                </label>
                {% crispy_field form.date %}
            </div>
            <div id="div_id_language" class="col-sm-2">
                <label for="id_language" class="form-label requiredField">
                    Language<span class="asteriskField">*</span>
                </label>
                {% crispy_field form.language %}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">BOOK</button>
            </div>
        </form>
        <!-- /FastBookingForm block -->

        <p>Short name: {{ object.name }}</p>
        <p>Long name: {{ object.long_name }}</p>
        <p>Short description: {{ object.short_description }}</p>
        <p>Full description:</p>
        {{ object.display_full_description }}
        <p>Languages</p>
        {{ object.display_languages }}
        <p>Duration</p>
        {{ object.display_duration }}
        <p>Accessibility</p>
        {{ object.display_accessibility }}
        <p>Possibility</p>
        {{ object.display_possibility }}
        <h3>{{ object.recommendations_title }}</h3>
        <p>{{ object.recommendations_subtitle }}</p>
        <h2>{{ object.recommendations_slogan }}</h2>
    </div>
    <style>
        .highlighted-date {
            background-color: #F0500B;
            font-weight: bold;
        }
    </style>
    <script>
        const swiperTopAttraction = new Swiper(".swiper-attractions", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                767: {
                    slidesPerView: 2,
                    spaceBetween: 24,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });

        const swiperAttractionHero = new Swiper(".attraction-hero-slider", {
            slidesPerView: 3,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language
        const currentLanguage = `{{ current_language }}`  // from response extra_context

    </script>
    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock %}