{% extends "base.html" %}
{% load crispy_forms_field %}
{% load static %}
{% block head %}
    <title>{{ object.page_title }}</title>
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
{% endblock head %}
{% block content %}
    <div class="mobile-form-btn-wrapper">
        <div class="container">
            <p class="mobile-form-btn-title">
                From
                <span>
                    € 20
                </span>
            </p>
            <a href="#" class="btn-type-1 mobile-form-btn">
                check availability
            </a>
        </div>
    </div>
    <section class="experience-hero">
        <div class="container">
            <div class="experience-hero-title-wrapper">
                <h2 class="experience-hero-title">
                    {{ object.long_name }}
                </h2>
                <div class="expreriece-hero-price-btn-wrapper">
                    <div class="price-wrapper">
                        <p class="price-title">
                            From
                        </p>
                        <p class="price-amount">
                            € 20
                        </p>
                    </div>
                    <a href="#" class="experience-hero-btn btn-type-1">
                        check availability
                    </a>
                </div>
            </div>
            <div class="experience-hero-info">
                <p class="experience-hero-info-text">
                    <img src="{% static 'icons/experience-info-icon1.svg' %}" alt="">
                    free cancilation policy
                </p>
                <p class="experience-hero-info-text">
                    <img src="{% static 'icons/experience-info-icon2.svg' %}" alt="">
                    2480 happy clients
                </p>
            </div>
            <div class="experience-hero-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="{% static 'images/experience-hero-slide.png' %}" alt="" class="attraction-image">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/experience-hero-slide.png' %}" alt="" class="attraction-image">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/experience-hero-slide.png' %}" alt="" class="attraction-image">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/experience-hero-slide.png' %}" alt="" class="attraction-image">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'images/experience-hero-slide.png' %}" alt="" class="attraction-image">
                    </div>

                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <section class="why experience-page why-slider">
        <div class="container">
            <h2 class="why-title">
                Why book a full day experience to Sintra and Cabo da Roca with One Day Tours?
            </h2>
            <p class="why-subtitle body-text-b1">
                Create the best of your experience by visiting Portugal with our exclusive tours
            </p>
            <div class="why-cards-wrapper">
                <div class="swiper-wrapper">
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon1.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                100+ Experiences in Portugal
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon2.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Guided by local experts
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon3.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Best price guarantee
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon4.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                No hidden fees
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon5.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Free cancellation
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon6.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Safe and secure website
                            </p>
                            <p class="why-subtext">
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="experience-info">
        <div class="container">
            <h2 class="experience-info-title">
                Experience name
            </h2>
            <p class="experience-info-subtitle">
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu.
            </p>
            <div class="experience-info-inner-wrapper">
                <div class="left-col">
                    <div class="experience-cards">
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon1.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Type of tours
                                </p>
                                <p class="card-text">
                                    Private
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon2.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Duration
                                </p>
                                <p class="card-text">
                                    {{ object.display_duration }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon3.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Accessibility
                                </p>
                                <p class="card-text">
                                    {{ object.display_accessibility }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon4.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Possibility
                                </p>
                                <p class="card-text">
                                    {{ object.display_possibility }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon5.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Languages
                                </p>
                                <p class="card-text">
                                    {{ object.display_languages }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon6.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Pick Up Location
                                </p>
                                <p class="card-text">
                                    2118 Thornridge Cir. Syracuse, Connecticut 35624
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="experience-description">
                        <h5 class="description-title">
                            Full description
                        </h5>
                        <p>
                            {{ object.display_full_description }}
                        </p>
                    </div>
                    <div class="experience-timeline">
                        <h5 class="experience-timeline-title">
                            Experience schedule
                        </h5>
                        <div class="experience-timeline-inner">
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                            <div class="timeline-block">
                                <div class="time-title-wrapper">
                                    <p class="time">
                                        11:00 AM
                                    </p>
                                    <p class="timeline-title">
                                        Name Stop
                                    </p>
                                </div>
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam
                                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum
                                    quia dolor sit amet, consectetur, adipisci velit, sed qu.
                                </p>
                            </div>
                        </div>
                        <btn class="timeline-btn-open btn-type-2">
                            See all
                        </btn>
                    </div>
                    <div class="experience-info-block">

                        <h5>
                            Includes
                        </h5>
                        <ul>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                        </ul>

                    </div>
                    <div class="experience-info-block">

                        <h5>
                            Traveler tips
                        </h5>
                        <ul>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                        </ul>

                    </div>
                    <div class="experience-info-block">

                        <h5>
                            What to bring
                        </h5>
                        <ul>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                            <li>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</li>
                        </ul>

                    </div>
                </div>
                <div class="aside-form">
                    <div class="booking-form-wrapper">
                        <img src="{% static 'images/booking-form-banner.svg' %}" alt="form banner">
                        <img src="{% static 'icons/icon-back.svg' %}" alt="go back" class="btn-back">
                        <p class="body-text-b3">Choose Date</p>
                        {% if object.parent_experience.is_private %}
                            {% include 'include/private_booking_form.html' %}
                        {% else %}
                            {% include 'include/booking_form.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="also-interested">
        <div class="container">
            <h2 class="also-interested-title">
                {{ object.recommendations_title }}
            </h2>
            <p class="also-interested-subtitle body-text-b2">
                {{ object.recommendations_subtitle }}
            </p>
            <div class="swiper-also-interested">
                <div class="swiper-wrapper also-interested-cards-wrapper">
                    <div class="also-interested-card swiper-slide">
                        <img src="{% static 'images/also-interested-img1.png' %}" alt="" class="also-interested-img">
                        <p class="body-text-b2 also-interested-card-title">
                            Cascais
                        </p>
                        <p class="body-text-b3 also-interested-card-text">
                            Explore Cascais, a perfect mixture of natural and architectural beauty, located near Lisbon. Investigate its breathtaking landscapes
                            and historical wonders with comprehensive OneDayTours.
                        </p>
                    </div>
                    <div class="also-interested-card swiper-slide">
                        <img src="{% static 'images/also-interested-img2.png' %}" alt="" class="also-interested-img">
                        <p class="body-text-b2 also-interested-card-title">
                            Oporto
                        </p>
                        <p class="body-text-b3 also-interested-card-text">
                            Choose an amazing journey with a OneDayTours to Oporto, Portugal. Explore the vibrant history of the city, perfectly fit into the
                            colorful landscapes, and experience the warm hospitality of Portugal.
                        </p>
                    </div>
                    <div class="also-interested-card swiper-slide">
                        <img src="{% static 'images/also-interested-img3.png' %}" alt="" class="also-interested-img">
                        <p class="body-text-b2 also-interested-card-title">
                            Sintra
                        </p>
                        <p class="body-text-b3 also-interested-card-text">
                            Get a chance to immerse in the real Wonderland with a OneDayTours to a fairytale Sintra. The place is filled with history and a
                            mystical aura, heightened by the scenic landscape of nature.
                        </p>
                    </div>


                </div>
                <div class="swiper-pagination"></div>

            </div>

            <div class="also-interested-more-info-wrapper">
                <h5 class="also-interested-more-info-title">
                    {{ object.recommendations_slogan }}
                </h5>
                <a href="" class="btn-type-2 also-interested-info-link">
                    see more
                </a>
            </div>
        </div>
    </section>
    <section class="testimonials-slider-section">
        <div class="container">
            <h2 class="testimonials-title">
                testimonials
            </h2>
            <p class="testimonials-subtitle body-text-b1">
                Read the reviews of our clients about their experience with our service
            </p>
            {% if object.parent_experience.review_set.all %}
                <div class="testimonials-slider">
                    <div class="swiper-wrapper">
                        {% for review in object.parent_experience.review_set.all %}
                            <div class="swiper-slide">
                                <p class="swiper-text">
                                    {{ review.short_text }}
                                </p>
                                <div class="author-wrapper">
                                    {% if review.profile.avatar %}
                                        <img src="{{ review.profile.avatar.url }}" alt="Avatar">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar">
                                    {% endif %}
                                    <p class="name">{{ review.profile.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            {% else %}
                <p>No any reviews yet...</p>
            {% endif %}
        </div>
    </section>

    <script>
        let openFullBtn = document.querySelector('.timeline-btn-open');
        let experienceTimelineWrapper = document.querySelector('.experience-timeline-inner');

        openFullBtn.addEventListener('click', (e) => {
            e.preventDefault()
            experienceTimelineWrapper.classList.toggle('opened')
            if (experienceTimelineWrapper.classList.contains('opened')) {
                openFullBtn.innerHTML = 'Show Less'
            } else {
                openFullBtn.innerHTML = 'Show More'
            }

        })
    </script>

    <script>
        // There are constants from backend using for switch languages and send data for booking

        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language
        const currentLanguage = `{{ current_language }}`;  // from response extra_context
        // Define current customer None or user.id
        {% if user.is_authenticated %}
            const customerId = {{ customer_id }};  // from response extra_context
        {% else %}
            const customerId = null;
        {% endif %}
        // Define session key
        const sessionKey = `{{ session_key }}`;  // from response extra_context
        // Define ParentExperience id
        const parentExperienceId = {{ object.parent_experience_id }};  // from response extra_context
    </script>

    {% if object.parent_experience.is_private %}
        <script src="{% static 'js/first_booking_private.js' %}"></script>
    {% else %}
        <script src="{% static 'js/first_booking.js' %}"></script>
    {% endif %}


    <script>

        if (window.innerWidth < 768) {
            const swiperAlsoInterested = new Swiper(".swiper-also-interested", {
                slidesPerView: 1.4,
                speed: 1000,
                spaceBetween: 14,
                centeredSlides: true,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        }

        const swiperTestimonials = new Swiper(".testimonials-slider", {
            speed: 5000,
            spaceBetween: 24,
            loop: true,
            slidesPerView: 3,
            autoplay: {
                delay: 2000,
            },
            centeredSlides: true,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 10,

                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 24,

                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        const swiperTopAttraction = new Swiper(".experience-hero-swiper", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    spaceBetween: 14,
                    slidesPerView: 1.4,
                    centeredSlides: true,
                    loop: true,
                },
                767: {
                    slidesPerView: 1.2,
                    spaceBetween: 24,
                    centeredSlides: true,
                    loop: true,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
            },

        });

        const swiperWhy = new Swiper(".why-cards-wrapper", {
            slidesPerView: 2,
            speed: 10000,
            spaceBetween: 24,
            autoplay: {
                delay: 100,

            },
            loop: true,
            breakpoints: {
                200: {
                    spaceBetween: 14,
                    slidesPerView: 1,
                    centeredSlides: true,
                    loop: true,
                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 44,


                }
            },


        });
    </script>


    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock %}