{% extends "base.html" %}
{% load crispy_forms_field %}
{% load crispy_forms_tags %}
{% load static %}

{% block title_suffix %}
    {{ object.page_title }}
{% endblock title_suffix %}

{% block meta_tags %}
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
{% endblock meta_tags %}

{% block content %}
    <div class="mobile-form-btn-wrapper">
        <div class="container">
            <p class="mobile-form-btn-title">
                From
                <span>
                    € {{ object.parent_experience.price }}
                </span>
            </p>
            <a href="#" class="btn-type-1 mobile-form-btn">
                check availability
            </a>
        </div>
    </div>
    <div class="container">
        <div class="experience-hero-info">
            {% if object.parent_experience.free_cancellation %}
                <p class="experience-hero-info-text">
                    <img src="{% static 'icons/experience-info-icon1.svg' %}" alt="">
                    free cancellation
                </p>
            {% endif %}
            <p class="experience-hero-info-text">
                <img src="{% static 'icons/experience-info-icon2.svg' %}" alt="">
                {{ object.parent_experience.happy_clients_number }} happy clients
            </p>
            {% if object.parent_experience.recommended_by_locals %}
                <p class="experience-hero-info-text">
                    <img src="{% static 'icons/green-thumb.svg' %}" alt="">
                    recommended by locals
                </p>
            {% endif %}
            {% if object.average_rating %}
                <p>Average rating: {{ object.average_rating }}</p>
            {% endif %}
        </div>
    </div>

    <div class="sticky-container">
        <div class="sticky-block">
            <div class="container">
                <div class="experience-hero-title-wrapper">
                    <h2 class="experience-hero-title">
                        {{ object.name }}
                    </h2>
                    <div class="expreriece-hero-price-btn-wrapper">
                        <div class="price-wrapper">
                            <p class="price-title">
                                From
                            </p>
                            <p class="price-amount">
                                €{{ object.parent_experience.price }}
                            </p>
                        </div>
                        <a href="#goToForm" class="experience-hero-btn btn-type-1">
                            check availability
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <section class="experience-hero">
            <div class="container">
                <div class="experience-hero-swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% if object.images.all %}
                            {% for image in object.images.all %}
                                <div class="swiper-slide">
                                    <img src="{% if image.slider_image.url %}{{ image.slider_image.url }}{% endif %}" alt="slider image"
                                         class="attraction-image">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        
    </div>

    <section class="experience-info">
        <div class="container">
            <h2 class="experience-info-title">
                {{ object.info_title }}
            </h2>
            <p class="experience-info-subtitle" id="goToForm">
                {{ object.info_subtitle }}
            </p>
            <div class="experience-info-inner-wrapper">
                <div class="left-col">
                    <div class="experience-cards">
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon1.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Type of experience
                                </p>
                                <p class="card-text">
                                    {% if object.parent_experience.is_private %}Private{% else %}Group{% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon2.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Duration
                                </p>
                                <p class="card-text">
                                    {{ object.display_duration }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon3.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Accessibility
                                </p>
                                <p class="card-text">
                                    {{ object.display_accessibility }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon4.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Possibility
                                </p>
                                <p class="card-text">
                                    {{ object.display_possibility }}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon5.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Languages
                                </p>
                                <p class="card-text">
                                    {% if object.parent_experience.allowed_languages.all %}
                                        {% for language in object.parent_experience.allowed_languages.all %}
                                            <span>{{ language.name }}{% if not forloop.last %},{% endif %}</span>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="experience-card">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/experience-card-icon6.svg' %}" alt="">
                            </div>
                            <div class="card-content">
                                <p class="card-title">
                                    Pick Up Location
                                </p>
                                <p class="card-text">
                                    {% if object.parent_experience.pick_up_location %}
                                        {{ object.parent_experience.pick_up_location }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if object.parent_experience.clean_and_safe %}
                        <div class="clean-safe-badge">
                            <div class="img-wrapper">
                                <img src="{% static 'icons/clean-safe-badge.svg' %}" alt="badge">
                            </div>
                            <div class="content-wrapper">
                                <h4 class="badge-title">
                                    Clean & Safe
                                </h4>
                                <p class="badge-text">
                                    Сertified with the “Clean & Safe” seal to guarantee that we will comply with all mandatory hygiene and safety standards by
                                    WHO/ the National Tourist Authority in coordination with the General Directorate of Health.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="experience-description">


                        <h5 class="description-title">
                            {{ object.title_description }}
                        </h5>
                        <p>
                            {{ object.display_full_description }}
                        </p>
                    </div>
                    <div class="experience-timeline">
                        <h5 class="experience-timeline-title">
                            {{ object.schedule_title }}
                        </h5>
                        <div class="experience-timeline-inner">
                            {% if object.schedule.all %}
                                {% for schedule_item in object.schedule.all %}
                                    <div class="timeline-block">
                                        <div class="time-title-wrapper">
                                            <p class="time">
                                                {{ schedule_item.time|time }}
                                            </p>
                                            <p class="timeline-title">
                                                {{ schedule_item.name_stop }}
                                            </p>
                                        </div>
                                        <p>
                                            {{ schedule_item.description }}
                                        </p>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <btn class="timeline-btn-open btn-type-2">
                            See all
                        </btn>
                    </div>
                    <div class="experience-info-block">
                        <h5>{{ object.includes_title }}</h5>
                        {{ object.display_includes_text }}
                    </div>
                    <div class="experience-info-block">
                        <h5>{{ object.traveler_tips_title }}</h5>
                        {{ object.display_traveler_tips_text }}
                    </div>
                    <div class="experience-info-block">
                        <h5>{{ object.what_to_bring_title }}</h5>
                        {{ object.display_what_to_bring_text }}
                    </div>
                </div>
                <div class="aside-form">
                    <div class="booking-form-wrapper">
                        <img src="{% static 'images/booking-form-banner.svg' %}" alt="form banner">
                        <img src="{% static 'icons/icon-back.svg' %}" alt="go back" class="btn-back">

                        <!-- Text above calendar -->
                        {% if object.text_above_calendar %}
                            <div class="form-text-wrapper">
                                <img src="{% static 'icons/fire-icon.svg' %}" alt="fire icon">
                                <p class="form-text-banner">{{ object.text_above_calendar }}</p>
                            </div>

                        {% endif %}
                        {% if object.parent_experience.is_private %}
                            {% include 'include/private_booking_form.html' %}
                        {% else %}
                            {% include 'include/booking_form.html' %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="why experience-page why-slider">
        <div class="container">
            <h2 class="why-title">
                {{ object.why_title }}
            </h2>
            <p class="why-subtitle body-text-b1">
                {{ object.why_subtitle }}
            </p>
            <div class="why-cards-wrapper">
                <div class="swiper-wrapper">
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon1.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                30+ Experiences in Portugal
                            </p>
                            <p class="why-subtext">
                                Explore a wide range of unique options from historical tours and outdoor adventures to culinary trips and wine tasting.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon2.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Guided by local experts
                            </p>
                            <p class="why-subtext">
                                Get unforgettable experiences and unique insider information from local experts through carefully created tours.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon3.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Best price guarantee
                            </p>
                            <p class="why-subtext">
                                Get the best price guaranteed for booking our top-quality products and services.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon4.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                No hidden fees
                            </p>
                            <p class="why-subtext">
                                Enjoy a transparent pricing policy, paying for what you need for a smooth shopping experience.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon5.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Free cancellation
                            </p>
                            <p class="why-subtext">
                                Enjoy the flexibility with free cancellation, don't worry about additional costs, and feel free to adjust your plans.
                            </p>
                        </div>

                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon6.svg' %}" alt="" class="why-card-img">
                        <div class="why-card-inner-wrapper">
                            <p class="why-text">
                                Safe and secure website
                            </p>
                            <p class="why-subtext">
                                Be confident with our reliable and protected service as your online safety at every step is our priority.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="also-interested">
        <div class="container">
            <h2 class="also-interested-title">
                {{ object.recommendations_title }}
            </h2>
            <p class="also-interested-subtitle body-text-b2">
                {{ object.recommendations_subtitle }}
            </p>
            <div class="swiper-also-interested">
                <div class="swiper-wrapper also-interested-cards-wrapper">
                    {% if object.experience_recommendations.all %}
                        {% for experience in object.experience_recommendations.all %}
                            <div class="also-interested-card swiper-slide">
                                <img src="{{ experience.parent_experience.card_image.url }}" alt="{{ experience.name }} card image" class="also-interested-img">
                                <p class="body-text-b2 also-interested-card-title">
                                    <a href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}">{{ experience.name }}</a>
                                </p>
                                <p class="body-text-b3 also-interested-card-text">
                                    {{ experience.short_description }}
                                </p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>No recommended experiences found.</p>
                    {% endif %}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="also-interested-more-info-wrapper">
                <h5 class="also-interested-more-info-title">
                    {{ object.recommendations_slogan }}
                </h5>
                <a href="{% url 'experience-list' lang=object.language.code.lower %}" class="btn-type-2 also-interested-info-link">
                    see more
                </a>
            </div>
        </div>
    </section>
    <section class="reviews">
        <div class="container">
            <h2 class="reviews-title">
                Reviews
            </h2>
            <div class="reviews-inner-wrapper">
                <div class="left-col">
                    {% include 'reviews/review_list.html' %}
                </div>
                <div class="right-col">
                    <form method="post">
                        {% csrf_token %}
                        {{ review_form|crispy }}
                        <button class="btn btn-primary" type="submit">Send</button>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <script>
        let openFullBtn = document.querySelector('.timeline-btn-open');
        let experienceTimelineWrapper = document.querySelector('.experience-timeline-inner');

        openFullBtn.addEventListener('click', (e) => {
            e.preventDefault()
            experienceTimelineWrapper.classList.toggle('opened')
            if (experienceTimelineWrapper.classList.contains('opened')) {
                openFullBtn.innerHTML = 'Show Less'
            } else {
                openFullBtn.innerHTML = 'Show More'
            }

        })
    </script>

    <!--Review list with pagination -->

    <script>
        // There are constants from backend using for switch languages and send data for booking

        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language
        const currentLanguage = `{{ current_language }}`;  // from response extra_context
        // Define current customer None or user.id
        {% if user.is_authenticated %}
            const customerId = {{ customer_id }};  // from response extra_context
        {% else %}
            const customerId = null;
        {% endif %}
        // Define session key
        const sessionKey = `{{ session_key }}`;  // from response extra_context
        // Define ParentExperience id
        const parentExperienceId = {{ object.parent_experience_id }};  // from response extra_context
    </script>

    {% if object.parent_experience.is_private %}
        <script src="{% static 'js/first_booking_private.js' %}"></script>
    {% else %}
        <script src="{% static 'js/first_booking.js' %}"></script>
    {% endif %}


    <script>

        if (window.innerWidth < 768) {
            const swiperAlsoInterested = new Swiper(".swiper-also-interested", {
                slidesPerView: 1.4,
                speed: 1000,
                spaceBetween: 14,
                centeredSlides: true,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        }

        const swiperTestimonials = new Swiper(".testimonials-slider", {
            speed: 5000,
            spaceBetween: 24,
            loop: true,
            slidesPerView: 3,
            autoplay: {
                delay: 2000,
            },
            centeredSlides: true,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 10,

                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 24,

                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });

        const swiperTopAttraction = new Swiper(".experience-hero-swiper", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    spaceBetween: 14,
                    slidesPerView: 1.4,
                    centeredSlides: true,
                    loop: true,
                },
                767: {
                    slidesPerView: 1.2,
                    spaceBetween: 24,
                    centeredSlides: true,
                    loop: true,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
            },

        });

        const swiperWhy = new Swiper(".why-cards-wrapper", {
            slidesPerView: 2,
            speed: 10000,
            spaceBetween: 24,
            autoplay: {
                delay: 100,

            },
            loop: true,
            breakpoints: {
                200: {
                    spaceBetween: 14,
                    slidesPerView: 1,
                    centeredSlides: true,
                    loop: true,
                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 44,


                }
            },


        });
    </script>
    <script>
        // reviews.js
        document.addEventListener('DOMContentLoaded', () => {
            const reviewContainer = document.getElementById('reviewContainer');
            const paginationContainer = document.getElementById('paginationContainer');
            


            // Function to fetch reviews with pagination
            async function fetchReviews(pageNumber) {
                try {
                    const response = await fetch(`/reviews/?page=${pageNumber}`);
                    if (!response.ok) {
                        throw new Error('Failed to fetch reviews');
                    }
                    return await response.json();
                } catch (error) {
                    console.error('Error fetching reviews:', error);
                    return {reviews: [], has_next: false, has_previous: false};
                }
            }

            // Function to render reviews
            function renderReviews(reviewsData) {
                const reviewsList = document.getElementById('reviewsList');
                reviewsList.innerHTML = ''; // Clear existing reviews
                console.log('Got reviews data: ', reviewsData);
                reviewsData.forEach(review => {
                    // Create HTML elements for each review and append them to reviewsList
                    const reviewItem = document.createElement('li');
                    reviewItem.classList.add('reviews-list-item');
                    const starsWrapper = document.createElement('div');
                    starsWrapper.classList.add('review-stars-wrapper');
                    starsWrapper.classList.add(`star-${review.rating}`);
                    starsWrapper.innerHTML = `
                <img class="star3" src="{% static 'icons/3-stars-icon.svg' %}" alt="3 start review">
                <img class="star4" src="{% static 'icons/4-stars-icon.svg' %}" alt="4 start review">
                <img class="star5" src="{% static 'icons/5-stars-icon.svg' %}" alt="5 start review">
            `;
                    const reviewTitle = document.createElement('h4');
                    reviewTitle.classList.add('review-title');
                    reviewTitle.textContent = review.title;
                    const reviewText = document.createElement('p');
                    reviewText.classList.add('review-text');
                    reviewText.textContent = review.short_text;
                    const reviewAuthor = document.createElement('p');
                    reviewAuthor.classList.add('review-author');
                    reviewAuthor.textContent = review.full_name;

                    // Append elements to reviewItem
                    reviewItem.appendChild(starsWrapper);
                    reviewItem.appendChild(reviewTitle);
                    reviewItem.appendChild(reviewText);
                    reviewItem.appendChild(reviewAuthor);

                    // Append reviewItem to reviewsList
                    reviewsList.appendChild(reviewItem);
                });
            }

            // Function to render reviews
            // function renderReviews(reviews) {
            //     reviewContainer.innerHTML = ''; // Clear existing reviews
            //     console.log('Got data.reviews: ', reviews);
            //     reviews.forEach(review => {
            //         // Create HTML elements for each review
            //         const reviewElement = document.createElement('div');
            //         const ratingElement = document.createElement('p');
            //         const titleElement = document.createElement('h4');
            //         const shortTextElement = document.createElement('p');
            //         const fullNameElement = document.createElement('p');
            //
            //         // Populate reviewElement with review data
            //         ratingElement.textContent = `Rating: ${review.rating}`;
            //         titleElement.textContent = review.title;
            //         shortTextElement.textContent = review.short_text;
            //         fullNameElement.textContent = `Full Name: ${review.full_name}`;
            //
            //         // Append elements to reviewElement
            //         reviewElement.appendChild(ratingElement);
            //         reviewElement.appendChild(titleElement);
            //         reviewElement.appendChild(shortTextElement);
            //         reviewElement.appendChild(fullNameElement);
            //
            //         // Append reviewElement to reviewContainer
            //         reviewContainer.appendChild(reviewElement);
            //     });
            // }

            // Function to render pagination controls
            function renderPaginationControls(paginationData) {
                paginationContainer.innerHTML = ''; // Clear existing pagination controls

                const {has_next, has_previous, next_page_number, previous_page_number, total_pages, current_page_number} = paginationData;

                // Render previous page button
                
                    const prevButton = document.createElement('button');
                    prevButton.innerHTML = `<img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">`
                    prevButton.classList.add('pagination-btn', 'prev')
                    prevButton.addEventListener('click', () => handlePaginationClick(previous_page_number));
                    paginationContainer.appendChild(prevButton);
                    if (has_previous) {
                        prevButton.innerHTML = `<img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">`
                    }

                    const paginationList = document.createElement('ul')
                    paginationContainer.appendChild(paginationList)
                    paginationList.classList.add('pagination-list')
                // Render page numbers
                for (let i = 1; i <= total_pages; i++) {
                    const pageButton = document.createElement('button');
                    pageButton.classList.add('pagination-list-item')
                    pageButton.textContent = i;
                    if (i === current_page_number) {
                        pageButton.disabled = true;
                    }
                    pageButton.addEventListener('click', () => handlePaginationClick(i));
                    paginationList.appendChild(pageButton);
                }

                // Render next page button
                
                    const nextButton = document.createElement('button');
                    nextButton.innerHTML = 
                    `<img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">`
                    nextButton.classList.add('pagination-btn', 'next')
                    nextButton.addEventListener('click', () => handlePaginationClick(next_page_number));
                    paginationContainer.appendChild(nextButton);
                    if (has_next) {
                        nextButton.innerHTML = `<img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">`
                    }
            }

            // Function to handle pagination click event
            function handlePaginationClick(pageNumber) {
                fetchReviews(pageNumber)
                    .then(data => {
                        renderReviews(data.reviews);
                        renderPaginationControls(data);
                    })
                    .catch(error => {
                        console.error('Error fetching reviews:', error);
                    });
            }

            // Fetch reviews for the first page when the page loads
            handlePaginationClick(1);
        });
    </script>

    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock %}