{% extends "base.html" %}
{% load static %}

{% block title %}
    Get the best Portugal experiences
{% endblock %}
{% block title_suffix %}
    | One Day Tours Portugal
{% endblock title_suffix %}

{% block meta_tags %}
    <meta name="description" content="Experiences list page">
    <meta name="keywords" content="experiences">
{% endblock meta_tags %}

{% block content %}

    <section class="experience-list-hero">
        <div class="container">
            <h1 class="experience-list-hero-title">
                Get the best Portugal experiences
                <span>with</span>
                <img src="{% static 'icons/main-logo.svg' %}" alt="Destination logo">
            </h1>
            <div class="experience-list-hero-calendar">
                <form id="experience-search-form" action="{% url 'experience-list' lang=current_language %}" method="get">
                    <div class="place-wrapper">
                        <label for="place">
                            Where to?
                        </label>
                        {{ experience_form.place }}
                        {% if experience_form.place.help_text %}
                            <small class="form-text text-muted">{{ experience_form.place.help_text }}</small>
                        {% endif %}
                        {% for error in experience_form.place.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="date-wrapper">
                        <label for="date">
                            When?
                        </label>
                        {{ experience_form.date }}
                        {% if experience_form.date.help_text %}
                            <small class="form-text text-muted">{{ experience_form.date.help_text }}</small>
                        {% endif %}
                        {% for error in experience_form.date.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="button-wrapper">
                        <button type="submit" class="form-btn btn-type-1">
                            <img src="{% static 'icons/search.svg' %}" alt="">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <section class="experience-list">
        <div class="container">
            <div class="title-filter-wrapper">
                <div class="filters-wrapper">
                    <div class="filter-wrapper">
                        <p class="experience-filter-title">
                            Type
                        </p>
                        <select name="experience filter" id="tour_type">
                            <option value="all">All</option>
                            <option value="private">Private</option>
                            <option value="group">Group</option>
                        </select>
                    </div>
                    <div class="filter-wrapper">
                        <p class="experience-filter-title">
                            Time of Day
                        </p>
                        <select name="experience filter" id="time_of_day">
                            <option value="all">All</option>
                            <option value="morning">Morning (Before 12PM)</option>
                            <option value="afternoon">Afternoon (After 12PM)</option>
                            <option value="evening">Evening and night (After 5PM)</option>
                        </select>
                    </div>
                    <div class="filter-wrapper">
                        <p class="experience-filter-title">
                            Duration
                        </p>
                        <select name="experience filter" id="duration">
                            <option value="all">All</option>
                            <option value="0-1">Up to 1 hour</option>
                            <option value="1-4">1 to 4 hours</option>
                            <option value="4-10">4 to 10 hours</option>
                            <option value="24-72">1 to 3 days</option>
                        </select>
                    </div>
                    <div class="filter-wrapper">
                        <p class="experience-filter-title">
                            Sort by
                        </p>
                        <select name="experience filter" id="filter_by">
                            <option value="all">All</option>
                            <option value="price_low">Price - Low To High</option>
                            <option value="price_high">Price - High To Low</option>
                            <option value="discount">Discount</option>
                            <option value="hot_deals">Hot deals first</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if object_list %}
            <ul class="experiences">
                    {% for object in object_list %}
                        <li class="experience-list-item">
                            <div class="list-item-img-wrapper">
                                {% if object.parent_experience.is_exclusive %}
                                    <span class="img-label">Popular! Last booked 2 hours ago</span>
                                {% else %}
                                {% endif %}
                                <div class="image-wrapper">
                                    <a href="javascript:void(0)" class="link"
                                       onclick="trackButtonClick('{{ object.get_absolute_url }}', {{ object.ecommerce_items|safe }})">
                                        <img class="img-desktop" src="
                                                {% if object.parent_experience.card_image %}{{ object.parent_experience.card_image.url }}{% else %}{% endif %}"
                                             alt="Card image for {{ object.name }}">
                                             {% if object.parent_experience.card_image_mobile %}
                                        <img class="img-mobile" src="
                                             {% if object.parent_experience.card_image_mobile %}{{ object.parent_experience.card_image_mobile.url }}{% else %}{% endif %}"
                                          alt="Card image for {{ object.name }}">
                                          {% else %}
                                          <img class="img-mobile" src="
                                                {% if object.parent_experience.card_image %}{{ object.parent_experience.card_image.url }}{% else %}{% endif %}"
                                             alt="Card image for {{ object.name }}">
                                          {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="experience-list-content-wrapper">
                                {% if object.parent_experience.is_hot_deals %}
                                    <div class="best-seller-badge-wrapper">
                                        <img src="{% static 'icons/best-seller-icon.svg' %}" alt="best seller">
                                    </div>
                                {% endif %}
                                {% if object.review_set.count > 0 %}
                                    <div class="rating-img-wrapper">
                                        <p>{{ object.average_rating }}</p>
                                        <div class="rating">
                                            <div class="icon-wrapper">
                                                <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.4912 14.9174C10.1877 14.7475 9.81781 14.7475 9.51434 14.9174L4.82657 17.5414L5.87355 12.2722C5.94133 11.9311 5.82701 11.5793 5.57167 11.3431L1.62752 7.69571L6.96233 7.06318C7.30769 7.02224 7.60697 6.80479 7.75264 6.48899L10.0028 1.61075L12.2529 6.48898C12.3985 6.80479 12.6978 7.02224 13.0432 7.06319L18.378 7.69572L14.4339 11.3431C14.1785 11.5793 14.0642 11.9311 14.132 12.2722L15.1789 17.5414L10.4912 14.9174Z"
                                                          stroke="#FDB601"/>
                                                </svg>
                                            </div>
                                            <div class="icon-wrapper">
                                                <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.4912 14.9174C10.1877 14.7475 9.81781 14.7475 9.51434 14.9174L4.82657 17.5414L5.87355 12.2722C5.94133 11.9311 5.82701 11.5793 5.57167 11.3431L1.62752 7.69571L6.96233 7.06318C7.30769 7.02224 7.60697 6.80479 7.75264 6.48899L10.0028 1.61075L12.2529 6.48898C12.3985 6.80479 12.6978 7.02224 13.0432 7.06319L18.378 7.69572L14.4339 11.3431C14.1785 11.5793 14.0642 11.9311 14.132 12.2722L15.1789 17.5414L10.4912 14.9174Z"
                                                          stroke="#FDB601"/>
                                                </svg>
                                            </div>
                                            <div class="icon-wrapper">
                                                <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.4912 14.9174C10.1877 14.7475 9.81781 14.7475 9.51434 14.9174L4.82657 17.5414L5.87355 12.2722C5.94133 11.9311 5.82701 11.5793 5.57167 11.3431L1.62752 7.69571L6.96233 7.06318C7.30769 7.02224 7.60697 6.80479 7.75264 6.48899L10.0028 1.61075L12.2529 6.48898C12.3985 6.80479 12.6978 7.02224 13.0432 7.06319L18.378 7.69572L14.4339 11.3431C14.1785 11.5793 14.0642 11.9311 14.132 12.2722L15.1789 17.5414L10.4912 14.9174Z"
                                                          stroke="#FDB601"/>
                                                </svg>
                                            </div>
                                            <div class="icon-wrapper">
                                                <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.4912 14.9174C10.1877 14.7475 9.81781 14.7475 9.51434 14.9174L4.82657 17.5414L5.87355 12.2722C5.94133 11.9311 5.82701 11.5793 5.57167 11.3431L1.62752 7.69571L6.96233 7.06318C7.30769 7.02224 7.60697 6.80479 7.75264 6.48899L10.0028 1.61075L12.2529 6.48898C12.3985 6.80479 12.6978 7.02224 13.0432 7.06319L18.378 7.69572L14.4339 11.3431C14.1785 11.5793 14.0642 11.9311 14.132 12.2722L15.1789 17.5414L10.4912 14.9174Z"
                                                          stroke="#FDB601"/>
                                                </svg>
                                            </div>
                                            <div class="icon-wrapper">
                                                <svg class="star" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M10.4912 14.9174C10.1877 14.7475 9.81781 14.7475 9.51434 14.9174L4.82657 17.5414L5.87355 12.2722C5.94133 11.9311 5.82701 11.5793 5.57167 11.3431L1.62752 7.69571L6.96233 7.06318C7.30769 7.02224 7.60697 6.80479 7.75264 6.48899L10.0028 1.61075L12.2529 6.48898C12.3985 6.80479 12.6978 7.02224 13.0432 7.06319L18.378 7.69572L14.4339 11.3431C14.1785 11.5793 14.0642 11.9311 14.132 12.2722L15.1789 17.5414L10.4912 14.9174Z"
                                                          stroke="#FDB601"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="rating-wrapper">
                                        <p>5.0</p>
                                        <img src="{% static 'icons/5-stars-icon.svg' %}" alt="">
                                    </div>
                                {% endif %}
                                <p class="average-rating" style="display: none;">
                                    {{ object.average_rating }}
                                </p>
                                <a href="javascript:void(0)" class="link"
                                   onclick="trackButtonClick('{{ object.get_absolute_url }}', {{ object.ecommerce_items|safe }})">
                                    <h5>
                                        {{ object.name }}
                                    </h5>
                                </a>
                                <div class="discount-banner">
                                    <img src="{% static 'icons/fire-icon.svg' %}" alt="fire icon">
                                    {% if object.remaining_participants and object.remaining_participants < 6 %}
                                        <span>
                                            We have only {{ object.remaining_participants }} left at this price
                                        </span>
                                    {% else %}
                                        <span>
                                            {{ object.parent_experience.increase_percentage_old_price }}% discount
                                        </span>
                                    {% endif %}
                                </div>

                                <div class="experience-type-list-wrapper">
                                    <ul class="main-info-list">
                                        <li>
                                            <img src="{% static 'icons/duration-icon.svg' %}" alt="">
                                            {% if object.duration %}{{ object.duration|safe }}{% else %}{% endif %}
                                        </li>
                                        {% if object.parent_experience.is_private %}
                                            <li>
                                                <img src="{% static 'icons/private-tour-icon.svg' %}" alt="">
                                                Private Experience
                                            </li>
                                        {% else %}
                                            <li>
                                                <img src="{% static 'icons/group-tour-icon.svg' %}" alt="">
                                                Small Group
                                            </li>
                                        {% endif %}
                                        {% if object.parent_experience.hotel_pick_up %}
                                        <li>
                                            <img src="{% static 'icons/pick-up-icon.svg' %}" alt="">
                                            Hotel Pick Up
                                        </li>
                                        {% endif %}
                                        {% if object.parent_experience.skip_the_line %}
                                            <li>
                                                <img src="{% static 'icons/skip-line-icon.svg' %}" alt="">
                                                Skip-The-Line
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <p class="experience-list-item-text">
                                    {{ object.short_description }}
                                </p>
                                {% if cart_not_empty %}
                                    {% if object.parent_experience.second_purchase_discount > 0 %}
                                        <div class="price-wrapper turbo-sale">
                                            <div class="top-discount-label">
                                                <img src="{% static 'icons/green-gift-icon.svg' %}" alt="gift">
                                                <p>
                                                    -€{{ object.parent_experience.second_purchase_discount }} applied
                                                </p>
                                            </div>
                                            <div class="bottom-discount-label">
                                                <p class="discount-info-text">
                                                    Experience is eligable for special discount.
                                                </p>
                                                <div class="price">
                                                    <p class="old-price">
                                                        € {{ object.parent_experience.old_price }}
                                                    </p>
                                                    <p class="new-price">
                                                        € {{ object.parent_experience.applied_price }}
                                                    </p>
                                                    {% if object.parent_experience.is_private %}
                                                    {% else %}
                                                        <p class="per-person">
                                                            / per person
                                                        </p>
                                                    {% endif %}

                                                </div>

                                            </div>

                                        </div>
                                    {% else %}
                                        <div class="price-wrapper">
                                            <p class="old-price">
                                                € {{ object.parent_experience.old_price }}
                                            </p>
                                            <p class="new-price">
                                                € {{ object.parent_experience.price }}
                                            </p>
                                            
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="price-wrapper">
                                        <p class="old-price">
                                            € {{ object.parent_experience.old_price }}
                                        </p>
                                        <p class="new-price">
                                            € {{ object.parent_experience.price }}
                                        </p>
                                        {% if object.parent_experience.is_private %}
                                        <p class="per-person">
                                            / per group ({{ object.parent_experience.max_participants }} people maximum)
                                        </p>
                                        {% else %}
                                        <p class="per-person">
                                            / per person
                                        </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <div class="btns-wrapper">
                                    <button type="button" class="experience-link-btn btn-type-1"
                                            onclick="trackButtonClick('{{ object.get_absolute_url }}', {{ object.ecommerce_items|safe }})">
                                        Book now
                                    </button>
                                    {% if object.parent_experience.free_cancellation %}
                                        <p class="free-cancelation-label">
                                            + free cancellation
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
            </ul>
            {% endif %}

            <div class="pagination-block">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <button class="pagination-btn prev">
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                            </a>
                        </button>
                    {% else %}
                        <button class="pagination-btn prev">
                            <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                        </button>
                    {% endif %}
                    <ul class="pagination-list">
                        {% for num in page_obj.paginator.page_range %}

                            {% if page_obj.number == num %}
                                <li class="pagination-list-item active">{{ num }}</li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="pagination-list-item"><a class="" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                    {% if page_obj.has_next %}
                        <button class="pagination-btn next">
                            <a href="?page={{ page_obj.next_page_number }}">
                                <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                            </a>
                        </button>
                    {% else %}
                        <button class="pagination-btn next">
                            <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function updateURL() {
                let urlParams = new URLSearchParams(window.location.search);
                let tourType = document.getElementById('tour_type').value;
                let filterBy = document.getElementById('filter_by').value;
                let time_of_day = document.getElementById('time_of_day').value;
                let duration = document.getElementById('duration').value;

                let hasChanged = false;

                if (time_of_day !== 'all') {
                    urlParams.set('time_of_day', time_of_day);
                    hasChanged = true;
                } else {
                    urlParams.delete('time_of_day');
                }

                if (duration !== 'all') {
                    urlParams.set('duration', duration);
                } else {
                    urlParams.delete('duration');
                }

                if (tourType !== 'all') {
                    urlParams.set('tour_type', tourType);
                    hasChanged = true;
                } else {
                    urlParams.delete('tour_type');
                }

                if (filterBy !== 'all') {
                    urlParams.set('filter_by', filterBy);
                    hasChanged = true;
                } else {
                    urlParams.delete('filter_by');
                }

                if (hasChanged) {
                    window.history.replaceState(null, null, window.location.pathname + '?' + urlParams.toString());
                } else {
                    window.history.replaceState(null, null, window.location.pathname);
                }

                window.location.reload();
            }

            document.getElementById('tour_type').addEventListener('change', updateURL);
            document.getElementById('filter_by').addEventListener('change', updateURL);
            document.getElementById('time_of_day').addEventListener('change', updateURL);
            document.getElementById('duration').addEventListener('change', updateURL);

            let urlParams = new URLSearchParams(window.location.search);
            let tourTypeValue = urlParams.get('tour_type') || 'all';
            let filterByValue = urlParams.get('filter_by') || 'all';
            let timeOfDayValue = urlParams.get('time_of_day') || 'all';
            let durationValue = urlParams.get('duration') || 'all';

            document.getElementById('tour_type').value = tourTypeValue;
            document.getElementById('filter_by').value = filterByValue;
            document.getElementById('time_of_day').value = timeOfDayValue;
            document.getElementById('duration').value = durationValue;

            // Clean the URL if all parameters are default
            if (tourTypeValue === 'all' && filterByValue === 'all' && timeOfDayValue === 'all' && durationValue === 'all') {
                window.history.replaceState(null, null, window.location.pathname);
            }
        });

    </script>
    <script>
        let experienceCardList = document.querySelector('.experiences')
        let experienceCardListItems = experienceCardList.querySelectorAll('.experience-list-item');
        experienceCardListItems.forEach((item) => {
            let averageRating = item.querySelector('.average-rating').textContent;
            if (averageRating) {
                function fillStars(rating) {
                    const iconWrappers = item.querySelectorAll('.icon-wrapper');
                    const filledStars = Math.floor(rating);
                    const fraction = rating - filledStars;
                    iconWrappers.forEach((iconWrapper, index) => {
                        if (index < filledStars) {
                            iconWrapper.querySelector('.star').classList.add('filled');
                        } else if (index === filledStars) {
                            iconWrapper.style.setProperty('--fraction', fraction);
                            iconWrapper.classList.add('partial-fill');
                        }
                    });
                }

                fillStars(averageRating);
            }
        });
    </script>
    <script src="{% static 'google_analytics/data_pusher.js' %}"></script>
{% endblock %}