{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="blog-hero">
        <div class="container">
            <h1 class="blog-hero-title">
                Title
            </h1>
            <p class="blog-hero-subtitle">
                Title
            </p>
        </div>
    </section>
    <section class="blog-list">
        <div class="container">
            <div class="blog-categories-wrapper">
                <h3 class="blog-categories-title">
                    Categories
                </h3>
                <ul class="categories-list">
                    <li class="categories-list-item active">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                    <li class="categories-list-item">Title</li>
                    <li class="categories-list-item">Title long</li>
                    <li class="categories-list-item">Title long long long</li>
                </ul>
            </div>
            <div class="blog-cards-wrapper">
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
                <div class="blog-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/blog-list-img1.png' %}" alt="blog card img">
                    </div>
                    <div class="card-content-wrapper">
                        <p class="card-date">
                            MM/DD/YYYY
                        </p>
                        <h5 class="card-title">
                            Porto: Spiritus multimedia show admission ticket
                        </h5>
                        <a href="" class="card-link">
                            read article
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <section class="experience-list-hero">
        <div class="container">
            <h1 class="experience-list-hero-title">
                Experience with
                <img src="{% static 'icons/main-logo.svg' %}" alt="Destination logo">
            </h1>
            <div class="experience-list-hero-calendar">
                <form action="">
                    <div class="place-wrapper">
                        <label for="place">
                            Where to?
                        </label>
                        <select required name="place" id="place" class="place">
                            <option disabled selected hidden value="">Choose place</option>
                            <option value="Porto">
                                Porto
                            </option>
                            <option value="Lisbon">
                                Lisbon
                            </option>
                        </select>
                    </div>
                    <div class="date-wrapper">
                        <label for="date">
                            When?
                        </label>
                        <input type="date" name="date" id="date">
                    </div>
                    <button type="button" class="form-btn btn-type-1">
                        <img src="{% static 'icons/search.svg' %}" alt="">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section class="experience-list">
        <div class="container">
            <div class="title-filter-wrapper">
                <h3 class="experience-list-title">
                    Title name
                </h3>
                <div class="filter-wrapper">
                    <p class="experience-filter-title">
                        Sort by 
                    </p>
                    <select name="experience filter" id="experience_filter">
                        <option value="Price">Price Low To High</option>
                        <option value="Discount">Discount Low To High</option>
                        <option value="Date">Date</option>
                        <option value="Hot_deals">Hot deals first</option>
                    </select>
                </div>
            </div>
            <ul class="experiences">
                {% if object_list %}
                    {% for object in object_list %}
                    <li class="experience-list-item">
                        <div class="list-item-img-wrapper">
                            
                            <span class="img-label">
                                OneDayTours Exclusive
                            </span>
                            <img src="{% if object.parent_experience.card_image %}
                            {{ object.parent_experience.card_image.url }}{% else %}{% endif %}" alt="Card image for {{ object.name }}">
                        </div>
                        <div class="experience-list-content-wrapper">
                            <h5>
                                {{ object.name }}
                            </h5>
                            <div class="experience-type-list-wrapper">
                                
                                <ul class="main-info-list">
                                    <li>
                                        Duration: 6h 
                                    </li>
                                    <li>
                                        Free Cancellation
                                    </li>
                                    <li>
                                        Private Tour
                                    </li>
                                    <li>
                                        Skip-The-Line
                                    </li>
                                </ul>
                            </div>
                            <p class="experience-list-item-text">
                                {{ object.short_introduction_text }}
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed qu.
                            </p>
                            <div class="price-wrapper">
                                <p class="old-price">
                                    € 20
                                </p>
                                <p class="new-price">
                                    € 20
                                </p>
                            </div>
                            <a href="{% url 'experience-detail'  lang=object.language.code.lower slug=object.slug %}" class="experience-link-btn btn-type-1">
                                Book now
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        
    </section>

    

    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
{% endblock %}