{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>{{ object.page_title }}</title>
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
{% endblock head %}
{% block content %}

    <section class="blog-detail-hero">
        <div class="container">
            <img src="{% if object.parent_blog.banner %}{{ object.parent_blog.banner.url }}{% else %}{% endif %}" alt="{{ object.parent_blog.banner.name }}">
            <h2 class="blog-detail-hero-title">
                {{ object.title }}
            </h2>
            <div class="blog-detail-hero-info-wrapper">
                <div class="left-col">
                    <div class="publication-info">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/blog-calendat-icon.svg' %}" alt="">
                        </div>
                        <div class="content-wrapper">
                            <p class="content-title">
                                Publication
                            </p>
                            <p class="content-text">
                                {{ object.date_published|date }}
                            </p>
                        </div>
                    </div>
                    <div class="publication-info">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/blog-read-icon.svg' %}" alt="">
                        </div>
                        <div class="content-wrapper">
                            <p class="content-title">
                                Reading time
                            </p>
                            <p class="content-text">
                                {{ object.read_time }} minutes
                            </p>
                        </div>
                    </div>
                    <!-- <div class="publication-info">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/blog-views-icon.svg' %}" alt="">
                        </div>
                        <div class="content-wrapper">
                            <p class="content-title">
                                Number of views
                            </p>
                            <p class="content-text">
                                {{ object.views }}
                            </p>
                        </div>
                    </div> -->
                </div>
                <div class="right-col">
                    <div class="publication-author">
                        <div class="img-wrapper">
                            {% if object.author.profile.avatar %}
                                <img src="{{ object.author.profile.avatar.url }}" alt="author avatar">
                            {% endif %}
                        </div>
                        <div class="content-wrapper">
                            <p class="content-title">
                                Author
                            </p>
                            <p class="content-text">
                                {{ object.author.profile.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-content">
        <div class="container">
            <div class="left-col">
                <p>{{ object.short_description }}</p>
                {% if object.blocks.all %}
                    {% for block in object.blocks.all %}
                        <h3 id="{{ block.pk }}">{{ block.title }}</h3>
                        {{ block.display_text }}
                        {% if forloop.counter == midpoint %}
                            <img src="{{ object.middle_picture.url }}" alt="Middle Picture">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No Blocks of Blog written yet...</p>
                {% endif %}
            </div>
            <div class="right-col">
                <div class="categories-wrapper">
                    <h5 class="categies-title">
                        Categories
                    </h5>
                    {% if object.categories.all %}
                        {% for category in object.categories.all %}
                            <button type="button" class="btn btn-light">{{ category }}</button>
                        {% endfor %}
                    {% else %}
                        <h5 class="categies-title">
                            No categories yet...
                        </h5>

                    {% endif %}
                </div>
                <div class="aside-block">
                    <h3 class="aside-block-title">
                        Neque porro
                    </h3>
                    <ul class="aside-block-list">
                        {% if object.blocks.all %}
                            {% for block in object.blocks.all %}
                                <li><a href="#{{ block.pk }}">{{ block.title }}</a></li>
                            {% endfor %}
                        {% else %}
                            <p>No Blocks of Blog written yet...</p>
                        {% endif %}
                    </ul>


                    </ul>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/also_interested.html' %}
    <section class="offers-banner blog">
        <div class="container">
            <h2 class="offers-banner-title">
                Special Offers
            </h2>
            <p class="offers-banner-subtitle">
                Get exclusive benefits and premium discounts with our subscription plan
            </p>
            <form action="" class="offers-banner-form">
                <input type="email" class="email-input" name="email" id="subscription-email" placeholder="Enter Email Address">
                <button type="submit" class="form-submit-btn">
                    Subscribe
                </button>
            </form>
        </div>
    </section>

    <script>
        const swiper = new Swiper(".swiper-attractions", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                767: {
                    slidesPerView: 2,
                    spaceBetween: 24,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language
        const currentLanguage = `{{ current_language }}`  // from response extra_context

    </script>
    <script>
        const swiperAttractionHero = new Swiper(".attraction-hero-slider", {
            slidesPerView: 3,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock content %}
