{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <section class="blog-hero">
        <div class="container">
            <h1 class="blog-hero-title">
                Portugal travel blog
            </h1>
            <p class="blog-hero-subtitle">
                Get insider information from locals and become more prepared for your trip to Portugal
            </p>
        </div>
    </section>
    <section class="blog-list">
        <div class="container">
            <form method="GET" class="attraction-filter-form">
                {{ filter_form }}
                <div class="form-btns-wrapper">
                    <button type="submit" class="btn btn-submit">Apply</button>
                    <button type="button" class="btn btn-reset" onclick="resetForm()">Reset</button>
                </div>
            </form>
            <div class="blog-cards-wrapper">
                {% if object_list %}
                    {% for object in object_list %}
                        <div class="blog-card">
                            <div class="img-wrapper">
                                <a href="{% url 'blog-detail' slug=object.slug lang=object.language.code.lower %}">
                                    <img src="{% if object.parent_blog.card_image %}{{ object.parent_blog.card_image.url }}
                            {% else %}{% endif %}" alt="Card image for blog {{ object.title }}">
                                </a>
                                
                            </div>
                            <div class="card-content-wrapper">
                                <p class="card-date">
                                    {{ object.date_published|date }}
                                </p>
                                <h5 class="card-title">
                                    <a href="{% url 'blog-detail' slug=object.slug lang=object.language.code.lower %}">
                                        {{ object.title }}
                                    </a>
                                </h5>
                                <a href="{% url 'blog-detail' slug=object.slug lang=object.language.code.lower %}" class="card-link">
                                    read article
                                    <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="offers-banner">
        <div class="container">
            <h2 class="offers-banner-title">
                Special Offers
            </h2>
            <p class="offers-banner-subtitle">
                Get exclusive benefits and premium discounts with our subscription plan
            </p>
            <form id="subscription-form" action="" method="post" class="offers-banner-form">
                {% csrf_token %}
                {{ subscription_form|crispy }}
                <button type="submit" class="form-submit-btn">Subscribe</button>
            </form>
        </div>
    </section>

    <div class="subscribe-popup">
        <a href="#" class="close-popup-btn">
            <img src="{% static 'icons/icon-close.svg' %}" alt="close button">
        </a>
        <h2 class="popup-title">
            Thank you for subscribing!
        </h2>
        <p class="popup-text">
            We'll keep you updated on the latest news and discounts from our company.
        </p>
        <a href="#" class="btn-popup btn-type-1" id="continue-btn">
            Continue
        </a>
    </div>

    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
    <script src="{% static 'js/subscription.js' %}"></script>
    <script>
        function resetForm() {
            window.location.href = "{% url 'attraction-list' lang=current_language %}";  // Redirect to the same page without any parameters
        }
    </script>
{% endblock content %}