{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{ object.page_title }}</title>
<meta name="description" content="{{ object.page_description }}">
<meta name="keywords" content="{{ object.page_keywords }}">
{% endblock head %}
{% block content %}
<div class="container">
    <img src="{% if object.parent_blog.banner %}{{ object.parent_blog.banner.url }}{% else %}{% endif %}" alt="{{ object.parent_blog.banner.name }}"
         style="z-index: 1; position: relative; top: 0;">

<h1>{{ object.title }}</h1>
<p>Publication: {{ object.date_published|date }}</p>
<p>Read time: {{ object.read_time }} minutes</p>
<p>Number of views: {{ object.views }}</p>
<p>Categories</p>
<p>
    {% if object.categories.all %}
        {% for category in object.categories.all %}
        <button type="button" class="btn btn-light">{{ category }}</button>
        {% endfor %}
        {% else %}
        No categories yet...
    {% endif %}
</p>
<h2>Exactly content below...</h2>
{{ object.display_content }}

</div>
<script>
    const swiper = new Swiper(".swiper-attractions", {
        slidesPerView: 2,
        speed: 1000,
        spaceBetween: 24,
        breakpoints: {
            200: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            767: {
                slidesPerView: 2,
                spaceBetween: 24,
            }
        },
        // Navigation arrows
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
<script>
    // Define all window.location.pathname according language value
    const languages = {{ languages|safe }};  // from response extra_context
    // Define current language according object.language
    const currentLanguage = `{{ current_language }}`  // from response extra_context

</script>
<script>
    const swiperAttractionHero = new Swiper(".attraction-hero-slider", {
        slidesPerView: 3,
        speed: 1000,
        spaceBetween: 24,
        breakpoints: {
            200: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            767: {
                slidesPerView: 3,
                spaceBetween: 30,
            }
        },
        // Navigation arrows
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
<script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock content %}
