{% extends 'base.html' %}
{% block header %}
    <!-- Navbar -->
    {% include 'include/navbar_empty.html' %}
    <!-- End Navbar -->
{% endblock %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing details | One Day Tours Portugal</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'stripe/checkout.css' %}"/>
{% endblock head %}

{% block content %}
    <div class="cart">
        <div class="container">
            <div class="cart-steps-wrapper">
                <ul class="cart-steps">
                    <li class="cart-step-item finished">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                            <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        </div>
                        <div class="text-wrapper">
                            <p class="step-text body-text-b4">
                                1 Step
                            </p>
                            <p class="body-text-b3 step-title">
                                My experiences
                            </p>
                        </div>
                        
                    </li>
                    <li class="cart-step-item active">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                            <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                            <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        </div>
                        <div class="text-wrapper">
                            <p class="step-text body-text-b4">
                                2 Step
                            </p>
                            <p class="body-text-b3 step-title">
                                Billing details
                            </p>
                        </div>
                        
                    </li>
                    <li class="cart-step-item ">
                        <div class="img-wrapper">
                            <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                            <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                            <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        </div>
                        
                        <div class="text-wrapper">
                            <p class="step-text body-text-b4">
                                3 Step
                            </p>
                            <p class="body-text-b3 step-title">
                                Confirmation
                            </p>
                        </div>
                        
                    </li>
                </ul>
                
            </div>
            <div class="cart-title-wrapper">
                <h2 class="cart-title">
                    Please Complete your order
                </h2>

            </div>
            <!-- Display a payment form -->
            <form id="payment-form">
                <div class="left-col">
                    <div class="order-details order-details--mobile">
                        <div class="details-title-wrapper">
                            <h4>Order Details</h4>
                            <span>
                                Details
                                <img src="{% static 'icons/orange-arrow.svg' %}" alt="arrow">
                            </span>
                        </div>
                        <ul class="orders-list">
                            {% if object_list %}
                                {% for object in object_list %}
                                    <li class="order-item">
                                        <p class="order-name">
                                            {{ object.parent_experience }}
                                        </p>
                                        <p class="order-price">
                                            €{{ object.total_price }}
                                        </p>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="total-price-wrapper">
                            <p class="total-title">
                                Total:
                            </p>
                            <p class="total-sum">
                                €{{ total_sum }}
                            </p>
                        </div>

                    </div>
                    <div id="link-authentication-element">
                        <!--Stripe.js injects Link Authentication Element-->
                    </div>
                    <div id="address-element">
                        <!--Stripe.js injects the Address Element-->
                    </div>
                </div>
                <div class="right-col">
                    <div class="order-details">
                        <div class="details-title-wrapper">
                            <h4>Order Details</h4>
                            <span>
                                Details
                                <img src="{% static 'icons/orange-arrow.svg' %}" alt="arrow">
                            </span>
                        </div>
                        <ul class="orders-list">
                            {% if object_list %}
                                {% for object in object_list %}
                                    <li class="order-item">
                                        <div class="top-order-wrapper">
                                            <p class="order-name">
                                                {{ object.parent_experience }}
                                            </p>
                                            <p class="order-price">
                                                €{{ object.total_price }}
                                            </p>
                                        </div>
                                        <div class="bottom-order-wrapper">
                                            <p class="date">
                                                MM/DD/YYYY;
                                            </p>
                                            <p class="participants">
                                                Number of participants: X; 
                                            </p>
                                            <p class="free-canc">
                                                Free cancellation before May 3, 2024, 9:59 A.M.
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                        <div class="total-price-wrapper">
                            <p class="total-title">
                                Total:
                            </p>
                            <p class="total-sum">
                                €{{ total_sum }}
                            </p>
                        </div>

                    </div>
                    <div class="checkout-btn-wrapper">
                        <div id="express-checkout-element">
                            <!-- Mount the Express Checkout Element here -->
                        </div>
                        <!-- Display the payment amount -->
                        
                        <p class="privacy-text">
                            By clicking "Pay now" button, I agree to the <a href="{% url 'page_detail' slug='terms-and-conditions' %}">Terms of Service</a>  and <a href="{% url 'page_detail' slug='privacy-policy' %}">Privacy Policy</a>
                        </p>
                        <button id="submit" class="btn-type-1">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pay Now</span>
                        </button>
                        <p class="charges-text">
                            Charges will appear on your credit card or bank statement as ONEDAYTOURSLDA
                        </p>
                    </div>
                   
                </div>

                <div id="payment-message" class="hidden"></div>
            </form>
            
        </div>
        <div class="we-accept-wrapper">
            <div class="container">
                <p class="we-accept-title">
                    We accept:
                </p>
                <ul class="we-accept-list">
                    <li><img src="{% static 'icons/mastercard.svg' %}" alt="mastercard"></li>
                    <li><img src="{% static 'icons/visa.svg' %}" alt="visa"></li>
                    <li><img src="{% static 'icons/discover.svg' %}" alt="discover"></li>
                    <li><img src="{% static 'icons/diners-club.svg' %}" alt="diners club"></li>
                    <li><img src="{% static 'icons/klarna.svg' %}" alt="klarna"></li>
                    <li><img src="{% static 'icons/paypal.svg' %}" alt="paypal"></li>
                    <li><img src="{% static 'icons/union-pay.svg' %}" alt="union pay"></li>
                    <li><img src="{% static 'icons/amex.svg' %}" alt="amex"></li>
                </ul>
            </div>
            
        </div>
    </div>


    <!-- Custom JS import -->
    <script>
        const stripe = Stripe('{{ stripe_public_key }}');
        let elements;
        let paymentElement;

        initialize(); // Call initialize function when the page loads
        checkStatus();

        document.querySelector("#payment-form").addEventListener("submit", handleSubmit);

        async function initialize() {
            // Check if the product_ids list is empty
            const queryParams = new URLSearchParams(window.location.search);
            const paymentIntentClientSecret = queryParams.get('payment_intent_client_secret');

            if (paymentIntentClientSecret) {
                // If the payment_intent_client_secret is not present, do not initialize the payment form
                return;
            }

            const response = await fetch("/checkout/", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({product_ids: {{ product_ids }}}),
            });
            const {clientSecret, customerData, paymentAmount} = await response.json();
            // Convert the payment amount from cents to euros
            // const paymentAmountInEuros = (paymentAmount / 100).toLocaleString('en-US', {
            //     style: 'currency',
            //     currency: 'EUR'
            // });
            
            // document.getElementById('payment-amount').textContent = paymentAmountInEuros;
            // Access the nested properties of customerData
            const {name, email, phone, address} = customerData;
            // Create Stripe elements
            const appearance = {
                theme: 'flat',
                variables: {
                    colorPrimary: '#ffffff',
                    colorBackground: '#ffffff',
                    colorText: '#0F0F10',
                    colorDanger: '#df1b41',
                    fontFamily: 'Ideal Sans, system-ui, sans-serif',
                    spacingUnit: '5px',
                    borderRadius: '42px',
                },
                rules: {
                    '.Tab': {
                        padding: '10px 24px',
                        border: 'none',
                        color: '#6D6D6D'
                    },
                    '.Tab--selected': {
                        border: '1px solid #F0500B',
                        color: '#6D6D6D',
                        
                    },
                }
            };
            elements = stripe.elements({appearance, clientSecret});

            const linkAuthenticationElement = elements.create("linkAuthentication", {defaultValues: {email: customerData.email}});
            linkAuthenticationElement.mount("#link-authentication-element");

            const options = {
                mode: 'billing',
                fields: {phone: 'always', email: 'always'},
                display: {
                    // name: 'split'
                },
                defaultValues: {
                    name,
                    phone,
                    address
                }
            };
            // Mount the address element
            const addressElement = elements.create("address", options);
            addressElement.mount('#address-element');

            // Mount the Express Checkout element (Apple Pay, Google Pay, and PayPal)
            const expressCheckoutElement = elements.create("payment", {
                paymentMethod: {
                    card: null, // This allows users to select other payment methods like Apple Pay, Google Pay, and PayPal
                    billing_details: {
                        name,
                        email,
                        phone,
                    },
                },
            });
            expressCheckoutElement.mount("#express-checkout-element");

        }

        async function handleSubmit(e) {
            e.preventDefault();

            setLoading(true);

            const {error} = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: `{{ return_url }}`,
                },
            });

            // This point will only be reached if there is an immediate error when
            // confirming the payment. Otherwise, your customer will be redirected to
            // your `return_url`. For some payment methods like iDEAL, your customer will
            // be redirected to an intermediate site first to authorize the payment, then
            // redirected to the `return_url`.
            if (error) {
                showMessage(error.message);
            } else {
                showMessage("An unexpected error occurred.");
            }

            setLoading(false);
        }

        // Fetches the payment intent status after payment submission
        async function checkStatus() {
            const clientSecret = new URLSearchParams(window.location.search).get(
                "payment_intent_client_secret"
            );

            if (!clientSecret) {
                return;
            }

            const {paymentIntent} = await stripe.retrievePaymentIntent(clientSecret);

            switch (paymentIntent.status) {
                case "succeeded":
                    // Redirect to the confirmation page after a delay
                    setTimeout(() => {
                        window.location.href = `/confirmation/{{ current_language }}/?payment_intent_id=${paymentIntent.id}`;
                    }, 5000); // Delay in milliseconds (e.g., 5000 for 5 seconds)
                    // http://onedaytours.pt/confirmation/en/?payment_intent_id=pi_3P9QpxLH746GcpOj1FMTEdhm
                    break;
                case "processing":
                    showMessage("Your payment is processing.");
                    break;
                case "requires_payment_method":
                    showMessage("Your payment was not successful, please try again.");
                    break;
                default:
                    showMessage("Something went wrong.");
                    break;
            }
        }

        // ------- UI helpers -------

        function showMessage(messageText) {
            const messageContainer = document.querySelector("#payment-message");

            messageContainer.classList.remove("hidden");
            messageContainer.textContent = messageText;

            setTimeout(function () {
                messageContainer.classList.add("hidden");
                messageContainer.textContent = "";
            }, 4000);
        }

        // Show a spinner on payment submission
        function setLoading(isLoading) {
            if (isLoading) {
                // Disable the button and show a spinner
                document.querySelector("#submit").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
            } else {
                document.querySelector("#submit").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
            }
        }
    </script>
    <!-- Order Details Toggler -->
    <script>
        let orderDetailsWrapper = document.querySelectorAll('.order-details')

        orderDetailsWrapper.forEach((wrapper) => {
            let orderDetailsBtn = wrapper.querySelector('.details-title-wrapper span')
            let orderDetailsBtnIcon = orderDetailsBtn.querySelector('img')
            let orderList = wrapper.querySelector('.orders-list')

            orderDetailsBtn.addEventListener('click', () => {
                orderDetailsBtn.classList.toggle('opened');
                orderList.classList.toggle('opened')
            })
        })
        

    </script>
    <!-- For language selector -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>

    <!-- For language selector -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
{% endblock %}
{% block footer_columns %}{% endblock %}
