{% extends 'base.html' %}
{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block content %}
    <div id="checkout">
        <!-- Checkout will insert the payment form here -->
    </div>
    <script>
        // Initialize Stripe.js
        const stripe = Stripe('pk_test_51OgTxhB0X2obciNigcJJ1FZ831YDandrQUaDNTs6OmzaDaXljGs4W5argoWEaRy3brFpaGVeUtcmeRJEPyT8b9sO000V412c4k');

        initialize();

        // Fetch Checkout Session and retrieve the client secret
        async function initialize() {
            const response = await fetch("/create-checkout-session", {
                method: "POST",
            });
            const {clientSecret} = await response.json();

            // Initialize Checkout
            const checkout = await stripe.initEmbeddedCheckout({
                clientSecret,
            });

            // Mount Checkout
            checkout.mount('#checkout');
        }

    </script>
{% endblock %}