{% extends 'base.html' %}
{% load static %}
{% block title_suffix %}
    Confirmation from Stripe Checkout
{% endblock title_suffix %}

{% block content %}
    <div class="cart">
        <div class="container">
            <div class="cart-steps-wrapper">
                <ul class="cart-steps">
                    <li class="cart-step-item finished">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            1 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            Basket
                        </p>
                    </li>
                    <li class="cart-step-item finished">
                        <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            2 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            Billing details
                        </p>
                    </li>
                    <li class="cart-step-item active">
                        <img src="{% static 'icons/step-disabled-icon.svg' %}" alt="step" class="disabled">
                        <img src="{% static 'icons/step-active-icon.svg' %}" alt="step" class="active">
                        <img src="{% static 'icons/step-finished-icon.svg' %}" alt="step" class="finished">
                        <p class="step-text body-text-b4">
                            3 Step
                        </p>
                        <p class="body-text-b3 step-title">
                            Confirmation
                        </p>
                    </li>
                </ul>
            </div>
            <div class="cart-title-wrapper">
                <h2 class="cart-title">
                    Confirmation
                </h2>
                <p class="cart-subtitle">
                    Your booking is confirmed. Please check the details below.
                </p>
            </div>
            <section id="success" class="hidden confirmation-info">
                <div class="img-wrapper">
                    <img src="{% static 'images/best-tours-img1.png' %}" alt="confirm img">
                </div>
                <div class="content-wrapper">
                    <h4 class="content-title">
                        Experience name long-long-long long-long-long long-long-long
                    </h4>
                    <ul class="content-list">
                        <li>MM/DD/YYYY</li>
                        <li>11:10 AM</li>
                    </ul>
                    <ul class="content-list">
                        <li>2 Adult</li>
                        <li>3 Children</li>
                    </ul>
                    <ul class="content-list">
                        <li>Private type</li>
                        <li>English Language</li>
                    </ul>
                </div>
            </section>
            <div class="confirmation-btns-wrapper">
                <a href="" class="continue-shopping-btn">
                    Continue shopping
                </a>
                <a href="" class="download-pdf btn-type-1">
                    download pdf
                </a>
            </div>
        </div>
    </div>





    <div class="container">

        <section id="success" class="hidden">
            <h3>Confirmation</h3>
            <p>Your booking is confirmed. Please check the details below.</p>

            <p><small>Edit this design as you need...</small></p>

            {% if purchase %}

                {% if object_list %}
                    {% for object in object_list %}
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ object.parent_experience.card_image.url }}" class="img-fluid rounded-start"
                                         alt="card image preview for {{ object.parent_experience }}">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ object.parent_experience.parent_name }}</h5>
                                        <table class="table table-borderless">
                                            <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Time UTC</th>
                                                <th>Type</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ object.date_of_start }}</td>
                                                <td>{{ object.time_of_start }}</td>
                                                <td>{% if object.parent_experience.is_private %}Private{% else %}Group{% endif %}</td>
                                            </tr>
                                            </tbody>

                                            <thead>
                                            <tr>
                                                <th>Language</th>
                                                <th>Adult & Price</th>
                                                <th>Children & Price</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td>{{ object.language }}</td>
                                                <td>{{ object.adults_count }} x {{ object.adults_price }} EUR</td>
                                                <td>{{ object.child_count }} x {{ object.child_price }} EUR</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="{% url 'generate-pdf' product_id=object.id %}" class="btn btn-success">Download PDF</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}

            <p>
                We appreciate your business! A confirmation email will be sent to <span id="customer-email" class="d-inline p-2 bg-dark text-white"></span>.

                If you have any questions, please email <a href="mailto:orders@example.com">orders@example.com</a>.
            </p>
            <div>
        </section>
    </div>

    <!-- Custom JS import -->
    <script>
        const sessionStatus = `{{ status }}`;
        const customerEmail = `{{ customer_email }}`;

        if (sessionStatus === 'open') {
            window.replace("{% url 'payment-form' lang='en' %}")
        } else if (sessionStatus === 'complete') {
            document.getElementById('success').classList.remove('hidden');
            document.getElementById('customer-email').textContent = customerEmail;
        }
    </script>

    <!-- For language selector -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
{% endblock %}