{% extends 'base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded Stripe Checkout</title>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        /* Add your custom styles here */
    </style>
{% endblock head %}

{% block content %}
    <div class="container">
        <h1>Checkout</h1>

        <div id="checkout">
            <!-- Payment form will be inserted here -->
        </div>

    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const stripe = Stripe('{{ stripe_public_key }}'); // Replace with your Stripe public key
            const checkoutButton = document.getElementById('checkout-button');
            let form = document.getElementById('checkout-form');

            checkoutButton.addEventListener('click', function () {
                fetch('/create-checkout-session/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token
                    },
                    body: JSON.stringify({
                        product_ids: ['{{ product_id }}'] // Pass the product IDs
                    })
                })
                    .then(function (response) {
                        console.log('response:', response);
                        return response.json();
                    })
                    .then(function (session) {
                        return stripe.redirectToCheckout({sessionId: session.sessionId});
                    })
                    .then(function (result) {
                        console.log('result:', result);
                        if (result.error) {
                            // Handle errors
                            console.error(result.error.message);
                        }
                    })
                    .catch(function (error) {
                        console.error('Error:', error);
                    });
            });
        });
    </script>

{% endblock content %}