{% extends "base.html" %}
{% load static %}
{% block title %}
    Best Portugal Attractions and Activities
{% endblock %}
{% block title_suffix %}
    | One Day Tours Portugal
{% endblock title_suffix %}
{% block meta_tags %}
    <meta name="description" content="Attractions list page">
    <meta name="keywords" content="attractions">
{% endblock meta_tags %}

{% block content %}
    <section class="attraction-list-hero">
        <div class="container">
            <h1 class="attraction-list-hero-title">
                Best Portugal Attractions and Activities <span>with</span>
                <img src="{% static 'icons/main-logo.svg' %}" alt="Main logo">
            </h1>
        </div>
    </section>


    <section class="attraction-list">
        <div class="container">
            <div class="title-filter-wrapper">
                <h3 class="attraction-list-title">
                    List of attractions in Portugal
                </h3>

            </div>
            <form method="GET" class="attraction-filter-form">
                {{ filter_form }}
                <div class="form-btns-wrapper">
                    <button type="submit" class="btn btn-submit" disabled>Apply</button>
                    <button type="button" class="btn btn-reset" disabled onclick="resetForm()">Reset</button>
                </div>

            </form>

            {% if object_list %}
                <ul class="attractions">
                    {% for object in object_list %}
                        <li class="attraction-list-item">
                            <div class="list-item-img-wrapper">
                                <a class="link" href="{% url 'attraction-detail'  lang=object.language.code.lower slug=object.slug %}">
                                    <img class="img-desktop" src="{% if object.parent_attraction.card_image %}{{ object.parent_attraction.card_image.url }}{% else %}{% endif %}" alt="Card image for {{ object.name }}">
                                    <img class="img-mobile" src="{% if object.parent_attraction.card_image_mobile %}{{ object.parent_attraction.card_image_mobile.url }}{% else %}{% endif %}" alt="Card image for {{ object.name }}">
                                </a>
                            </div>
                            <div class="attraction-list-content-wrapper">
                                <a href="{% url 'attraction-detail'  lang=object.language.code.lower slug=object.slug %}">
                                    <h5>
                                        {{ object.name }}
                                    </h5>
                                </a>
                                <div class="attraction-type-list-wrapper">
                                    {% if object.parent_attraction.tags.all %}
                                        <ul class="main-info-list">
                                            {% for tag in object.parent_attraction.tags.all %}
                                                <li>
                                                    <img src="{{ tag.icon_img.url }}" alt="icon for {{ tag.tag_name }}" title="{{ tag.tag_name }}">
                                                    {{ tag.tag_name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <p class="attraction-list-item-text">
                                    {{ object.short_introduction_text }}
                                </p>
                                <a href="{% url 'attraction-detail'  lang=object.language.code.lower slug=object.slug %}" class="attraction-link-btn">
                                    read more
                                    <img src="{% static 'icons/experience-link-icon.svg' %}" alt="link arrow">
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="pagination-block">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <button class="pagination-btn prev">
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                            </a>
                        </button>
                    {% else %}
                        <button class="pagination-btn prev">
                            <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                        </button>
                    {% endif %}
                    <ul class="pagination-list">
                        {% for num in page_obj.paginator.page_range %}

                            {% if page_obj.number == num %}
                                <li class="pagination-list-item active">{{ num }}</li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="pagination-list-item"><a class="" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                    {% if page_obj.has_next %}
                        <button class="pagination-btn next">
                            <a href="?page={{ page_obj.next_page_number }}">
                                <img src="{% static 'icons/pagination-arrow.svg' %}" alt="prev icon" class="orange">
                            </a>
                        </button>
                    {% else %}
                        <button class="pagination-btn next">
                            <img src="{% static 'icons/pagination-icon-grey.svg' %}" alt="prev icon" class="grey">
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>




    <!-- Custom JS import -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
    <script>
        function resetForm() {
            window.location.href = "{% url 'attraction-list' lang=current_language %}";  // Redirect to the same page without any parameters
        }
    </script>

<script>
    const checkboxes = document.querySelectorAll('#id_tags input');
    const applyButton = document.querySelector('.btn-submit');
    const resetButton = document.querySelector('.btn-reset');

    function updateButtonState() {
        const isChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        applyButton.disabled = !isChecked;
        resetButton.disabled = !isChecked;
    }

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateButtonState);
    });

    function resetForm() {
        checkboxes.forEach(checkbox => checkbox.checked = false);
        updateButtonState();
    }

    // Initialize button state on page load
    updateButtonState();
</script>
{% endblock %}
