{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>{{ object.page_title }}</title>
    <meta name="description" content="{{ object.page_description }}">
    <meta name="keywords" content="{{ object.page_keywords }}">
{% endblock head %}
{% block content %}

    <section class="attraction-hero">
        <div class="container">
            <h2 class="attraction-hero-title">
                {{ object.introduction_title }}
               
            </h2>

            {{ object.display_introduction_text_above_slider }}
            
            <div class="attraction-hero-slider">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                    {% if object.parent_attraction.slider_image_1 %}
                        <img src="{{ object.parent_attraction.slider_image_1.url }}" alt="Image for slider 1">
                    {% endif %}
                    </div>
                    <div class="swiper-slide">
                    {% if object.parent_attraction.slider_image_2 %}
                        <img src="{{ object.parent_attraction.slider_image_2.url }}" alt="Image for slider 1">
                    {% endif %}
                    </div>
                    <div class="swiper-slide">
                    {% if object.parent_attraction.slider_image_3 %}
                        <img src="{{ object.parent_attraction.slider_image_3.url }}" alt="Image for slider 1">
                    {% endif %}
                    </div>
                    <div class="swiper-slide">
                        {% if object.parent_attraction.slider_image_4 %}
                            <img src="{{ object.parent_attraction.slider_image_4.url }}" alt="Image for slider 1">
                        {% endif %}
                    </div>
                    <div class="swiper-slide">
                        {% if object.parent_attraction.slider_image_5 %}
                            <img src="{{ object.parent_attraction.slider_image_5.url }}" alt="Image for slider 1">
                        {% endif %}
                    </div>
                    <div class="swiper-slide">
                        {% if object.parent_attraction.slider_image_6 %}
                            <img src="{{ object.parent_attraction.slider_image_6.url }}" alt="Image for slider 1">
                        {% endif %}
                    </div>
                    
                </div>
        
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
            {{ object.display_introduction_text_below_slider }}
            
        </div>
    </section>

    <section class="attraction-info-cards">
        <div class="container">
            <h2 class="attraction-info-cards-title">
                {{ object.info_title }}
            </h2>
            <p class="body-text-b3 attraction-info-cards-subtitle">
                {{ object.info_subtitle }}
            </p>
            <div class="attraction-info-cards-wrapper">
                <div class="attraction-info-card">
                    <img src="{% static 'icons/attraction-info-card-img1.svg' %}" alt="" class="attraction-info-card-img">
                    <p class="body-text-b2 attraction-info-card-title">
                        Time of work 
                    </p>

                    {{ object.display_time_of_work|safe }}
                   
                </div>
                <div class="attraction-info-card">
                    <img src="{% static 'icons/attraction-info-card-img2.svg' %}" alt="" class="attraction-info-card-img">
                    <p class="body-text-b2 attraction-info-card-title">
                        Address
                    </p>
                    
                        {{ object.display_address }}
                        
                </div>
                <div class="attraction-info-card">
                    <img src="{% static 'icons/attraction-info-card-img3.svg' %}" alt="" class="attraction-info-card-img">
                    <p class="body-text-b2 attraction-info-card-title">
                        Price
                    </p>
                    
                        {{ object.display_price }}
                   
                </div>
                <div class="attraction-info-card">
                    <img src="{% static 'icons/attraction-info-card-img4.svg' %}" alt="" class="attraction-info-card-img">
                    <p class="body-text-b2 attraction-info-card-title">
                        Accessibility
                    </p>
                    
                        {{ object.display_accessibility }}
                    
                </div>
                <div class="attraction-info-card">
                    <img src="{% static 'icons/attraction-info-card-img5.svg' %}" alt="" class="attraction-info-card-img">
                    <p class="body-text-b2 attraction-info-card-title">
                        Possibility
                    </p>
                   
                        {{ object.display_possibility }}
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="also-interested">
        <div class="container">
            <h2 class="also-interested-title">
                {{ object.recommendations_title }}
            </h2>
            <p class="also-interested-subtitle body-text-b2">
                {{ object.recommendations_subtitle }}
            </p>
            <div class="also-interested-cards-wrapper">
                <div class="also-interested-card">
                    <img src="{% static 'images/also-interested-img1.png' %}" alt="" class="also-interested-img">
                    <p class="body-text-b2 also-interested-card-title">
                        Cascais
                    </p>
                    <p class="body-text-b3 also-interested-card-text">
                        Explore Cascais, a perfect mixture of natural and architectural beauty, located near Lisbon. Investigate its breathtaking landscapes and historical wonders with comprehensive OneDayTours. 
                    </p>
                </div>
                <div class="also-interested-card">
                    <img src="{% static 'images/also-interested-img2.png' %}" alt="" class="also-interested-img">
                    <p class="body-text-b2 also-interested-card-title">
                        Oporto
                    </p>
                    <p class="body-text-b3 also-interested-card-text">
                        Choose an amazing journey with a OneDayTours to Oporto, Portugal. Explore the vibrant history of the city, perfectly fit into the colorful landscapes, and experience the warm hospitality of Portugal.
                    </p>
                </div>
                <div class="also-interested-card">
                    <img src="{% static 'images/also-interested-img3.png' %}" alt="" class="also-interested-img">
                    <p class="body-text-b2 also-interested-card-title">
                        Sintra
                    </p>
                    <p class="body-text-b3 also-interested-card-text">
                        Get a chance to immerse in the real Wonderland with a OneDayTours to a fairytale Sintra. The place is filled with history and a mystical aura, heightened by the scenic landscape of nature.
                    </p>
                </div>
            </div>
            <div class="also-interested-more-info-wrapper">
                <h5 class="also-interested-more-info-title">
                    {{ object.recommendations_slogan }}
                </h5>
                <a href="" class="btn-type-2 also-interested-info-link">
                    see more 
                </a>
            </div>
        </div>
    </section>

    
    <section class="faq">
        <div class="container">
            <h2 class="faq-title">
                {{ object.faq_title }}
            </h2>
            <p class="faq-subtitle">
                {{ object.faq_subtitle }}
            </p>
            {% if current_faqs %}
                {% for record in current_faqs %}
                <div class="faq-block">
                    <p class="faq-question">{{ record.question }}</p>
                    <div>{{ record.display_answer }}</div>
                </div>
                {% endfor %}
            {% else %}
            <p>No FAQ yet written...</p>
            {% endif %}
        </div>
    </section>

    <script>
        const swiper = new Swiper(".swiper-attractions", {
            slidesPerView: 2,
            speed: 1000,
            spaceBetween: 24,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                767: {
                    slidesPerView: 2,
                    spaceBetween: 24,
                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
    <script>
        // Define all window.location.pathname according language value
        const languages = {{ languages|safe }};  // from response extra_context
        // Define current language according object.language
        const currentLanguage = `{{ current_language }}`  // from response extra_context

    </script>
    <script>
        const swiperAttractionHero = new Swiper(".attraction-hero-slider", {
      slidesPerView: 3,
      speed: 1000,   
      spaceBetween: 24,
      breakpoints: {
          200: {
              slidesPerView: 1,
              spaceBetween: 20,
          },
          767: {
              slidesPerView: 3,
              spaceBetween: 30,
          }
      },
      // Navigation arrows
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
    </script>
    <script src="{% static 'js/lang_selector_detail_page.js' %}"></script>
{% endblock %}
