{% extends "base.html" %}
{% load i18n static %}

{% load compress %}
{% load sass_tags %}

{% block extended_css %}
    {% compress css %}
    <link href="{% sass_src 'custom_css/authorization.scss' %}" rel="stylesheet" type="text/css"/>
    {% endcompress %}
{% endblock %}
{% block content %}

    <section class="authorization">
        <div class="container">
            {% if validlink %}
                <form method="post" class="reset-password-form">
                    {% csrf_token %}
                    <h4>{% translate 'Password reset confirmation' %}</h4>
                    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}" style="display: none;">
                    
                    <div class="input-wrapper">
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">{% translate 'New password:' %}</label>
                        {{ form.new_password1 }}
                    </div>
                    
                    <div class="input-wrapper">
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">{% translate '*new password confirmation:' %}</label>
                        {{ form.new_password2 }}
                    </div>
                    <button type="submit" class="btn-type-1">
                        {% translate 'Change password' %}
                    </button>
                </form>
            {% else %}
            <p class="text-center">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            {% endif %}
        </div>
    </section>


{% endblock %}
