{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<section class="authorization">
    <div class="container">
       

        <form method="post" class="reset-password-form">
            {% csrf_token %}
            <h4>{% translate 'Forgotten your password?' %}</h4>
            <p>{% translate 'Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
            {{ form.email.errors }}
            <div class="input-wrapper">
                <label for="id_email">{% translate 'Email' %}</label>
                 {{ form.email }}
            </div>
            
            <div class="submit-row">
                <button type="submit" class="btn-type-1">
                    {% translate 'Reset my password' %}
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
