.authorization {
    position: relative;
    
    .container {
        max-width: 425px;
        margin: 0 auto;
        .authorization-form {
            width: 100%;
            margin-top: 100px;
            margin-bottom: 80px;
            border-radius: 16px;
            border: 1px solid #D9D9D9;
            background: #FFF;
            padding: 60px 31px;
            h4 {
                text-align: center;
                margin-bottom: 45px;
                text-transform: capitalize;
            }
            #div_id_username,
            #div_id_password {
                position: relative;
                input {
                    width: 100%;
                    border-radius: 42px;
                    border: 1px solid #D9D9D9;
                    background: #FFF;
                    font-size: 16px;
                    line-height: normal;
                    padding: 20px 24px;
                    color: #000;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                    &::placeholder {
                        color: #6D6D6D;
                    }
                }
                label {
                    position: absolute;
                    background-color: white;
                    top: -10px;
                    left: 24px;
                    padding: 0 5px;
                    color: #0F0F10;
                    font-size: 16px;
                    line-height: normal;
                }
            }
            #div_id_password {
                margin-top: 37px;
                margin-bottom: 14px;
            }
            .lost-password-link {
                color: #0F0F10;
                text-decoration: none;
                font-size: 14px;
                line-height: 22px;
                display: block;
                margin-bottom: 40px;
            }
            .btn-type-1 {
                width: 220px;
                margin: 0 auto;
                display: block;
            }
        }
    }
}