.cart {
    .container {
        padding-top: 32px;
        padding-bottom: 50px;
        @include media-breakpoint-down(md) {
            padding-top: 10px;
            padding-bottom: 24px;
        }
    }
    .cart-steps-wrapper {
        max-width: 870px;
        margin: 0 auto 40px;
        @include media-breakpoint-down(md) {
            width: 100%;
            max-width: 100%;
            margin: 0 auto 20px;
        }
        .cart-steps {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 0;
            list-style: none;
            .cart-step-item {
                text-align: center;
                width: 100px;
                position: relative;
                @include media-breakpoint-down(md) {
                    width: 85px;
                }
                &:not(:first-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 317px;
                        height: 2px;
                        background-color: #FFF1EB;
                        top: 25px;
                        right: 86px;
                        @include media-breakpoint-down(md) {
                            width: 80px;
                            right: 71px;
                        }
                    }
                }
                img {
                    display: block;
                    width: 52px;
                    height: 52px;
                    margin: 0 auto 13px;
                    @include media-breakpoint-down(md) {
                        margin: 0 auto 12px;
                    }
                    &.active {
                        display: none;
                    }
                    &.finished {
                        display: none;
                    }
                }
                .step-text {
                    color: #6D6D6D;
                    margin-bottom: 2px;
                    @include media-breakpoint-down(md) {
                        font-size: 12px;
                        line-height: 16px;
                        margin-bottom: 4px;
                    }
                }
                .step-title {
                    color: #0F0F10;
                    margin-bottom: 0;
                    text-transform: capitalize;
                    text-wrap: nowrap;
                    white-space: nowrap;
                    @include media-breakpoint-down(md) {
                        font-size: 14px;
                        line-height: 22px;
                        
                    }
                }
                &.active {
                    &::before {
                        background-color: #F0500B;
                    }
                    img {
                        &.active {
                            display: block;
                        }
                        &.disabled {
                            display: none;
                        }
                    }
                }
                &.finished {
                    &:nth-child(2) {
                        &::before {
                            background-color: #F0500B;
                        }
                    }
                    img {
                        &.active {
                            display: none;
                        }
                        &.disabled {
                            display: none;
                        }
                        &.finished {
                            display: block;
                        }
                    }
                }
                
            }
        }
    }
    .cart-title-wrapper {
        .cart-title {
            color: #0F0F10;
            margin-top: 0;
            margin-bottom: 28px;
            font-family: "LatoBold";
            font-size: 40px;
            line-height: 48px;
            text-transform: capitalize;
            text-align: center;
            @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 32px;
                margin-bottom: 16px;
            }
        }
        .cart-subtitle {
            font-family: "LatoRegular";
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 40px;
            text-align: center;
            margin-top: 0;
            color: #0F0F10;
        }
        .cart-title-info {
            width: 100%;
            border-radius: 10px;
            background: #F3FAF5;
            padding: 18px 0;
            text-align: center;
            color: #007728;
            margin-bottom: 0;
            font-size: 18px;
            font-family: "LatoRegular";
            line-height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                padding: 14px 20px;
                font-size: 14px;
                line-height: 22px;
            }
            img {
                display: block;
                margin-right: 14px;
                @include media-breakpoint-down(md) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .cart-cards-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 24px;
        @include media-breakpoint-down(md) {
            flex-direction: column;
            margin-top: 0;
        }
        .cart-card-col {
            width: calc(100% - 24px - 310px);
            @include media-breakpoint-down(md) {
                width: 100%;
                order: 2;
            }
            .cart-cards-title {
                display: none;
                @include media-breakpoint-down(md) {
                    font-size: 22px;
                    line-height: 32px;
                    margin-bottom: 16px;
                    display: block;
                    text-align: center;
                    font-family: "LatoBold";
                text-transform: capitalize;
                }
            }
            .cart-card {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 40px;
                border-radius: 16px;
                width: calc(100% + 40px);
                margin-left: -40px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    padding: 0;
                    margin-left: 0;
                    flex-direction: column;
                    + .cart-card {
                        margin-top: 24px;
                    }
                }
                &:hover {
                    background-color: #F8F8F8;
                    @include media-breakpoint-down(md) {
                        background-color: inherit;
                    }
                    .card-content-wrapper .hover-block {
                        display: block;
                    }
                }
                .img-wrapper {
                    width: 300px;
                    border-radius: 16px;
                    overflow: hidden;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        margin-bottom: 16px;
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                }
                .card-content-wrapper {
                    width: calc(100% - 300px - 32px);
                    position: relative;
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                    
                    .card-title {
                        color: #0F0F10;
                        font-family: "LatoSemiBold";
                        font-size: 26px;
                        line-height: 28px;
                        margin-bottom: 16px;
                        @include media-breakpoint-down(md) {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    .card-content-inner-wrapper {
                        display: flex;
                        align-items: stretch;
                        justify-content: start;
                        @include media-breakpoint-down(md) {
                            justify-content: space-between;
                        }
                        .card-col {
                            + .card-col {
                                padding-left: 32px;
                                margin-left: 32px;
                                border-left: 1px solid #D9D9D9;
                                @include media-breakpoint-down(md) {
                                    border: none;
                                    padding-left: 0;
                                    margin-left: 0;
                                }
                            }
                            .card-col-title {
                                color: #6D6D6D;
                                font-family: "LatoRegular";
                                font-size: 16px;
                                line-height: 26px;
                                margin-bottom: 10px;
                                @include media-breakpoint-down(md) {
                                    font-size: 14px;
                                    line-height: 22px;
                                    margin-bottom: 4px;
                                }
                            }
                            .card-col-text {
                                color: #0F0F10;
                                font-family: "LatoRegular";
                                font-size: 16px;
                                line-height: 26px;
                                margin-bottom: 20px;
                                @include media-breakpoint-down(md) {
                                    font-size: 14px;
                                    line-height: 22px;
                                    margin-bottom: 14px;
                                }
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                    .hover-block {
                        position: absolute;
                        right: 42px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: none;
                        @include media-breakpoint-down(md) {
                            display: block;
                            position: static;
                            transform: translateY(0);
                            margin-top: 24px;
                        }
                        .hover-block-btns-list {
                            display: flex;
                            flex-direction: column;
                            padding-left: 0;
                            list-style: none;
                            margin: 0;
                            @include media-breakpoint-down(md) {
                                flex-direction: row;
                            }
                            .hover-block-item {
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                                @include media-breakpoint-down(md) {
                                    width: fit-content;
                                    height: auto;
                                }
                                a {
                                    @include media-breakpoint-down(md) {
                                        width: fit-content;
                                        display: flex;
                                        align-items: center;
                                        height: auto;
                                        text-decoration: none;
                                    }
                                }
                                img {
                                    width: 100%;
                                    @include media-breakpoint-down(md) {
                                        width: 24px;
                                        height: 24px;
                                        margin-right: 13px;
                                    }
                                }
                                span {
                                    display: none;
                                    @include media-breakpoint-down(md) {
                                        display: block;
                                        font-size: 14px;
                                        line-height: 22px;
                                        font-family: "LatoRegular";
                                        color: #0F0F10;
                                        
                                    }
                                }
                                + .hover-block-item {
                                    margin-top: 44px;
                                    @include media-breakpoint-down(md) {
                                        margin-top: 0;
                                        margin-left: 80px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-order-info-col {
            width: 310px;
            margin-top: 24px;
            position: sticky;
            right: 0;
            top: 20px;
            
            @include media-breakpoint-down(md) {
                width: 100%;
                order: 1;
                margin-bottom: 12px;
                margin-top: 12px;
                
            }
            .order-info-wrapper {
                width: 100%;
                .price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: "LatoRegular";
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 16px;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 12px;
                    }
                }
                .total-price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: "LatoMedium";
                    font-size: 26px;
                    line-height: 36px;
                    margin-bottom: 24px;
                    @include media-breakpoint-down(md) {
                        margin-top: 24px;
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                .order-btn {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
            .purchase-includes {
                text-align: center;
                margin-top: 24px;
                @include media-breakpoint-down(md) {
                    display: none;
                }
                .purchase-includes-title {
                    font-family: "LatoSemiBold";
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 0;
                    list-style: none;
                    text-align: left;
                    li {
                        font-family: "LatoRegular";
                        font-size: 16px;
                        line-height: 26px;
                        padding-left: 38px;
                        position: relative;
                        + li {
                            margin-top: 16px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 24px;
                            height: 24px;
                            background-image: url(../icons/purchase-icon.svg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
        .purchase-includes-mobile {
            display: none;
            @include media-breakpoint-down(md) {
                display: flex;
                order: 3;
                text-align: center;
                margin-top: 24px;
                flex-direction: column;
                width: 100%;
                align-items: center;
                .purchase-includes-title {
                    font-family: "LatoSemiBold";
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    
                }
                .order-btn-mobile {
                    display: none;
                    @include media-breakpoint-down(md) {
                        display: block;
                        width: 100%;
                        margin-top: 20px;
                    }
                }
                ul {
                    padding-left: 0;
                    list-style: none;
                    text-align: left;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                        width: 100%;
                    }
                    li {
                        font-family: "LatoRegular";
                        font-size: 16px;
                        line-height: 26px;
                        padding-left: 38px;
                        position: relative;
                        + li {
                            margin-top: 16px;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 24px;
                            height: 24px;
                            background-image: url(../icons/purchase-icon.svg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
    }
    .confirmation-info {
        max-width: 870px;
        margin: 0 auto;
       
        
        .experience-card {
            border-radius: 26px;
            background: #F8F8F8;
            padding: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                padding: 16px;
                padding-bottom: 75px;
            }
            + .experience-card {
                margin-top: 20px;
            }
            .img-wrapper {
                width: 300px;
                height: 240px;
                margin-right: 32px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin-right: 0;
                    
                }
                img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
                 border-radius: 26px;
                 overflow: hidden;
                }
            }
            .content-wrapper {
                width: calc(100% - 32px - 300px);
                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin-top: 14px;
                }
                .download-pdf {
                    position: absolute;
                    bottom: 24px;
                    right: 24px;
                    font-size: 16px;
                    padding: 10px;
                }
                .content-title {
                    font-family: "LatoMedium";
                    font-size: 26px;
                    line-height: 36px;
                    margin-bottom: 16px;
                    @include media-breakpoint-down(md) {
                        text-align: center;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 14px;
                    }
                }
                .content-list {
                    padding-left: 0;
                    list-style: none;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    @include media-breakpoint-down(md) {
                        justify-content: center;
                    }
                    + .content-list {
                        margin-top: 10px;
                    }
                    li {
                        font-family: "LatoRegular";
                        font-size: 16px;
                        line-height: 26px;
                        margin: 0;
                        position: relative;
                        color: #0F0F10;
                        @include media-breakpoint-down(md) {
                            font-size: 14px;
                            line-height: 22px;
                        }
                        + li {
                            padding-left: 40px;
                            &::before {
                                position: absolute;
                                content: "";
                                width: 8px;
                                height: 8px;
                                background-color: var(--text-color-third);
                                border-radius: 50%;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 20px;
                            }
                        }
                    }
                }
            }
        }
        
    }
    .confirmation-btns-wrapper {
        max-width: 870px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 33px;
        .continue-shopping-btn {
            color: var(--text-color-third);
            text-transform: uppercase;
            font-family: "LatoSemiBold";
            font-size: 18px;
            line-height: normal;
            text-decoration: none;
            @include media-breakpoint-down(md) {
                margin: 0 auto;
            }
        }
        .download-pdf {
            width: 320px;
            text-align: center;
        }
    }
}

// Remove item from cart

.remove-cart-item-wrapper {
    .container {
        padding-top: 40px;
        padding-bottom: 90px;
        @include media-breakpoint-down(md) {
            padding-top: 16px;
            padding-bottom: 60px;
        }
        .remove-cart-item-title {
            text-align: center;
            font-family: "LatoBold";
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 16px;
            @include media-breakpoint-down(md) {
                font-size: 26px;
                line-height: 36px;
                font-family: "LatoSemiBold";
                margin-bottom: 10px;
            }
        }
        .remove-cart-item-subtitle {
            text-align: center;
            font-family: "LatoRegular";
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 32px;
            @include media-breakpoint-down(md) {
                font-size: 14px;
                line-height: 22px;
                font-family: "LatoRegular";
                margin-bottom: 20px;
            }
        }
        .remove-cart-item {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 700px;
            margin: 0 auto;
            @include media-breakpoint-down(md) {
                flex-direction: column;
                max-width: 100%;
            }
            .img-wrapper {
                width: 300px;
                border-radius: 16px;
                overflow: hidden;
                margin-right: 32px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin-bottom: 16px;
                    margin-right: 0;
                    
                }
                img {
                    width: 100%;
                    object-fit: cover;
                    
                    @include media-breakpoint-down(md) {
                        max-height: 240px;
                    }
                }
            }
            .content-wrapper {
                width: calc(100% - 300px - 32px);
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
                .content-title {
                    font-family: "LatoSemiBold";
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 16px;
                    @include media-breakpoint-down(md) {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 12px;
                    }
                }
                .content-list {
                    padding-left: 0;
                    list-style: none;
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    + .content-list {
                        margin-top: 10px;
                    }
                    li {
                        font-family: "LatoRegular";
                        font-size: 16px;
                        line-height: 26px;
                        margin: 0;
                        position: relative;
                        color: #0F0F10;
                        @include media-breakpoint-down(md) {
                            font-size: 14px;
                            line-height: 22px;
                        }
                        + li {
                            padding-left: 40px;
                            &::before {
                                position: absolute;
                                content: "";
                                width: 8px;
                                height: 8px;
                                background-color: var(--text-color-third);
                                border-radius: 50%;
                                top: 50%;
                                transform: translateY(-50%);
                                left: 20px;
                            }
                        }
                    }
                }
                form {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-top: 24px;
                    @include media-breakpoint-down(md) {
                        margin-top: 32px;
                        justify-content: center;
                    }
                    .btn {
                        font-family: "LatoSemiBold";
                        font-size: 18px;
                        line-height: normal;
                        text-transform: uppercase;
                        padding: 0;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                        &-delete {
                            color: #E90505;
                            display: flex;
                            align-items: center;
                            margin-right: 40px;
                            
                            img {
                                margin-right: 12px;
                            }
                        }
                        &-cancel {
                            color: #6D6D6D;
                        }
                    }
                }
            }
        }
    }
}

//emty cart styles 

.empty-cart-wrapper {
    .container {
        padding-top: 0px;
        padding-bottom: 60px;
        text-align: center;
        .empty-cart-title {
            margin-bottom: 24px;
            font-family: "LatoBold";
            font-size: 40px;
            line-height: 48px;
            text-transform: capitalize;
            @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 32px;
               
            }
        }
        .empty-cart-img {
            display: block;
            margin: 0 auto 24px;
            @include media-breakpoint-down(md) {
                width: 80px;
                height: 80px;
            }
        }
        .empty-cart-btn {
            width: 240px;
            margin: 0 auto;
            display: block;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}

// edit item from cart
.edit-cart-item-wrapper {
    .container {
        max-width: 760px;
        margin: 0 auto;
        padding-top: 40px;
        padding-bottom: 140px;
        text-align: center;
        @include media-breakpoint-down(md) {
            width: 100%;
            padding-top: 16px;
            padding-bottom: 60px;
        }
        .edit-cart-item-title {
            margin-bottom: 24px;
            text-transform: capitalize;
           
        }
        .name-tour-subtitle {
            text-align: left;
            color: #6D6D6D;
            margin-bottom: 6px;
            font-family: "LatoRegular";
            font-size: 14px;
            line-height: 22px;
            @include media-breakpoint-down(md) {
                margin-bottom: 10px;
            }
        }
        .name-tour-title {
            text-align: left;
            color: #000;
            margin-bottom: 24px;
            font-family: "LatoRegular";
            font-size: 20px;
            line-height: 30px;
            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    #editBookingForm {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
        .right-col {
            width: 365px;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin-bottom: 12px;
            }
            .calendar-selection-title {
                text-align: left;
                margin-bottom: 12px;
                @include media-breakpoint-down(md) {
                    margin-bottom: 8px;
                }
            }
        }
        .left-col {
            width: calc(100% - 365px - 32px);
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
        .calendar {
          text-align: center;
          margin-bottom: 0;
          border-radius: 16px;
          background: #FFF;
          padding: 20px 20px;
          border: 1px solid #D9D9D9;
          border-radius: 16px;
          @include media-breakpoint-down(md) {
            padding: 16px 18px;
          }
          .month-controls {
            display: flex;
            align-items: flex-end;
            margin: 0 auto 6px;
            justify-content: center;
            #currentMonth {
              font-family: "LatoSemiBold";
              font-size: 18px;
              line-height: 28px;
              margin-bottom: 0;
            }
            button {
              border: none;
              overflow: none;
              background: none;
              width: 24px;
              height: 24px;
              padding: 0;
              img {
                width: 100%;
                display: block;
                &.icon-disabled {
                  display: none;
                }
              }
              &:disabled {
                img {
                  display: none;
                  &.icon-disabled {
                    display: block;
                  }
                }
              }
              &#prevMonth {
                transform: rotate(180deg);
                margin-right: 16px;
                &:disabled {
                  transform: none;
                }
              }
              &#nextMonth {
                
                margin-left: 16px;
              }
            }
          }
          .day-labels {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            margin-bottom: 8px;
            span {
              font-family: "LatoRegular";
              font-size: 14px;
              line-height: 22px;
              color: #6D6D6D;
              text-align: center;
            }
          }
          .calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            
    
            .calendar-day {
              color: #0F0F10;
              font-family: "LatoRegular";
              font-size: 16px;
              line-height: normal;
              cursor: pointer;
              width: 46px;
              height: 46px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              &.inactive {
                color: #D9D9D9;
                span {
                  color: #D9D9D9;
                }
              }
              &.selected-date {
                border-radius: 6px;
                background: #F0500B;
                color: white;
                span {
                  color: white;
                }
              }
              span {
                font-family: "LatoRegular";
                display: block;
                font-size: 12px;
                line-height: normal;
                margin-top: 2px;
                color: #6D6D6D; /* Цвет текста для цены тура */
                pointer-events: none;
              }
            } 
          }
        }
        .time-selection-title {
            margin-bottom: 12px;
            text-align: left;
        }
        .time-selection {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 16px;
            label {
              font-family: "LatoRegular";
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 0;
              padding-left: 36px;
              position: relative;
              cursor: pointer;
              &:not(:last-child) {
                margin-right: 15px;
              }
              &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../icons/custom-radiobtn-default.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
              }
            }
            input {
              opacity: 0;
              display: none;
              &:checked {
                + label {
                  &::before {
                    background-image: url(../icons/custom-radiobtn-active.svg);
                  }
                  
                }
              }
            }
    
          
        }
        .ticket-selection {
          margin-bottom: 16px;
          .ticket-selection-title {
            margin-bottom: 12px;
            text-align: left;
          }
          .ticket-type {
            display: flex;
            align-items: center;
            justify-content: start;
            + .ticket-type {
              margin-top: 10px;
            }
            .ticket-type-title {
              color: #6D6D6D;
              font-family: "LatoRegular";
              font-size: 16px;
              line-height: 26px;
              margin-right: 40px;
              margin-bottom: 0;
              text-align: left;
              width: 60px;
            }
            button {
              border: none;
              outline: none;
              width: 18px;
              height: 18px;
              background: none;
              padding: 0;
              img {
                display: block;
              }
            }
            input {
              background: none;
              border: none;
              outline: none;
              width: 26px;
              margin: 0;
              text-align: center;
            }
            .total-price {
              margin-bottom: 0;
              margin-left: 40px;
              font-family: "LatoSemiBold";
              font-size: 18px;
              line-height: 28px;
              color: #0F0F10;
            }
          }
          .max-participants {
            margin-top: 15px;
            text-align: left;
            span {
              font-weight: 600;
            }
          }
          .total-price-wrapper {
            text-align: left;
            margin-top: 20px;
            .total {
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: var(--text-color-third);
                font-family: "LatoSemiBold";
                font-size: 18px;
                line-height: 28px;
            }
          }
        }
        .language-selection-title {
          margin-bottom: 12px;
          text-align: left;
        }
        .language-selection {
          margin-bottom: 24px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          .input-wrapper {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            label {
              font-family: "LatoRegular";
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 0;
              padding-left: 36px;
              position: relative;
              cursor: pointer;
              img {
                width: 36px;
                height: 24px;
                display: block;
              }
              &::before {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../icons/custom-radiobtn-default.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                
              }
            }
            input {
              opacity: 0;
              display: none;
              &:checked {
                + label {
                  &::before {
                    background-image: url(../icons/custom-radiobtn-active.svg);
                    z-index: 2;
                  }
                  
                }
              }
            }
    
          }
        }
        .btns-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 32px;
            @include media-breakpoint-down(md) {
                justify-content: center;
            }
            #submitBtn {
                margin-left: 40px;
                background-color: white;
                font-family: "LatoSemiBold";
                font-size: 18px;
                line-height: normal;
                color: #F0500B;
                border: none;
                text-transform: uppercase;
                padding: 0;
            }
            #cancel-btn {
                background-color: white;
                font-family: "LatoSemiBold";
                font-size: 18px;
                line-height: normal;
                color: #6D6D6D;
                border: none;
                text-transform: uppercase;
                padding: 0;
            }
        }
        
    }
}
