// Import Bootstrap source files
@import "../bootstrap/scss/bootstrap.css";
@import "./root.scss";
@import "./destinations.scss";
@import "./header.scss";
// Your custom styles here
body {
    
}

// Override Bootstrap variables if needed
$primary: #F0500B;
$secondary: #ba77e3;

// Continue with other customizations
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn {
    border-radius: 2.35rem;
}

a {
    color: #0F0F10;
}
.nav-link {
    color: #0F0F10;
}
