.error-page {
    padding-top: 120px;
    padding-bottom: 120px;
    .error-page-container {
        max-width: 905px;
        margin: 0 auto;
        img {
            width: 100%;
            max-height: 670px;
        }
    }

}