.experience-list-hero {
  @include media-breakpoint-down(md) {
  }
  .container {
    padding-top: 96px;
    padding-bottom: 194px;
    background-image: url(../images/experience-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    border-radius: 26px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    @include media-breakpoint-down(md) {
      background: none;
      margin-top: 0;
      padding: 0;
      border-radius: 0;
      margin-bottom: 40px;
    }
    .experience-list-hero-title {
      color: var(--text-color-second);
      display: flex;
      align-items: baseline;
      justify-content: center;
      margin-bottom: 32px;
      @include media-breakpoint-down(md) {
        background-image: url(../images/destination-list-hero-img-mob.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 26px;
        line-height: 36px;
        padding-top: 67px;
        padding-bottom: 67px;
        display: block;
        font-family: "LatoSemiBold";
        margin-bottom: 0px;
      }
      img {
        align-self: flex-end;
        margin-bottom: -18px;
        margin-left: 18px;
        @include media-breakpoint-down(md) {
          display: block;

          max-width: 165px;
          margin: 16px auto 0;
        }
      }
    }
    .experience-list-hero-calendar {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 26px 26px 0 0;
      background-color: white;
      padding: 37px 55px;
      @include media-breakpoint-down(md) {
        position: relative;
        left: inherit;
        bottom: inherit;
        transform: none;
        padding: 30px 16px 0px;
        border-radius: 0;
      }
      form {
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(md) {
          flex-direction: column;
          width: 100%;
        }
        .place-wrapper {
          width: 360px;
          position: relative;
          margin-right: 40px;
          @include media-breakpoint-down(md) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 26px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 24px;
            width: 24px;
            height: 24px;
            background-image: url(../icons/send-icon.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
          }
          label {
            position: absolute;
            background-color: white;
            padding: 3px 5px;
            color: #0f0f10;
            font-family: "LatoMedium";
            font-size: 16px;
            line-height: normal;
            text-transform: capitalize;
            top: -13px;
            left: 24px;
            z-index: 3;
          }
          select {
            border-radius: 42px;
            border: 1px solid #d9d9d9;
            width: 100%;
            padding: 18px 24px 18px 60px;
            font-family: "LatoRegular";
            font-size: 16px;
            line-height: normal;
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            background-image: url(../images/language-arrow.png);
            background-position-x: calc(100% - 16px);
            background-position-y: 50%;
            background-repeat: no-repeat;
            &:invalid {
              color: #6d6d6d;
            }
            @include media-breakpoint-down(md) {
              width: 100%;
            }
          }
        }
        .date-wrapper {
          width: 230px;
          position: relative;
          margin-right: 40px;
          @include media-breakpoint-down(md) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 24px;
            width: 24px;
            height: 24px;
            background-image: url(../icons/calendar-icon.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
          }
          label {
            position: absolute;
            background-color: white;
            padding: 3px 5px;
            color: #0f0f10;
            font-family: "LatoMedium";
            font-size: 16px;
            line-height: normal;
            text-transform: capitalize;
            top: -13px;
            left: 24px;
            z-index: 3;
          }
          input {
            border-radius: 42px;
            border: 1px solid #d9d9d9;
            width: 100%;
            padding: 18px 24px 18px 60px;
            font-family: "LatoRegular";
            font-size: 16px;
            line-height: normal;
            position: relative;
            &::placeholder {
              color: #6d6d6d;
            }
          }
        }
        .form-btn {
          width: 240px;
          display: flex;
          align-items: center;
          justify-content: center;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
          img {
            margin-right: 14px;
          }
        }
      }
    }
  }
}

.experience-list {
  .container {
    margin-top: 60px;
    padding-bottom: 156px;
    position: relative;
    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
    .title-filter-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 40px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        margin-bottom: 20px;
      }
      .experience-list-title {
        font-size: 48px;
        line-height: normal;
        font-family: "LatoMedium";
        color: #0f0f10;
        @include media-breakpoint-down(md) {
          margin-bottom: 16px;
          font-size: 26px;
          line-height: 36px;
        }
      }
      .filter-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .experience-filter-title {
          margin-right: 24px;
          font-size: 18px;
          line-height: 28px;
          font-family: "LatoRegular";
          color: #0f0f10;
          margin-bottom: 0;
        }
        select {
          padding: 9px 50px 9px 16px;
          border-radius: 6px;
          border: 1px solid #d9d9d9;
          color: #0f0f10;
          font-size: 16px;
          line-height: 26px;
          font-family: "LatoRegular";
          -webkit-appearance: none;
          -moz-appearance: none;
          background: transparent;
          background-image: url(../images/language-arrow.png);
          background-position-x: calc(100% - 16px);
          background-position-y: 50%;
          background-repeat: no-repeat;
        }
      }
    }
    .experiences {
      padding-left: 0;
      list-style: none;
      margin: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: 145px;
      }
      .experience-list-item {
        display: flex;
        align-items: stretch;
        border-radius: 26px;
        overflow: hidden;
        border: 1px solid #d9d9d9;
        @include media-breakpoint-down(md) {
          flex-direction: column;
        }
        + .experience-list-item {
          margin-top: 24px;
          @include media-breakpoint-down(md) {
            margin-bottom: 20px;
          }
        }
        .list-item-img-wrapper {
          width: 450px;
          border-radius: 26px;
          overflow: hidden;
          position: relative;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
          .img-label {
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            border-radius: 0 0 25px 0;
            padding: 8px 24px 12px 18px;
            color: var(--text-color-third);
            font-family: "LatoMedium";
            font-size: 18px;
            line-height: 28px;
            text-transform: capitalize;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .experience-list-content-wrapper {
          width: calc(100% - 450px);
          padding: 32px 32px 28px 32px;
          border-radius: 0 26px 26px 0;
          @include media-breakpoint-down(md) {
            width: 100%;
            padding: 14px;
            border-radius: 0;
          }
          h5 {
            margin-bottom: 24px;
            color: #0f0f10;
            @include media-breakpoint-down(md) {
              margin-bottom: 12px;
            }
          }
          .experience-type-list-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            @include media-breakpoint-down(md) {
              flex-wrap: wrap;
              margin-bottom: 4px;
            }
            .main-info-list {
              display: flex;
              align-items: center;
              padding-left: 0;
              list-style: none;
              @include media-breakpoint-down(md) {
                flex-wrap: wrap;
              }
              li {
                font-family: "LatoRegular";
                font-size: 14px;
                line-height: 22px;
                color: #006a1e;
                padding: 5px 10px;
                background-color: #f3faf5;
                border-radius: 30px;
                @include media-breakpoint-down(md) {
                  margin-bottom: 8px;
                  margin-right: 4px;
                }
                + li {
                  margin-left: 16px;
                  @include media-breakpoint-down(md) {
                    margin-left: 0;
                  }
                }
              }
            }
          }
          > p {
            font-family: "LatoRegular";
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 14px;
            color: #0f0f10;
            @include media-breakpoint-down(md) {
              font-size: 14px;
              line-height: 22px;
            }
          }
          .price-wrapper {
            display: flex;
            align-items: center;
            @include media-breakpoint-down(md) {
              justify-content: center;
            }
            .old-price {
              text-decoration: line-through;
              color: #6d6d6d;
              font-family: "LatoMedium";
              font-size: 26px;
              line-height: 42px;
              margin-right: 16px;
              @include media-breakpoint-down(md) {
                font-size: 18px;
                line-height: 28px;
                margin-right: 10px;
              }
            }
            .new-price {
              color: #0f0f10;
              font-family: "LatoSemiBold";
              font-size: 40px;
              line-height: 48px;
              @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 32px;
              }
            }
          }
          .experience-link-btn {
            display: flex;
            align-items: center;
            width: 265px;
            justify-content: center;
            text-transform: uppercase;
            font-family: "LatoMedium";
            font-size: 18px;
            line-height: normal;
            text-decoration: none;
            @include media-breakpoint-down(md) {
              margin: 0 auto;
            }
            img {
              margin-left: 14px;
            }
          }
        }
      }
    }
  }
}

.experience-hero {
  .container {
    padding-top: 62px;
    padding-bottom: 0px;
    .experience-hero-title-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .experience-hero-title {
        color: #000;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
        width: 730px;
      }
      .expreriece-hero-price-btn-wrapper {
        display: flex;
        align-items: center;
        width: calc(100% - 730px - 50px);
        .price-wrapper {
          display: flex;
          align-items: center;
          margin-right: 32px;
          .price-title {
            font-family: "LatoRegular";
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 0;
            margin-right: 18px;
            color: #6d6d6d;
          }
          .price-amount {
            font-family: "LatoSemiBold";
            font-size: 44px;
            line-height: 56px;
            color: #0f0f10;
            margin-bottom: 0;
          }
        }
        .experience-hero-btn {
          width: 340px;
          text-align: center;
        }
      }
    }
    .experience-hero-info {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .experience-hero-info-text {
        display: flex;
        align-items: center;
        font-family: "LatoRegular";
        font-size: 16px;
        line-height: 26px;
        color: #378f02;
        text-transform: capitalize;
        margin-bottom: 0;
        + .experience-hero-info-text {
          margin-left: 34px;
        }
        img {
          margin-right: 14px;
          display: block;
        }
      }
    }
    .experience-hero-swiper {
      overflow: hidden;
      position: relative;
      padding-bottom: 50px;
      
      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 0;
        width: 60px;
        height: 60px;
        transform: translateY(-50%);
        margin: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        content: "";
        background-image: url(../icons/slider-arrow-icon_v2.svg);
        width: 60px;
        height: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        left: 0;
        width: 60px;
        height: 60px;
        transform: translateY(-50%);
        margin: 0;
        @include media-breakpoint-down(md) {
          display: none;
        }
      }
      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        content: "";
        background-image: url(../icons/slider-arrow-icon_v2.svg);
        width: 60px;
        height: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: scaleX(-1);
      }
      .swiper-pagination-bullet {
        background-color: var(--text-color-third);
      }
    }
  }
}

.experience-info {
  .container {
    padding-top: 70px;
    padding-bottom: 140px;
    .experience-info-title {
      text-align: center;
      margin-bottom: 16px;
    }
    .experience-info-subtitle {
      font-family: "LatoRegular";
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 60px;
      text-align: center;
    }
    .experience-info-inner-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      .left-col {
        width: calc((100% - 445px - 88px));
        .experience-cards {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 16px;
          .experience-card {
            width: calc((100% - 66px)/3);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 24px;
            .img-wrapper {
              width: 24px;
              height: 24px;
              margin-right: 16px;
                img {
                  width: 100%;
                }
            }
            .card-content {
              width: calc(100% - 24px - 16px);
              .card-title {
                font-family: "LatoSemiBold";
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 4px;
              }
              .card-text {
                font-family: "LatoRegular";
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 0;
              }
            }
          }
        }
        .experience-description {
          margin-bottom: 40px;
          .description-title {
            margin-bottom: 24px;
          }
          p {
            font-family: "LatoRegular";
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 0;
          }
        }
        .experience-timeline {
          margin-bottom: 60px;
          .experience-timeline-title {
            margin-bottom: 24px;
          }
          .experience-timeline-inner {
            position: relative;
            max-height: 600px;
            overflow-y: hidden;
            
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100px;
              bottom: 0;
              left: 0;
              background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.90) 32.52%, #FFF 100%);
            }
            &.opened {
              max-height: 100%;
              &::after {
                content: none;
              }
            }
            .timeline-block {
              position: relative;
              padding-bottom: 24px;
              
              padding-left: 32px;
              &::after {
                content: "";
                position: absolute;
                width: 2px;
                height: 100%;
                top: 0;
                background-color: var(--text-color-third);
                left: 5px;
                
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 2px solid var(--text-color-third);
                background-color: white;
                z-index: 2;
              }
              &:last-child {
                &::after {
                  content: none;
                }
                
              }
              p {
                font-family: "LatoRegular";
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 0;
              }
              .time-title-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                .time {
                  font-family: "LatoSemiBold";
                  font-size: 18px;
                  line-height: 28px;
                  text-transform: capitalize;
                  margin-bottom: 0;
                  margin-right: 26px;
                  position: relative;
                  &::after {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--text-color-third);
                    right: -16px;
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
                .timeline-title {
                  font-family: "LatoSemiBold";
                  font-size: 18px;
                  line-height: 28px;
                  text-transform: capitalize;
                  margin-bottom: 0;
                }
              }
            }
          }
          .timeline-btn-open {
            margin: 8px auto 0;
            width: 240px;
            cursor: pointer;
          }
        }
        .experience-info-block {
          padding: 32px;
          border-radius: 26px;
          border: 1px solid #D9D9D9;
          background: #FFF;
          + .experience-info-block {
            margin-top: 16px;
          }
          h5 {
            margin-bottom: 14px;
            color: #000;
          }
          ul {
            padding-left: 0;
            list-style: none;
            margin: 0;
            li {
              padding-left: 24px;
              font-family: "LatoRegular";
              font-size: 16px;
              line-height: 26px;
              margin-bottom: 0;
              position: relative;
              + li {
                margin-top: 8px;
              }
              &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: var(--text-color-third);
                border-radius: 50%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
      .aside-form {
        width: 445px;
        position: relative;
        position: sticky;
        left: 0;
        top: 20px;
        .booking-form-wrapper {
          position: relative;
          border-radius: 26px;
          background: #F8F8F8;
          padding: 20px 40px;
          > img {
            position: absolute;
            right: -30px;
            top: -20px;
          }
          .form-title {
            margin-bottom: 12px;
            text-align: center;
          }
          .body-text-b3 {
            text-align: left;
            margin-bottom: 12px;
            text-transform: capitalize;
            font-family: "LatoSemiBold";
          }
          #bookingForm {
            .calendar {
              text-align: center;
              margin-bottom: 16px;
              border-radius: 16px;
              background: #FFF;
              padding: 10px 20px;
              
              .month-controls {
                display: flex;
                align-items: flex-end;
                margin: 0 auto 6px;
                justify-content: center;
                #currentMonth {
                  font-family: "LatoSemiBold";
                  font-size: 18px;
                  line-height: 28px;
                  margin-bottom: 0;
                }
                button {
                  border: none;
                  overflow: none;
                  background: none;
                  width: 24px;
                  height: 24px;
                  padding: 0;
                  img {
                    width: 100%;
                    display: block;
                    &.icon-disabled {
                      display: none;
                    }
                  }
                  &:disabled {
                    img {
                      display: none;
                      &.icon-disabled {
                        display: block;
                      }
                    }
                  }
                  &#prevMonth {
                    transform: rotate(180deg);
                    margin-right: 16px;
                    &:disabled {
                      transform: none;
                    }
                  }
                  &#nextMonth {
                    
                    margin-left: 16px;
                  }
                }
              }
              .day-labels {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 5px;
                margin-bottom: 8px;
                span {
                  font-family: "LatoRegular";
                  font-size: 14px;
                  line-height: 22px;
                  color: #6D6D6D;
                  text-align: center;
                }
              }
              .calendar-grid {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                

                .calendar-day {
                  color: #0F0F10;
                  font-family: "LatoRegular";
                  font-size: 16px;
                  line-height: normal;
                  cursor: pointer;
                  width: 46px;
                  height: 46px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  &.inactive {
                    color: #D9D9D9;
                    span {
                      color: #D9D9D9;
                    }
                  }
                  &.selected-date {
                    border-radius: 6px;
                    background: #F0500B;
                    color: white;
                    span {
                      color: white;
                    }
                  }
                  span {
                    font-family: "LatoRegular";
                    display: block;
                    font-size: 12px;
                    line-height: normal;
                    margin-top: 2px;
                    color: #6D6D6D; /* Цвет текста для цены тура */
                    pointer-events: none;
                  }
                } 
              }
            }
            .time-selection-title {
                margin-bottom: 12px;
            }
            .time-selection {
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              margin-bottom: 16px;
              .input-wrapper {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                label {
                  font-family: "LatoRegular";
                  font-size: 16px;
                  line-height: 26px;
                  margin-bottom: 0;
                  padding-left: 36px;
                  position: relative;
                  cursor: pointer;
                  &::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(../icons/custom-radiobtn-default.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    
                  }
                }
                input {
                  opacity: 0;
                  display: none;
                  &:checked {
                    + label {
                      &::before {
                        background-image: url(../icons/custom-radiobtn-active.svg);
                      }
                      
                    }
                  }
                }

              }
            }
            .ticket-selection {
              margin-bottom: 16px;
              .ticket-selection-title {
                margin-bottom: 12px;
              }
              .ticket-type {
                display: flex;
                align-items: center;
                justify-content: start;
                + .ticket-type {
                  margin-top: 10px;
                }
                .ticket-type-title {
                  color: #6D6D6D;
                  font-family: "LatoRegular";
                  font-size: 16px;
                  line-height: 26px;
                  margin-right: 40px;
                  margin-bottom: 0;
                  width: 60px;
                }
                button {
                  border: none;
                  outline: none;
                  width: 18px;
                  height: 18px;
                  background: none;
                  padding: 0;
                  img {
                    display: block;
                  }
                }
                input {
                  background: none;
                  border: none;
                  outline: none;
                  width: 20px;
                  margin: 0 6px;
                  text-align: center;
                }
                .total-price {
                  margin-bottom: 0;
                  margin-left: 40px;
                  font-family: "LatoSemiBold";
                  font-size: 18px;
                  line-height: 28px;
                  color: #0F0F10;
                }
              }
            }
            .language-selection-title {
              margin-bottom: 12px;
            }
            .language-selection {
              margin-bottom: 24px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              flex-wrap: wrap;
              .input-wrapper {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                label {
                  font-family: "LatoRegular";
                  font-size: 16px;
                  line-height: 26px;
                  margin-bottom: 0;
                  padding-left: 36px;
                  position: relative;
                  cursor: pointer;
                  img {
                    width: 36px;
                    height: 24px;
                    display: block;
                  }
                  &::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-image: url(../icons/custom-radiobtn-default.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    
                  }
                }
                input {
                  opacity: 0;
                  display: none;
                  &:checked {
                    + label {
                      &::before {
                        background-image: url(../icons/custom-radiobtn-active.svg);
                      }
                      
                    }
                  }
                }

              }
            }
            #submitBtn {
              width: 100%;
              display: block;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}