.header {
    .container {
        padding-top: 22px;
        padding-bottom: 24px;
    }
    &-top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo-wrapper {
        max-width: 160px;
        .logo-link {
            width: 100%;
            display: block;
            img {
                display: block;
                width: 100%;
            }
        }
    }
    &-right-col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-right: 40px;
            img {
                margin-right: 14px;
            }
        }
        .language-switcher {
            margin-right: 40px;
            position: relative;
            z-index: 20;
            .default-language {
                cursor: pointer;
                display: flex;
                align-items: center;
                &.opened {
                    + .custom-select-wrapper {
                        display: block;
                    }
                    span {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease;
                    }
                }
                .language-icon {
                    max-width: 24px;
                    margin-right: 10px;
                    max-height: 24px;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
                span {
                    height: 24px;
                    transition: transform 0.3s ease;
                    img {
                        display: block;
                    }
                }
            }
            .custom-select-wrapper {
                display: none;
                position: absolute;
                top: 30px;
                left: -5px;
                background-color: white;
                border: 1px solid var(--text-color-main);
                border-radius: 10px;
                padding: 0 5px;
                ul {
                    padding-left: 0;
                    list-style: none;
                    margin: 0;
                    li {
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                        > img {
                            margin-right: 10px;
                        }
                    }
                }
            }
            
        }
        .contact-phone {
            display: flex;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
                margin-right: 14px;
            }
            .phone-number {
                margin-bottom: 0;
            }
        }
    }

    .navbar {
        padding-top: 16px;
        padding-bottom: 0;
        .container {
            padding-top: 0;
            padding-bottom: 0;
        }
        .navbar-nav {
            justify-content: space-between;
            width: 100%;
            .nav-link {
                padding: 0;
            }
            .dropdown-toggle::after {
                vertical-align: top;
                margin-left: 10px;
                background-image: url(../images/language-arrow.png);
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                border: none;
                transition: transform 0.3s ease;
            }
            .dropdown-toggle.show::after {
                transform: rotate(180deg);
                transition: transform 0.3s ease;
            }
            .nav-link:hover,
            .nav-link:focus {
                color: inherit;
            }
        }
    }
}