@font-face {
    font-family: 'LatoBlack';
    src: local('Lato'), url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
}
@font-face {
    font-family: 'LatoHeavy';
    src: local('Lato'), url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'LatoBold';
    src: local('Lato'), url('../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'LatoSemiBold';
    src: local('Lato'), url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'LatoMedium';
    src: local('Lato'), url('../fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'LatoRegular';
    src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'LatoLight';
    src: local('Nunito Sans'), url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

:root{
    /*<editor-fold desc="COLORS">*/
    --main-color: #000;
    --second-color: #FFB23B;

    --text-color-main: #0F0F10;
    --text-color-second: #fff;
    --text-color-third: #F0500B;

}


.text-color-main {
    color: var(--text-color-main);
}
.text-color-second {
    color: var(--text-color-second);
}

h1 {
    font-size: 92px;
    line-height: 110px;
    font-family: 'LatoBold';
    margin-bottom: 0;
}
h2 {
    font-size: 44px;
    line-height: 56px;
    font-family: 'LatoSemiBold';
}
h4 {
    font-size: 32px;
    line-height: 42px;
    font-family: 'LatoSemiBold';
}
h5 {
    font-size: 26px;
    line-height: 36px;
    font-family: 'LatoMedium';
}
.container {
    max-width: 1312px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
}
.body-text-b2 {
    font-family: 'LatoSemiBold';
    font-size: 18px;
    line-height: 28px;
}

.body-text-b3 {
    font-family: 'LatoRegular';
    font-size: 16px;
    line-height: 26px;
}
.body-text-b3-sb {
    font-family: 'LatoSemiBold';
    font-size: 16px;
    line-height: 26px;
}
.body-text-b4 {
    font-family: 'LatoRegular';
    font-size: 14px;
    line-height: 22px;
}

.btn-type-2 {
    border-radius: 40px;
    border: 1.5px solid var(--text-color-third);
    background: var(--text-color-second);
    color: var(--text-color-third);
    padding: 19px 62px;
    width: fit-content;
    font-family: 'LatoSemiBold';
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}
.btn-type-2:hover {
    background: #FFF6F2;
    color: #DA4303;
}