{% load static %}
{% load sass_tags %}

<!doctype html>
<html lang="en">
<head>
    {% block google %}
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9X9P4D6080"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'G-9X9P4D6080');
        </script>
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PDPBPWJC');</script>
        <!-- End Google Tag Manager -->

        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDPBPWJC"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    {% endblock google %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>
            {% block title %}Discover Lisbon & Portugal with One Day Tours Portugal{% endblock %}
            {% block title_suffix %}{% endblock %}
        </title>
        {% block meta_tags %}{% endblock %}
    {% endblock head %}
    {% block links_and_styles %}
        <!-- Canonical URL -->
        <link rel="canonical" href="{{ canonical_url }}">
        <!-- Bootstrap 5 Custom CSS -->
        <link href="{% sass_src 'custom_css/custom.css' %}" rel="stylesheet" type="text/css"/>
        <!-- Favicons -->
        <link rel="icon" sizes="16x16" href="{% static 'icons/Favicon_16x16.svg' %}">
        <link rel="icon" sizes="32x32" href="{% static 'icons/Favicon_32x32.svg' %}">
        <link rel="icon" sizes="32x32" href="{% static 'icons/Favicon32x32.png' %}">
        <style>
            #iubenda-cs-banner .iubenda-banner-content {
                padding: 10px !important;
            }
        </style>
        <!-- Swiper Slider -->
        <link rel="stylesheet" href="{% static 'custom_css/swiper-bundle.min.css' %}"/>
        <script src="{% static 'js/swiper-bundle.min.js' %}"></script>

    {% endblock links_and_styles %}
</head>
<body class="d-flex flex-column min-vh-100">
<header class="header">
    {% block header %}
        <!-- Navbar -->
        {% include 'include/new_navbar.html' %}
        <!-- End Navbar -->
    {% endblock %}
</header>

<main>
    {% block content %}
    {% endblock content %}
</main>

{% if template_name == 'experiences/experience_details.html' or template_name == 'products/update_product.html' or template_name == 'products/my_cart.html' or template_name == 'purchases/checkout.html' or template_name == 'purchases/confirmation.html' or template_name == 'products/delete_product_form.html' or template_name == 'products/cancel_form.html' %}
    
{% else %}
    <script defer src="https://static.getbutton.io/widget/bundle.js?id=NVUaC"></script>
{% endif %}

<footer class="mt-auto footer">
    <div class="container">
        <div class="row">
            {% block footer_columns %}
                <div class="footer-info">
                    <img src="{% static 'icons/main-logo.svg' %}" alt="main logo in footer">
                    <ul class="social-links-list">
                        <li><a href=""><img src="{% static 'icons/fb.svg' %}" alt="social icon"></a></li>
                        <li><a href=""><img src="{% static 'icons/ig.svg' %}" alt="social icon"></a></li>
                        <li><a href=""><img src="{% static 'icons/tiktio.svg' %}" alt="social icon"></a></li>
                        <li><a href=""><img src="{% static 'icons/link.svg' %}" alt="social icon"></a></li>
                        <li><a href=""><img src="{% static 'icons/wup.svg' %}" alt="social icon"></a></li>
                    </ul>
                    <p class="footer-contacts-title">
                        Contacts
                    </p>
                    <div class="phone-wrapper">
                        <a href="tel:+351968380559" class="phone-link">
                            <img src="{% static 'icons/phone-icon-white.svg' %}" alt="phone icon">
                            +351 968 380 559
                        </a>
                    </div>

                    <div class="email-wrapper">
                        <img src="{% static 'icons/email-icon-white.svg' %}" alt="email icon">
                        support@onedaytours.com
                    </div>
                    <div class="address-wrapper">
                        <img src="{% static 'icons/pin-icon-white.svg' %}" alt="pin icon">
                        Estrada do Algueirão, № 148 A - 2725-021 Mem Martins
                    </div>
                </div>
                <div class="footer-block about">
                    <p class="footer-block-title">
                        About
                    </p>
                    <ul class="footer-block-list">
                        <li><a href="{% url 'about-us' lang='en' slug='about-us' %}" class="footer-link">About us</a></li>
                        <li><a href="{% url 'page_detail' slug='price-match-policy' %}" class="footer-link">Price Match Policy</a></li>
                        <li><a href="{% url 'page_detail' slug='terms-and-conditions' %}" class="footer-link">Terms and conditions</a></li>
                        <li>
                            <a href="https://www.iubenda.com/privacy-policy/97833443"
                               class="iubenda-nostyle iubenda-noiframe iubenda-embed iub-legal-only iubenda-noiframe " title="Privacy Policy ">Privacy
                                Policy</a>
                            <script type="text/javascript">(function (w, d) {
                                var loader = function () {
                                    var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
                                    s.src = "https://cdn.iubenda.com/iubenda.js";
                                    tag.parentNode.insertBefore(s, tag);
                                };
                                if (w.addEventListener) {
                                    w.addEventListener("load", loader, false);
                                } else if (w.attachEvent) {
                                    w.attachEvent("onload", loader);
                                } else {
                                    w.onload = loader;
                                }
                            })(window, document);</script>
                        </li>
                        <li><a href="https://www.livroreclamacoes.pt/Inicio/" class="footer-link">Complaints Record Book</a></li>
                    </ul>
                </div>
                <div class="footer-block services">
                    <p class="footer-block-title">
                        Our services
                    </p>
                    <ul class="footer-block-list">
                        <li><a href="javascript:void(0);" onclick="addTypeIsPrivateAndNavigate(event, 'en')" class="footer-link">Group tours</a></li>
                        <li><a href="javascript:void(0);" onclick="addTypeIsGroupAndNavigate(event, 'en')" class="footer-link">Private Tours</a></li>
                        <li><a href="javascript:void(0);" onclick="addCategoryWalkingAdventures(event, 'en')" class="footer-link">Walking tours</a></li>
                        <li><a href="javascript:void(0);" onclick="addCategoryAirportPickup(event, 'en')" class="footer-link">Airport pick up</a></li>
                    </ul>
                </div>
                <div class="footer-block">
                    <p class="footer-block-title">
                        Top things to do in Portugal
                    </p>
                    <ul class="footer-block-list">
                        {% if top_experiences %}
                            {% for experience in top_experiences %}
                                <li><a href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}"
                                       class="footer-link">{{ experience.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            {% endblock footer_columns %}
        </div>

        <div class="footer-bottom-block">
            <p>© One Day Tours Portugal, LDA <span class="currentYear"></span>. RNAAT 390/2024. Made in Portugal 🇵🇹</p>
        </div>
    </div>

</footer>
<!-- Bootstrap 5 JS -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    const currentYear = new Date().getFullYear();
    const spanElements = document.querySelectorAll('.currentYear');
    spanElements.forEach(span => {
        span.textContent = currentYear;
    });
</script>
{% block cookie_policy %}
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {
            "askConsentAtCookiePolicyUpdate": true,
            "countryDetection": true,
            "enableFadp": true,
            "enableLgpd": true,
            "enableTcf": true,
            "enableUspr": true,
            "floatingPreferencesButtonDisplay": "anchored-bottom-left",
            "googleAdditionalConsentMode": true,
            "lang": "en",
            "lgpdAppliesGlobally": false,
            "perPurposeConsent": true,
            "preferenceCookie": {"expireAfter": 180},
            "siteId": 3650775,
            "tcfPurposes": {"2": "consent_only", "7": "consent_only", "8": "consent_only", "9": "consent_only", "10": "consent_only", "11": "consent_only"},
            "usPreferencesWidgetDisplay": "inline-left",
            "whitelabel": false,
            "cookiePolicyId": 97833443,
            "banner": {
                "acceptButtonCaptionColor": "#FFFFFF",
                "acceptButtonColor": "#0073CE",
                "acceptButtonDisplay": true,
                "backgroundColor": "#FFFFFF",
                "closeButtonDisplay": false,
                "customizeButtonCaptionColor": "#4D4D4D",
                "customizeButtonColor": "#DADADA",
                "customizeButtonDisplay": true,
                "explicitWithdrawal": true,
                "fontSizeBody": "10px",
                "listPurposes": true,
                "logo": null,
                "ownerName": "onedaytours.pt",
                "position": "float-bottom-left",
                "rejectButtonCaptionColor": "#FFFFFF",
                "rejectButtonColor": "#0073CE",
                "rejectButtonDisplay": true,
                "showTitle": false,
                "showTotalNumberOfProviders": true,
                "textColor": "#000000"
            }
        };
    </script>
    <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3650775.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/stub-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/tcf/safe-tcf-v2.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    
{% endblock cookie_policy %}
</body>
</html>
