{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="home-hero">
        <div class="container">
            <h2 class="hero-title">
                Experience <br>
                <span>
                    Lisbon & Portugal
                </span>
                with
                <img src="{% static 'icons/main-logo.svg' %}" alt="logo">
            </h2>
            <div class="experience-list-hero-calendar">
                <form action="">
                    <div class="place-wrapper">
                        <label for="place">
                            Where to?
                        </label>
                        <select required name="place" id="place" class="place">
                            <option disabled selected hidden value="">Choose place</option>
                            <option value="Porto">
                                Porto
                            </option>
                            <option value="Lisbon">
                                Lisbon
                            </option>
                        </select>
                    </div>
                    <div class="date-wrapper">
                        <label for="date">
                            When?
                        </label>
                        <input type="date" name="date" id="date">
                    </div>
                    <button type="button" class="form-btn btn-type-1">
                        <img src="{% static 'icons/search.svg' %}" alt="">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </section>
    <section class="why">
        <div class="container">
            <h2 class="why-title">
                Why book with OneDayTours?
            </h2>
            <p class="why-subtitle body-text-b1">
                Create the best of your experience by visiting Portugal with our exclusive tours
            </p>
            <div class="why-cards-wrapper">
                <div class="swiper-wrapper">
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon1.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            100+ Experiences in Portugal
                        </p>
                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon2.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            Guided by local experts
                        </p>
                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon3.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            Best price guarantee
                        </p>
                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon4.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            No hidden fees
                        </p>
                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon5.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            Free cancellation
                        </p>
                    </div>
                    <div class="why-card swiper-slide">
                        <img src="{% static 'icons/why-icon6.svg' %}" alt="" class="why-card-img">
                        <p class="why-text">
                            Safe and secure website
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="best-tours">
        <div class="container">
            <div class="title-btn-wrapper">
                <h2 class="best-tours-title">
                    Best Tours in Portugal
                </h2>
                <a href="#" class="btn-type-1">
                    show more
                </a>
            </div>
            <div class="best-tours-cards-wrapper">
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20<span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20 <span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20 <span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20 <span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20 <span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
                <div class="best-tours-card">
                    <div class="img-wrapper">
                        <img src="{% static 'images/best-tours-img1.png' %}" alt="best tour">
                    </div>
                    <div class="card-content-wrapper">
                        <div class="rating-wrapper body-text-b4">
                            <img src="{% static 'icons/rating_icon.svg' %}" alt="best tour">
                            5.0
                        </div>
                        <p class="best-tours-card-title body-text-b2">
                            Porto: Spiritus multimedia show admission ticket
                        </p>
                        <div class="tour-info-wrapper">
                            <ul class="tour-info-list">
                                <li>
                                    40 minutes
                                </li>
                                <li>
                                    Small group
                                </li>
                            </ul>
                        </div>
                        <p class="tour-price">
                            € 20 <span>/ per person</span>
                        </p>
                        <a href="" class="tour-link">
                            Book
                            <img src="{% static 'icons/experience-link-icon.svg' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <a href="#" class="btn-type-1 mobile">
                show more
            </a>
        </div>
    </section>
    <section class="refund-banner">
        <div class="container">
            <div class="img-wrapper">
                <img src="{% static 'icons/refund-banner-icon.svg' %}" alt="">
            </div>
            <div class="banner-content">
                <h3 class="banner-title">
                    Free cancellation + 100% Refund
                </h3>
                <p class="banner-subtitle">
                    Full refund of reservation is available up to 24 hours before your trip starts
                </p>
            </div>
        </div>
    </section>
    <section class="tour-type">
        <div class="container">
            <div class="tour-type-card">
                <img src="{% static 'images/tour-type-img1.png' %}" alt="">
                <div class="tour-type-title-btn-wrapper">
                    <h4 class="tour-type-title">Group Tours</h4>
                    <a href="" class="btn-type-3">
                        Book
                        <img src="{% static 'icons/btn_arrow_white.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="tour-type-card">
                <img src="{% static 'images/tour-type-img2.png' %}" alt="">
                <div class="tour-type-title-btn-wrapper">
                    <h4 class="tour-type-title">Private Tours</h4>
                    <a href="" class="btn-type-3">
                        Book
                        <img src="{% static 'icons/btn_arrow_white.svg' %}" alt="">
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="top-attractions-slider-section">
        <div class="container">
            <h2 class="top-attractions-title">
                Top Attractions
            </h2>
            <p class="top-attractions-subtitle body-text-b1">
                Create your own amazing experience with a wide range of attractions in Lisbon
            </p>
            <div class="top-attractions-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="img-wrapper">
                            <img src="{% static 'images/top-attractions-slider-img1.png' %}" alt="slider img">
                            <ul class="main-info-list">
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon1.svg' %}" alt="">
                                    Historical
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon2.svg' %}" alt="">
                                    City Name
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon3.svg' %}" alt="">
                                    Winter
                                </li>
                            </ul>
                        </div>
                        <h5 class="slide-title">
                            National Pantheon
                        </h5>
                        <p class="slide-text">
                            Get acquainted with the most prominent figures in the history of Portugal by visiting this eminent monument. Being one of the most
                            important cultural landmarks, the Pantheon impresses with its architecture and historical value, and definitely worse attention.
                        </p>
                        <a href="" class="slide-link-btn btn-type-1">Show more Attractions</a>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-wrapper">
                            <img src="{% static 'images/top-attractions-slider-img1.png' %}" alt="slider img">
                            <ul class="main-info-list">
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon1.svg' %}" alt="">
                                    Historical
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon2.svg' %}" alt="">
                                    City Name
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon3.svg' %}" alt="">
                                    Winter
                                </li>
                            </ul>
                        </div>
                        <h5 class="slide-title">
                            National Pantheon
                        </h5>
                        <p class="slide-text">
                            Get acquainted with the most prominent figures in the history of Portugal by visiting this eminent monument. Being one of the most
                            important cultural landmarks, the Pantheon impresses with its architecture and historical value, and definitely worse attention.
                        </p>
                        <a href="" class="slide-link-btn btn-type-1">Show more Attractions</a>
                    </div>
                    <div class="swiper-slide">
                        <div class="img-wrapper">
                            <img src="{% static 'images/top-attractions-slider-img1.png' %}" alt="slider img">
                            <ul class="main-info-list">
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon1.svg' %}" alt="">
                                    Historical
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon2.svg' %}" alt="">
                                    City Name
                                </li>
                                <li>
                                    <img src="{% static 'icons/top-attractions-slider-icon3.svg' %}" alt="">
                                    Winter
                                </li>
                            </ul>
                        </div>
                        <h5 class="slide-title">
                            National Pantheon
                        </h5>
                        <p class="slide-text">
                            Get acquainted with the most prominent figures in the history of Portugal by visiting this eminent monument. Being one of the most
                            important cultural landmarks, the Pantheon impresses with its architecture and historical value, and definitely worse attention.
                        </p>
                        <a href="" class="slide-link-btn btn-type-1">Show more Attractions</a>
                    </div>
                </div>

                <div class="swiper-pagination"></div>

            </div>
        </div>
    </section>
    <section class="homepage-top-destinations">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="top-destinations-title">
                    Top Destinations
                </h2>
                <a href="" class="btn-type-1">
                    show more
                </a>
            </div>
            <div class="top-destinations-cards-wrapper">
                <div class="top-destinations-col">
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img1.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Lisbon
                        </p>
                    </div>
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img2.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Cascais
                        </p>
                    </div>
                </div>
                <div class="top-destinations-col top-destinations-col--reverse">
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img3.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Fatima
                        </p>
                    </div>
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img2.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Porto
                        </p>
                    </div>
                </div>
                <div class="top-destinations-col">
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img5.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Sintra
                        </p>
                    </div>
                    <div class="top-destinations-card">
                        <img src="{% static 'images/homepage-top-destination-img6.png' %}" alt="top destination img">
                        <p class="top-destination-card-title">
                            Nazare
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="btn-type-1 top-destination-link">
                show more
            </a>
        </div>
    </section>

    <section class="testimonials-slider">
        <div class="container">
            <h2 class="testimonials-title">
                testimonials
            </h2>
            <p class="testimonials-subtitle body-text-b1">
                Read the reviews of our clients about their experience with our service
            </p>
            <div class="testimonials-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p class="swiper-text">
                            Awesome! I wanted to make a trip to Lisbon not only fun but also educational for my kids. Here I found everything I needed. Wanna
                            highlight great communication and customer service. I'll come back, thank you guys:)
                        </p>
                        <div class="author-wrapper">
                            <img src="{% static 'images/testimonials-img1.png' %}" alt="">
                            <p class="name">Katherine Jennerwein</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <p class="swiper-text">
                            Highly recommended! I truly enjoyed this service. The guides are professional and funny. The support team is flexible and
                            understanding. I had a small issue, and it was solved in a blink of an eye. Wish you growth and thankful clients!:)
                        </p>
                        <div class="author-wrapper">
                            <img src="{% static 'images/testimonials-img2.png' %}" alt="">
                            <p class="name">Olivia Carroll</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <p class="swiper-text">
                            Great service! OneDayTours team created a perfect vacation for me and my family. We've ordered a few tours and got full experience
                            of the most amazing spots of Portugal. 100% recommend!
                        </p>
                        <div class="author-wrapper">
                            <img src="{% static 'images/testimonials-img3.png' %}" alt="">
                            <p class="name">Andy Walker</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    <section class="offers-banner">
        <div class="container">
            <h2 class="offers-banner-title">
                Special Offers
            </h2>
            <p class="offers-banner-subtitle">
                Get exclusive benefits and premium discounts with our subscription plan
            </p>
            <form action="" class="offers-banner-form">
                <input type="email" class="email-input" name="email" id="subscription-email" placeholder="Enter Email Address">
                <button type="submit" class="form-submit-btn">
                    Subscribe
                </button>
            </form>
        </div>
    </section>
    <!-- Local JS -->
    <script>
        const swiperAttractionHero = new Swiper(".top-attractions-slider", {
            speed: 4000,
            autoplay: {
                delay: 5000,

            },
            spaceBetween: 136,
            loop: true,
            slidesPerView: 1.6,

            centeredSlides: true,
            breakpoints: {
                200: {
                    slidesPerView: 1.4,
                    spaceBetween: 14,
                },
                768: {
                    slidesPerView: 1.6,
                    spaceBetween: 136,
                    centeredSlides: true,
                }
            },
            // Navigation arrows
            // navigation: {
            //     nextEl: ".swiper-button-next",
            //     prevEl: ".swiper-button-prev",
            // },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
    <script>
        const swiperWhy = new Swiper(".why-cards-wrapper", {
        slidesPerView: 2,
        speed: 10000,  
        spaceBetween: 24,
        autoplay: {
            delay: 100,
                
        },
        loop: true,
        breakpoints: {
            200: {
                spaceBetween: 14,
                slidesPerView: 1.4,
                centeredSlides: true,
                loop:true,
            },
            767: {
                slidesPerView: 3,
                spaceBetween: 44,
                
                
            }
        },
        
        
        });
        
        const swiperTestimonials = new Swiper(".testimonials-slider", {
            speed: 1000,
            spaceBetween: 24,
            loop: true,
            slidesPerView: 3,
            autoplay: {
                delay: 5000,
            },
            centeredSlides: true,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 10,

                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 24,

                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
{% endblock %}