{% extends 'base.html' %}
{% load static %}
{% block title_suffix %}
    {{ object.page_title }}
{% endblock title_suffix %}
<!-- This is child template -->
{% block meta_tags %}
    <meta name="description" content={{ object.page_description }}>
{% endblock meta_tags %}
{% block content %}
    <section>
        {% if object.banner %}
            <img src="{{ object.banner.url }}">
        {% else %}
            <img src="{% static 'images/destination-list-hero-img.png' %}">
        {% endif %}
        <div class="container">
            <sm>child template</sm>
            <h1 class="destination-list-hero-title">
                {{ object.title }} <span>with</span>
                <img src="{% static 'icons/main-logo.svg' %}" alt="Destination logo">
            </h1>
        </div>
    </section>

    <section class="best-tours">
        <div class="container">
            <div class="title-btn-wrapper">
                <h2 class="best-tours-title">
                    {{ object.title }} <span class="currentYear"></span>
                </h2>
            </div>
            <div>{{ object.display_content }}</div>
            <div class="best-tours-cards-wrapper">
                {% if experiences %}
                    {% for experience in experiences %}
                        <div class="best-tours-card">
                            <div class="img-wrapper">
                                <a href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}" target="_blank">
                                    <img src="{% if experience.parent_experience.card_image %}
                                    {{ experience.parent_experience.card_image.url }}
                                    {% else %}{% endif %}" alt="card image for {{ experience.name }}">
                                </a>
                            </div>
                            <div class="card-content-wrapper">
                                <div class="discount-banner-wrapper">
                                    <img src="{% static 'icons/discount-bg.svg' %}" alt="">
                                    <p class="discount">
                                        10% discount
                                    </p>
                                </div>
                                <div class="rating-wrapper body-text-b4">
                                    {% if object.average_rating %}
                                        <div class="rating-block">
                                            <img src="{% static 'icons/5-stars-icon.svg' %}" alt="best tour">
                                            {{ experience.average_rating }}
                                        </div>
                                    {% else %}
                                        <div class="rating-block">
                                            <img src="{% static 'icons/5-stars-icon.svg' %}" alt="best tour">
                                        </div>
                                    {% endif %}
                                </div>
                                <a class="title-link" target="_blank"
                                   href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}">
                                    <p class="best-tours-card-title body-text-b2">
                                        {{ experience.name }}
                                    </p>
                                </a>
                                <div class="tour-info-wrapper">
                                    <ul class="tour-info-list">
                                        <li>
                                            <img src="{% static 'icons/duration-icon.svg' %}" alt="">
                                            {{ experience.display_duration }}
                                        </li>
                                        {% if experience.parent_experience.is_private %}
                                            <li>
                                                <img src="{% static 'icons/private-tour-icon.svg' %}" alt="">
                                                Private experience
                                            </li>
                                        {% else %}

                                            <li>
                                                <img src="{% static 'icons/group-tour-icon.svg' %}" alt="">
                                                Group experience
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <div class="price-link-wrapper">
                                    <p class="tour-price">
                                        € {{ experience.parent_experience.price }}<span>{% if experience.parent_experience.is_private %}{% else %}/ per
                                        person{% endif %}</span>
                                    </p>
                                    <div class="book-banner-wrapper">
                                        <a target="_blank" href="{% url 'experience-detail' lang=experience.language.code.lower slug=experience.slug %}"
                                           class="tour-link btn-type-1">
                                            Book
                                        </a>
                                        <p class="free-canc-title">
                                            + free cancellation
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    No top Expirience found
                {% endif %}
            </div>
            <a href="{% url 'experience-list' lang=current_language %}" class="btn-type-2 mobile">
                show more
            </a>
        </div>
    </section>

    <section class="why">
        <div class="container">
            <h2 class="why-title">
                Why book with OneDayTours?
            </h2>
            <p class="why-subtitle body-text-b1">
                Create the best of your experience by visiting Portugal with our exclusive tours
            </p>
            <div class="why-cards-wrapper">
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon1.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        30+ Experiences in Portugal
                    </p>
                </div>
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon2.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        Guided by local experts
                    </p>
                </div>
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon3.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        Best price guarantee
                    </p>
                </div>
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon4.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        No hidden fees
                    </p>
                </div>
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon5.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        Free cancellation
                    </p>
                </div>
                <div class="why-card swiper-slide">
                    <img src="{% static 'icons/why-icon6.svg' %}" alt="" class="why-card-img">
                    <p class="why-text">
                        Safe and secure website
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="refund-banner">
        <div class="container">
            <div class="img-wrapper">
                <img src="{% static 'icons/refund-banner-icon.svg' %}" alt="">
            </div>
            <div class="banner-content">
                <h3 class="banner-title">
                    Free cancellation + 100% Refund
                </h3>
                <p class="banner-subtitle">
                    Full refund of reservation is available up to 24 hours before your trip starts
                </p>
            </div>
        </div>
    </section>
    <section class="testimonials-slider-section">
        <div class="container">
            <h2 class="testimonials-title">
                testimonials
            </h2>
            <p class="testimonials-subtitle body-text-b1">
                Read the reviews of our clients about their experience with our service
            </p>
            {% if testimonials %}
                <div class="testimonials-slider">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                            <div class="swiper-slide">
                                <p class="swiper-text">
                                    {{ testimonial.short_text }}
                                </p>
                                <div class="author-wrapper">
                                    {% if testimonial.profile.avatar %}
                                        <img src="{{ testimonial.profile.avatar.url }}" alt="Avatar">
                                    {% else %}
                                        <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar">
                                    {% endif %}
                                    <p class="name">{{ testimonial.profile.name }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            {% else %}
                <p>No any testimonials yet...</p>
            {% endif %}
        </div>
    </section>

    <section>
        {% if object.related_landing_pages.all %}
            <div class="container">
                <h2>{% if object.title_related_landing_pages %}{{ object.title_related_landing_pages }}{% else %}{{ object.title }}{% endif %}</h2>
                <ul>
                    {% for land_page in object.related_landing_pages.all %}
                        <li><a href="{% url "landing-page" lang=land_page.language.code.lower slug=land_page.slug %}">{{ land_page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </section>

    <!-- Local JS -->
    <script src="{% static 'js/lang_selector_list_page.js' %}"></script>
    <script>
        const swiperTestimonials = new Swiper(".testimonials-slider", {
            speed: 1000,
            spaceBetween: 24,
            loop: true,
            slidesPerView: 3,
            autoplay: {
                delay: 5000,
            },
            centeredSlides: true,
            breakpoints: {
                200: {
                    slidesPerView: 1,
                    spaceBetween: 10,

                },
                767: {
                    slidesPerView: 3,
                    spaceBetween: 24,

                }
            },
            // Navigation arrows
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
{% endblock %}
